<section data-ng-controller="PeopleController" ng-init="search('newest users')" ng-cloak class="ng-cloak">
    <br />
    <ol class="breadcrumb">
        <li>
            <form class="form-inline" role="search">
                <table>
                    <tr>
                        <td>
                            <input type="text" name="searchTerm" id="searchTerm" class="form-control" ng-model="searchTerm" placeholder="{{langs.lang_strings[26]}}">
                        </td>
                        <td>
                            <button type="button" ng-click="search(false)" class="btn btn-primary form-control">{{langs.lang_strings[88]}}</button>
                        </td>
                    </tr>
                </table>
            </form>
        </li>
    </ol>

    <div class="panel panel-default" ng-if="people.length">
        <div class="panel-body">
                <person  data-ng-repeat="person in people"></person>
        </div>
    </div>
    <div ng-if="people.$resolved || people.length">
        <ul class="pager">
            <li role="presentation" class="active">
                <a href="" ng-click="search(true)">
                    <i class="fa fa-chevron-circle-down fa-lg"></i>
                    {{langs.lang_strings[115]}}</a>
            </li>
        </ul>
    </div>

    <div>
        <alert class="alert text-center" type="danger" data-ng-if="noResults">
        No results found.
        </alert>
    </div>
</section>
