
<div class="row person-list-item">
    <div class="col-xs-2 post-user-thumb">
        <a ui-sref="users.user( {username: person.username})"  ui-sref-opts="{ reload: true }">
            <img data-ng-src="{{person.profileImageURL}}" alt="{{person.displayName}}" class="people-profile-image">
        </a>
    </div>
    <div class="col-xs-10 col-sm-7">
        <blockquote class="blockquote">
            <a ui-sref="users.user( {username: person.username})"  ui-sref-opts="{ reload: true }">
                <h4 class="text-maincolor">{{ person.displayName }}
                    <span class="half-transparent">@{{ person.username }}</span></h4>
                <p>{{ person.tagLine }}</p>
                <footer>{{langs.lang_strings[79]}}<cite title="Source Title"> {{ dateOps.convertDate(person.created) }}</cite>
                </footer>
            </a>
        </blockquote>
    </div>
    <div class="col-xs-12 col-sm-3 text-right" data-ng-controller="FollowersController" ng-if="user && (user._id != person._id)">

        <button type="button" ng-hide="followArrs.isFollowed[person._id]" class="btn btn-primary btn-profile" data-ng-class="{ 'btn-success': hover }" ng-click="create(person._id)"
                data-ng-mouseenter="hover = true" data-ng-mouseleave="hover = false">
            <i class="fa fa-user-plus"></i> {{langs.lang_strings[86]}}</button>
        <button type="button" ng-if="followArrs.isFollowed[person._id]" class="btn btn-success btn-profile" data-ng-class="{ 'btn-danger': hover }" ng-click="unfollow(person._id)"
                data-ng-mouseenter="hover = true" data-ng-mouseleave="hover = false">
            <i class="fa fa-user-times"></i> {{langs.lang_strings[87]}}</button>
    </div>
</div>
<hr />

