<div ng-init="findPosts(false)" ng-cloak class="ng-cloak">
<div data-ng-repeat="post in userPosts track by post._id">
        <div a-post></div>
</div>
<div ng-if="userPosts.length < postCount">
    <ul class="pager">
        <li role="presentation" class="active">
            <a href="" ng-click="findPosts(true)">
                <i class="fa fa-chevron-circle-down fa-lg"></i>
                {{langs.lang_strings[115]}}</a>
        </li>
    </ul>
</div>

</div>

