<section ng-cloak class="ng-cloak" data-ng-controller="ViewProfileController" data-ng-init="findUser()"
         xmlns="http://www.w3.org/1999/html">
    <br />
    <ul class="list-group">
        <li class="list-group-item profile-background">
            <nav class="navbar">
                <div class="container-fluid ">
                    <div class="row ">
                        <div class="col-xs-3">
                                <img id="profileImage" data-ng-src="{{ourUser.profileImageURL}}" alt="{{ourUser.displayName}}" class="profile-image profile-page-profile-image">
                        </div>
                        <div class="col-xs-9 text-right">
                            <blockquote class="blockquote-reverse">
                                <h4 class="text-maincolor">{{ ourUser.displayName }}
                                <span class="half-transparent">@{{ ourUser.username }}</span></h4>
                                <p>{{ ourUser.tagLine }}</p>
                                <footer>{{langs.lang_strings[79]}}<cite title="Source Title"> {{ dateOps.convertDate(ourUser.created) }}</cite>
                                </footer>
                            </blockquote>

                            <button type="button" ng-if="user" class="btn btn-default btn-profile btn-transparent" ng-click="couponOps.replyTo(undefined, undefined, ourUser.username, ourUser._id, [ourUser.username], [ourUser._id])">
                                <i class="fa fa-reply"></i>
                                {{langs.lang_strings[80]}}
                            </button>
                            <a type="button" title="Tweet" class="btn btn-default btn-profile btn-transparent"
                                   href="https://twitter.com/intent/tweet?url=https://betroll.net/users/{{ourUser.username}}" target="_blank">
                                    <i class="fa fa-twitter"></i>
                            </a>
                            <span  class="" data-ng-controller="FollowersController" ng-if="user && (ourUser._id != user._id)">
                                <button type="button" ng-hide="isFollowing" class="btn btn-primary btn-profile" data-ng-class="{ 'btn-success': hover }" ng-click="create(currentUser.user.id)"
                                        data-ng-mouseenter="hover = true" data-ng-mouseleave="hover = false">
                                    <i class="fa fa-user-plus"></i>
                                    &nbsp;&nbsp; {{langs.lang_strings[86]}}
                                </button>
                                <button type="button" ng-show="isFollowing" class="btn btn-success btn-profile" data-ng-class="{ 'btn-danger': hover }" ng-click="unfollow(currentUser.user.id)"
                                        data-ng-mouseenter="hover = true" data-ng-mouseleave="hover = false">
                                    <i class="fa fa-user-times"></i>
                                    &nbsp;&nbsp; {{langs.lang_strings[87]}}
                                </button>
                            </span>
                            <em ng-show="isFollowingUs" class="text-success">
                                <br/>{{langs.lang_strings[130]}}
                            </em>


                        </div>
                    </div>
                    <table class="score-side-table text-center">
                        <tr>
                            <td>
                                <ul class="nav nav-pills">
                                    <li class="profile-pills" role="presentation" ng-class="{'active' : state === 'users.user'}">
                                        <a ui-sref="users.user( {username: ourUser.username} )" ui-sref-opts="{ reload: true }">
                                            <i class="fa fa-pencil-square-o"></i> <span class="hidden-xs">{{langs.lang_strings[81]}}</span>
                                            <br/>{{ postCount }}
                                        </a>
                                    </li>
                                </ul>
                            </td>
                            <td>
                                <ul class="nav nav-pills">
                                    <li class="profile-pills" role="presentation" ng-class="{'active' : state === 'users.shares'}">
                                        <a ui-sref="users.shares( {username: ourUser.username} )"  ui-sref-opts="{ reload: true }">
                                            <i class="fa fa-refresh"></i> <span class="hidden-xs">{{langs.lang_strings[82]}}</span>
                                            <br/>{{ shareCount }}
                                        </a>
                                    </li>
                                </ul>
                            </td>
                            <td>
                                <ul class="nav nav-pills">
                                    <li class="profile-pills" role="presentation" ng-class="{'active' : state === 'users.favs'}">
                                        <a ui-sref="users.favs( {username: ourUser.username} )" ui-sref-opts="{ reload: true }">
                                            <i class="fa fa-heart"></i> <span class="hidden-xs">{{langs.lang_strings[83]}}</span>
                                            <br/>{{ favCount }}
                                        </a>
                                    </li>
                                </ul>
                            </td>
                            <td>
                                <ul class="nav nav-pills">
                                    <li class="profile-pills" role="presentation" ng-class="{'active' : state === 'users.following'}">
                                        <a ui-sref="users.following( {username: ourUser.username} )" ui-sref-opts="{ reload: true }">
                                            <i class="fa fa-user-plus "></i> <span class="hidden-xs">{{langs.lang_strings[84]}}</span>
                                            <br/>{{ followingCount }}
                                        </a>
                                    </li>
                                </ul>
                            </td>
                            <td>
                                <ul class="nav nav-pills">
                                    <li class="profile-pills" role="presentation" ng-class="{'active' : state === 'users.followers'}">
                                        <a ui-sref="users.followers( {username: ourUser.username} )" ui-sref-opts="{ reload: true }">
                                            <i class="fa fa-users"></i> <span class="hidden-xs">{{langs.lang_strings[85]}}</span>
                                            <br/>{{ followersCount }}
                                        </a>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                    </table>
                </div>
            </nav>
</li></ul>
            <ui-view>
            </ui-view>


</section>
