<div ng-init="findFavs(false)" ng-cloak class="ng-cloak">
<div  data-ng-repeat="faved in userFavs track by faved._id">

        <ul class="list-group" ng-if="!faved.post">
            <li class="list-group-item" data-ng-controller="FavsController" ng-hide="hidden[faved._id]">
                <div class="row">
                    <div class="col-xs-12 text-center">
                        <div >{{langs.lang_strings[131]}}
                            <button type="button" class="btn btn-xs btn-link btn-warning" ng-if="faved.user == authentication.user._id" ng-click="hide(faved._id)">
                                {{langs.lang_strings[132]}}</button>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
        <a-post ng-init="post = faved.post"></a-post>

</div>

<div ng-show="userFavs.length < favCount">
    <ul class="pager">
        <li role="presentation" class="active">
            <a href="" ng-click="findFavs(true)">
                <i class="fa fa-chevron-circle-down fa-lg"></i>
                {{langs.lang_strings[115]}}</a>
        </li>
    </ul>
</div>
</div>
