<div ng-init="findShares(false)" ng-cloak class="ng-cloak">
    <div data-ng-repeat="shared in userShares track by shared._id">

        <ul class="list-group" ng-hide="shared.post">
            <li class="list-group-item"  data-ng-controller="ListsController" ng-hide="hidden[shared._id]">
                <div class="row">
                    <div class="col-xs-12 text-center">
                        {{langs.lang_strings[131]}}
                            <button type="button" class="btn btn-xs btn-link btn-warning" ng-if="shared.user == authentication.user._id" ng-click="hide(shared._id)">
                                {{langs.lang_strings[132]}}</button>
                    </div>
                </div>
            </li>
        </ul>
            <a-post ng-init="post = shared.post"></a-post>

    </div>
    <div ng-show="userShares.length < shareCount">
        <ul class="pager">
            <li role="presentation" class="active">
                <a href="" ng-click="findShares(true)">
                    <i class="fa fa-chevron-circle-down fa-lg"></i>
                    {{langs.lang_strings[115]}}</a>
            </li>
        </ul>
    </div>
</div>
