<div ng-init="findFollowers(false)" ng-cloak class="ng-cloak">
<div>
    <ul class="list-group" >
        <li class="list-group-item">
            <person  ng-init="person = item.user"  data-ng-repeat="item in userFollowers track by item._id"></person>
        </li>
    </ul>
</div>
<div ng-show="userFollowers.length < followersCount">
    <ul class="pager">
        <li role="presentation" class="active">
            <a href="" ng-click="findFollowers(true)">
                <i class="fa fa-chevron-circle-down fa-lg"></i>
                {{langs.lang_strings[115]}}</a>
        </li>
    </ul>
</div>
</div>
