<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" ng-controller="PageController">

<head>
	<title>{{title}}</title>

	<!-- General META -->
	<meta charset="utf-8">
	<meta http-equiv="Content-type" content="text/html;charset=UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="fragment" content="!" />
	<base href="/"/>

	<!-- Responsive META -->
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="msvalidate.01" content="9D2CBDDB8DCE44BBE09AE3A624DE8127" />
	<!-- Semantic META -->
	<meta name="keywords" content="{{keywords}}">
	<meta name="description" content="{{description}}">

	<!-- Facebook META -->
	<meta property="fb:app_id" content="{{facebookAppId}}">
	<meta property="og:site_name" content="{{title}}">
	<meta property="og:title" content="{{title}}">
	<meta property="og:description" content="{{description}}">
	<meta property="og:url" content="{{url.split('?fragment_data')[0]}}">
	<meta property="og:image" content="https://betroll.net/modules/core/img/brand/logo.png">
	<meta property="og:type" content="website">

	<!-- Twitter META -->
	<meta name="twitter:card" content="summary" />
	<meta name="twitter:site" content="@betrollnet">
	<meta name="twitter:title" content="{{title}}">
	<meta name="twitter:description" content="{{description}}">
	<meta name="twitter:url" content="{{url.split('?fragment_data')[0]}}">
	<meta name="twitter:image" content="https://betroll.net/modules/core/img/brand/logo.png">

	<!-- Fav Icon -->
	<link href="https://betroll.net/modules/core/img/brand/favicon.ico" rel="shortcut icon" type="image/x-icon">
	<link href="https://betroll.net/modules/core/img/brand/b_180.png" rel="apple-touch-icon" sizes="180x180" />
	<link href="https://betroll.net/modules/core/img/brand/b_192.png" rel="icon" sizes="192x192" />
	<!--Application CSS Files-->
	{% for cssFile in cssFiles %}<link rel="stylesheet" href="{{cssFile}}">{% endfor %}

	<!-- HTML5 Shim -->
	<!--[if lt IE 9]>
		<script src="https://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
				m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		ga('create', 'UA-61841309-1', 'auto');
		ga('send', 'pageview');

	</script>
</head>

<body class="ng-cloak bg-pattern">
<div class="bg-full" ng-show="$state.current.name === 'home'">
<div class="home-bg-pan">
	<div class="home-bg-pan-overlay"></div>
</div>
</div>

	<header data-ng-include="'/modules/core/views/header.client.view.html'"></header>
	<toaster-container toaster-options="{'position-class': 'toast-bottom-left', 'time-out' : '3000', 'close-button':   true }"></toaster-container>

<section class="content">
	<section class="container">
		<div class="row no-gutter">
			<div class="col-xs-12 col-sm-12 col-md-8">
				{% block content %}{% endblock %}
			</div>
			<div class="col-xs-12 col-sm-12 col-md-4">
				<toaster-container toaster-options="{'position-class': 'toast-bottom-left', 'time-out' : '3000', 'close-button':   true }"></toaster-container>
				<br  class="hidden-xs hidden-sm" />
				<create-post class="hidden-xs hidden-sm"></create-post>
				<br  class="hidden-xs hidden-sm" />
				<signup-form class="eighty-transparent"></signup-form>
				<br />
				<a-game-side></a-game-side>
			</div>
		</div>
	</section>
</section>


	<!--Embedding The User Object-->
	<script type="text/javascript">
		var user = {{ user | json | safe }};
	</script>
	
	<!--Application JavaScript Files-->
	{% for jsFile in jsFiles %}<script type="text/javascript" src="{{jsFile}}"></script>{% endfor %} 

	{% if process.env.NODE_ENV === 'development' %}
	<!--Livereload script rendered -->
	<script type="text/javascript" src="{{host}}:35729/livereload.js"></script>
	{% endif %}

<br /><br /><br /><br />
</body>

</html>
