<section data-ng-controller="NotificationsController" data-ng-init="find()">
    <br />
    <ol class="breadcrumb">
        <li>
            <span class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu3" data-toggle="dropdown" aria-expanded="true">
                    {{ notifFilterName || langs.lang_strings[69]}}
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
                    <li role="presentation" class="dropdown-header">{{langs.lang_strings[69]}}</li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="" ng-click="setFilter(undefined)">{{langs.lang_strings[39]}}</a></li>
                    <li role="presentation" class="divider"></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="" ng-click="setFilter('mention')">{{langs.lang_strings[70]}}</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="" ng-click="setFilter('follow')">{{langs.lang_strings[71]}}</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="" ng-click="setFilter('share')">{{langs.lang_strings[72]}}</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="" ng-click="setFilter('fav')">{{langs.lang_strings[73]}}</a></li>
                </ul>

            </span>
        </li>
    </ol>
    <ul class="list-group">

        <li data-ng-repeat="notification in notifications | filter: notifFilter" class="list-group-item">
			<div>
                <a data-ng-href="/#!/users/{{notification.user.username}}" class="text-center">
                    <img data-ng-src="{{notification.user.profileImageURL}}" alt="{{notification.user.displayName}}" class="header-profile-image">
                    <strong>{{ notification.user.displayName }}</strong>
                    <span class="text-muted">@{{ notification.user.username }}</span>
                </a>
                <span class="label" data-ng-bind="langs.lang_strings[notifTypes[notification.type]]" ng-class="{
                'label-success' : notification.type === 'follow',
                'label-danger' : notification.type === 'unfollow',
                'label-info' : notification.type === 'share',
                'label-warning' : notification.type === 'fav',
                'label-primary' : notification.type === 'mention'
                }"></span>

				<span class="text-muted">
                    {{ dateOps.convertDateRelative(notification.created) }}
				</span>
			</div>
            <div ng-if="notification.type === 'fav' || notification.type === 'share' || notification.type === 'mention'" class="notif-post">
                <a-post ng-init="post = notification.post"></a-post>
            </div>
        </li>
    </ul>

    <alert class="alert text-center" type="danger" data-ng-hide="!notifications.$resolved || notifications.length">
        {{langs.lang_strings[133]}}
    </alert>
</section>
