<span class="label label-info" ng-if="shared">
    <a ui-sref="users.user( {username: shared.user.username})" ui-sref-opts="{ reload: true }" class="inverted">
        <strong ng-bind="shared.user.displayName"></strong>
        <span>@<span ng-bind="shared.user.username"></span></span>
    </a> <span class="inverted" ng-bind="langs.lang_strings[125]"></span>
        <span class="inverted" ng-bind="dateOps.convertDateRelative(shared.created)">
    </span>
</span>
<span data-value="{{post._id}}"></span>
<ul class="list-group" ng-if="post._id">
    <li class="list-group-item">
        <div class="row">
            <div class="col-sm-2 hidden-xs">
                <a ui-sref="users.user( {username: post.user.username})" ui-sref-opts="{ reload: true }">
                    <img data-ng-src="{{post.user.profileImageURL}}" class="profile-image">
                </a>
            </div>
            <div class="col-xs-12 col-sm-10">
                <a ui-sref="users.user( {username: post.user.username})" ui-sref-opts="{ reload: true }"
                   class="text-center">
                    <img data-ng-src="{{post.user.profileImageURL}}" class="header-profile-image visible-xs-inline">
                    <strong ng-bind="post.user.displayName"></strong>
                    <span class="text-muted">@<span ng-bind="post.user.username"></span></span>
                </a>
                <a ui-sref="posts.view( {postId: post._id})" ui-sref-opts="{ reload: true }"
                   class="pull-right text-muted">
                    <small ng-bind="dateOps.convertDateRelative(post.created)">
                    </small>
                </a>
                <hr class="post-hr"/>
                <div class="post-text-box">
                            <span ng-repeat="replied in post.usernames">
                                <a ng-class="{'text-muted' : replied === post.user.username, 'text-mention': replied !== post.user.username }"
                                   ui-sref="users.user( {username: replied})" ui-sref-opts="{ reload: true }"
                                   class="highlight"><strong>@<strong ng-bind="replied"></strong></strong></a>
                            &nbsp;
                            </span>
                            <span data-ng-bind-html="post.postText | linky:'_blank' | highlightWords: searchTerm"
                                  class="post-text">
                            </span>
                </div>
                <show-embed ng-if="post.embedURL" embed-url="{{ post.embedURL }}"></show-embed>

                <div data-ng-if="post.imageURL.length">
                    <br/>
                    <a href="uploads/{{ post.imageURL }}" target="_blank">
                        <img id="image_target" data-ng-src="uploads/res/{{ post.imageURL }}"
                             class="post-image">
                    </a>
                </div>
                <div data-ng-if="post.coupon.length">
                    <br/>
                    <div class="panel panel-default panel-post">
                        <div class="panel-body">
                            <div class="text-right text-muted">
                                <span class="label label-default pull-left" ng-bind="langs.lang_strings[36]"></span>
                                <small>
                                    <span ng-bind="post.coupon.length"></span>
                                    <span ng-bind="langs.lang_strings[94]"></span><span ng-if="post.coupon.length != 1"
                                                                                        ng-bind="langs.lang_strings[95]"></span>
                                </small>
                            </div>
                            <div ng-repeat="item in post.coupon" style="overflow: hidden !important;">
                                <betted-game></betted-game>
                            </div>
                            <button type="button" class="btn btn-default highlight pull-right btn-bet">
                                    <i class="fa fa-check-square text-muted"></i> <span class="text-muted" ng-bind="langs.lang_strings[93]"></span>
                                    <span class="text-danger" ng-bind="post.totalOdds | number: 2"></span>
                            </button>
                        </div>
                    </div>
                </div>
                <div data-ng-if="post.quotedGames.length">
                    <br/>
                    <div class="panel panel-default panel-post">
                        <div class="panel-body">
                            <div class="text-right text-muted">
                                <span class="label label-default pull-left" ng-bind="langs.lang_strings[35]"></span>
                                <small>
                                    <span ng-bind="post.quotedGames.length"></span>
                                    <span ng-bind="langs.lang_strings[94]"></span><span ng-if="post.quotedGames.length != 1" ng-bind="langs.lang_strings[95]"></span>
                                </small>
                            </div>
                            <div>
                                <quoted-game></quoted-game>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <table class="score-side-table text-center post-buttons"  ng-if="user || authentication.user">
            <tr>
                <td data-ng-controller="FavsController">
                    <a type="button" ng-hide="favArrs.isFaved[post._id]" title="{{langs.lang_strings[61]}}"
                       class="btn btn-default btn-post forty-transparent" data-ng-class="{ 'text-fav': hoverf }"
                       ng-click="addToFavs(post._id, post.user._id)"
                       data-ng-mouseenter="hoverf = true" data-ng-mouseleave="hoverf = false">
                        <i class="fa fa-heart-o fa-lg"></i>
                        <span ng-if="favCountOfPost" ng-bind="favCountOfPost"></span>
                    </a>
                    <a type="button" ng-if="favArrs.isFaved[post._id]" title="{{langs.lang_strings[62]}}"
                       class="btn btn-default text-fav btn-post" data-ng-class="{ 'text-danger': hoverf }"
                       ng-click="removeFromFavs(post._id)"
                       data-ng-mouseenter="hoverf = true" data-ng-mouseleave="hoverf = false">
                        <i class="fa fa-heart fa-lg"></i>
                        <span ng-if="favCountOfPost" ng-bind="favCountOfPost"></span>
                    </a>
                </td>
                <td data-ng-controller="ListsController">
                    <a type="button" ng-hide="listArrs.isShared[post._id]" title="{{langs.lang_strings[63]}}"
                            class="btn btn-default btn-post forty-transparent" data-ng-class="{ 'text-share': hovers }"
                            ng-click="addToLists(post._id, post.user._id)"
                            data-ng-mouseenter="hovers = true" data-ng-mouseleave="hovers = false">
                        <i class="fa fa-refresh fa-lg"></i>
                        <span ng-if="shareCountOfPost" ng-bind="shareCountOfPost"></span>
                    </a>
                    <a type="button" ng-if="listArrs.isShared[post._id]" title="{{langs.lang_strings[64]}}"
                            class="btn btn-default text-share btn-post" data-ng-class="{ 'text-danger': hovers }"
                            ng-click="removeFromLists(post._id)"
                            data-ng-mouseenter="hovers = true" data-ng-mouseleave="hovers = false">
                        <i class="fa fa-refresh fa-lg"></i>
                        <span ng-if="shareCountOfPost" ng-bind="shareCountOfPost"></span>
                    </a>
                </td>
                <td>
                    <a type="button" role="button" title="Tweet" class="btn btn-default btn-post forty-transparent twitter"
                       href="https://twitter.com/intent/tweet?url=https://betroll.net/posts/{{post._id}}" target="_blank">
                        <i class="fa fa-twitter fa-lg"></i>
                    </a>
                </td>
                <td>
                    <a type="button" class="btn btn-default btn-post forty-transparent"
                       title="{{langs.lang_strings[68]}}"
                            ng-if="(post.user._id == user._id) &&  $state.current.name === 'posts.view'"
                            ng-class="{ 'text-del': danger }" ng-click="remove()" data-ng-mouseenter="danger = true"
                            data-ng-mouseleave="danger = false">
                        <i class="fa fa-times fa-lg"></i>
                    </a>
                </td>
                <td>
                    <a type="button" title="{{langs.lang_strings[66]}}" class="btn btn-default btn-post forty-transparent"
                            data-ng-class="{ 'text-success': hover }" ng-click="couponOps.openThread(post._id)"
                            data-ng-mouseenter="hover = true" data-ng-mouseleave="hover = false">
                        <i class="fa fa-comments fa-lg"></i>
                    </a>
                </td>
                <td>
                    <a type="button" class="btn btn-default btn-post forty-transparent"
                       title="{{langs.lang_strings[67]}}"
                            ng-click="couponOps.replyTo(post._id, post.postIds, post.user.username, post.user._id, post.usernames, post.userIds);"
                            ng-class="{ 'text-success': hoverr }" data-ng-mouseenter="hoverr = true"
                            data-ng-mouseleave="hoverr = false">
                        <i class="fa fa-reply fa-lg"></i>
                    </a>
                </td>
            </tr>
        </table>
    </li>
</ul>

