<div data-ng-controller="PostsController" data-ng-show="authentication.user" ng-cloak
     class="list-group-item">

    <form data-ng-submit="create()" novalidate>

            <a href="" class="pull-right text-muted" ng-click="ok()" ng-if="!$state.current.name"><i
                    class="fa fa-close fa-lg"></i></a>
            <h4 class="modal-title text-maincolor"><i class="fa fa-plus"></i> {{langs.lang_strings[43]}}</h4>
        <hr class="post-box-hr">
            <div class="" ng-if="couponOps.ReplyingTo.usernames.length"><span class="half-transparent">{{langs.lang_strings[117]}}</span>
                <a class="text-center"
                   ng-class="{'text-muted' : replied === user.username, 'text-mention': replied !== user.username }"
                   ng-repeat="replied in couponOps.ReplyingTo.usernames"
                   data-ng-href="/#!/posts/thread/{{couponOps.ReplyingTo.postIds[couponOps.ReplyingTo.postIds.length - 1]}}"
                   title="{{langs.lang_strings[65]}}">
                    <strong class="highlight">@{{ replied }}</strong> &nbsp;
                </a>
                &nbsp;
                <a href="" ng-click="couponOps.unReplyTo()" class="text-muted">
                    <i class="fa fa-close fa-xs"></i> {{langs.lang_strings[124]}}
                </a>
            </div>
            <fieldset>
                <div class="form-group">
                    <div class="controls">
                        <textarea id="TextArea" ng-model="couponOps.postText" class="form-control textarea-grow"
                                  ng-keyup="autoExpand($event)" placeholder="{{langs.lang_strings[32]}}" required>
                        </textarea>
                    </div>
                </div>
                <div class="list-group">
                    <span class="label label-default">{{langs.lang_strings[33]}}</span>
                    <small class="pull-right text-muted" data-ng-hide="uploader.queue.length">
                        {{langs.lang_strings[34]}}
                    </small>
                    <button type="button" class="pull-right btn btn-xs close-button-gray"
                            data-ng-click="cancelUpload();" data-ng-if="uploader.queue.length">
                        {{langs.lang_strings[116]}}
                    </button>
                    <img id="image_target" data-ng-src="{{imageURL}}" class="img-thumbnail post-image"
                         data-ng-if="uploader.queue.length">
                </div>
                <div class="list-group">
                    <span class="label label-default">{{langs.lang_strings[35]}}</span>
                    <small class="pull-right text-muted">{{ couponOps.GlobalQuotes.quotes.length }}
                        {{langs.lang_strings[94]}}<span ng-if="couponOps.GlobalQuotes.quotes.length != 1">{{langs.lang_strings[95]}}</span>
                    </small>
                    <div class="list-group-item sideCoupon my-animation"
                         ng-repeat="quotes in couponOps.GlobalQuotes.quotes">
                        <div class="clearfix">

                            <i class="fa fa-clock-o text-muted sideCoupon"></i> <span class="text-muted sideCoupon">{{ dateOps.convertDate(quotes.dateTime) }}</span>
                                        <span class="btn-group btn-group-xs pull-right" role="group"
                                              aria-label="mainOdds">
                                                <button type="button" class="btn btn-default btn-bet sideCoupon disabled"
                                                        title="{{langs.lang_strings[158]}}" ng-if="quotes.odd1">
                                                    <i class="fa fa-home fa-lg text-muted"></i>
                                                    {{ quotes.odd1 | number : 2 }}
                                                </button>
                                                <button type="button" class="btn btn-default  btn-bet sideCoupon disabled"
                                                        title="{{langs.lang_strings[158]}}" ng-if="quotes.odd2">
                                                    <i class="fa fa-bars fa-lg text-muted"></i>
                                                    {{ quotes.odd2 | number : 2 }}
                                                </button>
                                                <button type="button" class="btn btn-default btn-bet sideCoupon disabled"
                                                        title="{{langs.lang_strings[160]}}" ng-if="quotes.odd3">
                                                    <i class="fa fa-plane fa-lg text-muted"></i>
                                                    {{ quotes.odd3 | number : 2 }}
                                                </button>
                                            <button type="button" title="{{langs.lang_strings[68]}}"
                                                    class="btn btn-danger  btn-bet sideCoupon"
                                                    ng-click="couponOps.removeQuoteField($index)">x
                                            </button>
                                        </span>
                        </div>
                        <div><a data-ng-href="/#!/games/{{quotes.gameID}}"><strong>{{ quotes.teamNames }}</strong></a>
                        </div>

                    </div>
                </div>
                <div class="list-group betslip">
                    <span class="label label-default">{{langs.lang_strings[36]}}</span>
                    <small class="pull-right text-muted">{{ couponOps.GlobalCoupon.coupon.length }}
                        {{langs.lang_strings[94]}}<span ng-if="couponOps.GlobalCoupon.coupon.length != 1">{{langs.lang_strings[95]}}</span>
                    </small>
                    <div class="list-group-item my-animation"
                         ng-repeat="item in couponOps.GlobalCoupon.coupon">
                        <a data-ng-href="/#!/games/{{item.gameID}}">
                            <strong class="sideCoupon">{{ item.teamNames }}</strong>
                        </a>
                        <br/>
                        <i class="fa fa-clock-o text-muted sideCoupon"></i> <span class="text-muted sideCoupon">{{dateOps.convertDate(item.dateTime) }}</span>
                                            <span class="btn-group btn-group-xs pull-right">
                                                <button type="button"
                                                        class="btn btn-xs btn-bet sideCoupon disabled">
                                                    {{langs.lang_strings.odds[item.betTypeShort.split('.')[0]][item.betTypeShort.split('.')[1]]}}
                                                </button>
                                                <button type="button"
                                                        class="btn btn-xs btn-primary  btn-bet sideCoupon disabled">{{ item.odd |
                                                    number: 2 }}
                                                </button>
                                                <button type="button" title="{{langs.lang_strings[68]}}"
                                                        class="btn btn-danger  btn-bet sideCoupon"
                                                        ng-click="couponOps.removeFormField($index)">x
                                                </button>
                                            </span>
                    </div>
                                <span class="label label-primary pull-right"
                                      ng-if="couponOps.GlobalCoupon.totalOdds > 1.001">
                                    <i class="fa fa-check-square"></i> {{langs.lang_strings[93]}} {{ couponOps.GlobalCoupon.totalOdds | number: 2  }}</span>

                </div>
            </fieldset>

<hr class="post-box-hr">
        <div class="text-right">
        <span class="btn btn-default btn-file pull-left" data-ng-hide="uploader.queue.length">
            <i class="fa fa-file-image-o fa"></i>
            <input type="file" nv-file-select uploader="uploader">
        </span>
            <button class="btn btn-primary send-button" title="{{langs.lang_strings[118]}}">
                <strong><em>r o l l</em></strong>
            </button>
        </div>
    </form>
</div>
