<section data-ng-controller="PostsController" data-ng-init="findSlips(false)"  ng-cloak class="ng-cloak">
    <br />
    <post-buttons></post-buttons>

    <div data-ng-repeat="post in posts track by post._id">
        <a-post></a-post>
    </div>

    <div ng-if="posts.$resolved || posts.length">
        <ul class="pager">
            <li role="presentation" class="active">
                <a href="" ng-click="findSlips(true)">
                    <i class="fa fa-chevron-circle-down"></i>
                    {{langs.lang_strings[115]}}</a>
            </li>
        </ul>
    </div>

</section>
