<section data-ng-controller="PostsController" ng-cloak class="ng-cloak">
    <br />
<div >
    <ul class="list-group">
        <li class="list-group-item">
            <div class="row">
                <div class="col-xs-10 col-xs-offset-1">
                    <h2 class="text-center">
                        <i class="fa fa-exclamation-triangle text-danger"></i>
                        <br />
                        {{langs.lang_strings[120]}}
                    </h2>
                    <h4 class="text-center">
                        {{langs.lang_strings[121]}}
                    </h4>
                            <p class="text-center text-muted">{{langs.lang_strings[122]}} <cite>{{langs.lang_strings[123]}}</cite></p>


                    <img class="img-thumbnail post-image" ng-src="modules/core/img/notfound.jpg">
                </div>
            </div>
        </li>

    </ul>

</div>
</section>
