<ol class="breadcrumb">
    <li>
        <a data-ui-sref="posts.list" ui-sref-opts="{ reload: true }" class="text-muted" ng-class="{'text-primary': $state.current.name==='posts.list'}">
            <span ng-if="tickerVars.Timeline.latest" class="label label-info">{{tickerVars.Timeline.latest}}</span>
            <i class="fa fa-heartbeat fa-lg"></i>
            {{langs.lang_strings[22]}}
        </a>
    </li>
    <li>
        <a data-ui-sref="posts.slips" ui-sref-opts="{ reload: true }" class="text-muted" ng-class="{'text-primary': $state.current.name==='posts.slips'}">
            <i class="fa fa-check-square"></i>
            {{langs.lang_strings[182]}}
        </a>
    </li>
    <li>
        <a data-ui-sref="lists.list" ui-sref-opts="{ reload: true }" class="text-muted" ng-class="{'text-primary': $state.current.name==='lists.list'}">
            <span ng-if="tickerVars.Shared.latest" class="label label-info">{{tickerVars.Shared.latest}}</span>
            <i class="fa fa-refresh fa-lg"></i>
            {{langs.lang_strings[23]}}
        </a>
    </li>
</ol>
