<section data-ng-controller="PostsController" data-ng-init="search(false)"  ng-cloak class="ng-cloak">
    <br />

    <ol class="breadcrumb">
        <li>
            <form class="form-inline" role="search">
                <table>
                    <tr>
                        <td>
                            <input type="text" name="searchTerm" id="searchTerm" class="form-control" ng-model="searchTerm" placeholder="{{langs.lang_strings[26]}}">
                        </td>
                        <td>
                            <button type="button" ng-click="search(false)" class="btn btn-primary form-control">{{langs.lang_strings[90]}}</button>
                        </td>
                    </tr>
                </table>
            </form>
        </li>
    </ol>

    <div data-ng-repeat="post in posts track by post._id">
        <div a-post></div>
    </div>


    <div ng-if="posts.$resolved || posts.length">
        <ul class="pager">
            <li role="presentation" class="active">
                <a href="" ng-click="search(true)">
                    <i class="fa fa-chevron-circle-down fa-lg"></i>
                    load more</a>
            </li>
        </ul>
    </div>
    <div>
        <alert class="alert text-center" type="danger" data-ng-if="noResults">
                    No results found.
        </alert>
    </div>
</section>
