<section data-ng-controller="PostsController" data-ng-init="findThread()" ng-cloak class="ng-cloak">
	<br />
	<div data-ng-repeat="post in posts track by post._id">
		<a  class="anchor" id="{{post._id}}"></a>

			<div ng-class="{ 'thread-active' : activePost === post._id }">
				<div a-post></div>
			</div>
	</div>
</section>
