<span id="state" data-value="{{$state.current.name}}"></span>
<button type="button" class="btn btn-primary jump-to-top" ng-click="jumptoTop()"><i class="fa fa-arrow-up fa-lg"></i></button>
<nav class="navbar navbar-default navbar-fixed-top eighty-transparent">
	<div class="container-fluid" data-ng-controller="HeaderController">
		<div class="navbar-header navbar-left">
			<a data-ui-sref="home" ui-sref-opts="{ reload: true }" class="navbar-brand">
				<img src="/modules/core/img/brand/logo.png" title="Betroll" class="logo">
				<img ng-show="progressBar.status" src="/modules/core/img/loaders/245.gif">
			</a>
			<ul class="nav navbar-nav pull-left" data-ng-if="authentication.user">
				<li class="pull-left" data-ng-class="{active: $state.includes('games')}">
					<a class="" data-ui-sref="games.list" ui-sref-opts="{ reload: true }">
						<i class="fa fa-trophy fa-lg"></i>
						<span class="hidden-xs">{{langs.lang_strings[21]}}</span></a>
				</li>
				<li class="pull-left" data-ng-class="{active: $state.includes('posts') || $state.includes('lists')}">
					<a class="" data-ui-sref="posts.list" ui-sref-opts="{ reload: true }">
						<span ng-if="tickerVars.Timeline.latest" class="label label-info ticker">{{tickerVars.Timeline.latest}}</span>
						<i class="fa fa-heartbeat fa-lg"></i>
						<span class="hidden-xs">{{langs.lang_strings[22]}}</span>
					</a>
				</li>
				<li class="pull-left" data-ng-class="{active: $state.includes('notifications')}">
					<a class="" data-ui-sref="notifications.list" ui-sref-opts="{ reload: true }">
						<span ng-if="tickerVars.Notifications.latest" class="label label-info ticker">{{tickerVars.Notifications.latest}}</span>
						<i class="fa fa-bell fa-lg"></i>
						<span class="hidden-xs">{{langs.lang_strings[24]}}</span>
					</a>
				</li>
			</ul>
			<ul class="nav navbar-nav pull-right visible-xs">
				<li >
					<a href=""  data-ng-click="toggleCollapsibleMenu()">
						<span class="sr-only">Toggle navigation</span>
						<i class="fa fa-bars fa-lg"></i> &nbsp;&nbsp;
					</a>
				</li>
			</ul>
		</div>

		<nav class="collapse navbar-collapse" collapse="!isCollapsed">
				<div class="navbar-header navbar-right">
					<ul class="nav navbar-nav pull-right" data-ng-if="!authentication.user">
						<li class="pull-left">
							<a href="" class=" "  ng-click="couponOps.openModal('modules/users/views/authentication/signin.client.view.html', 'sm')">
								<i class="fa fa-sign-in fa-lg"></i>&nbsp;&nbsp;{{langs.lang_strings[14]}}
							</a>
						</li>
						<li class="dropdown pull-right">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
								<i class="fa fa-language fa-lg"></i> {{ langs.current_lang }} <span class="caret"></span>&nbsp;&nbsp;</a>
							<ul class="dropdown-menu">
								<li>
									<a href="" ng-click="loadLangs.load('tr')" ng-if="langs.current_lang !== 'tr'">
										<img src="modules/core/img/brand/tr_flag.png" class="header-lang"> Türkçe
									</a>
								</li>
								<li>
									<a href="" ng-click="loadLangs.load('ru')" ng-if="langs.current_lang !== 'ru'">
										<img src="modules/core/img/brand/ru_flag.png" class="header-lang"> Русский
									</a>
								</li>
								<li>
									<a href="" ng-click="loadLangs.load('de')" ng-if="langs.current_lang !== 'de'">
										<img src="modules/core/img/brand/de_flag.png" class="header-lang"> Deutsch
									</a>
								</li>
								<li>
									<a href="" ng-click="loadLangs.load('en')" ng-if="langs.current_lang !== 'en'">
										<img src="modules/core/img/brand/uk_flag.png" class="header-lang"> English
									</a>
								</li>
							</ul>
						</li>
					</ul>

					<ul class="nav navbar-nav navbar-right" data-ng-if="authentication.user">
						<li class="pull-left">
							<a href="" data-ng-if="authentication.user" title="{{langs.lang_strings[43]}}" ng-click="couponOps.openModal('modules/posts/views/create-post-xs.client.view.html')">
								<i class="fa fa-plus fa-lg"></i>
							</a>
						</li>
						<li class="dropdown pull-right ">
							<a href="#" class="dropdown-toggle pull-right" data-toggle="dropdown">
								<i class="fa fa-ellipsis-h fa-lg"></i> &nbsp;&nbsp;
							</a>
							<ul class="dropdown-menu">
								<li data-ui-sref-active="active">
									<a data-ui-sref="users.user( {username: authentication.user.username})"  ui-sref-opts="{ reload: true }">
										<img data-ng-src="{{authentication.user.profileImageURL}}" alt="{{authentication.user.displayName}}" class="header-profile-image"/>
										&nbsp;{{langs.lang_strings[27]}}</a>
								</li>
								<li data-ui-sref-active="active">
									<a data-ui-sref="settings.profile"><i class="fa fa-cog fa-lg"></i>&nbsp;&nbsp;{{langs.lang_strings[28]}}</a>
								</li>
								<li data-ui-sref-active="active">
									<a data-ui-sref="settings.picture"><i class="fa fa-camera fa-lg"></i>&nbsp;&nbsp;{{langs.lang_strings[29]}}</a>
								</li>
								<li data-ui-sref-active="active" data-ng-if="authentication.user.provider === 'local'">
									<a data-ui-sref="settings.password"><i class="fa fa-key fa-lg"></i>&nbsp;&nbsp;{{langs.lang_strings[30]}}</a>
								</li>
								<li class="divider"></li>
								<li>
									<a href="/api/auth/signout" target="_self"><i class="fa fa-sign-out fa-lg"></i>&nbsp;&nbsp;{{langs.lang_strings[31]}}</a>
								</li>
							</ul>
						</li>
						<li class="pull-right" data-ng-class="{active: $state.includes('people')}">
							<a data-ui-sref="people" title="{{langs.lang_strings[25]}}">
								<i class="fa fa-users fa-lg"></i>
							</a>
						</li>
						<li class="pull-right" data-ng-class="{active: $state.includes('posts.search')}">
							<a data-ui-sref="posts.search" title="{{langs.lang_strings[26]}}">
								<i class="fa fa-search fa-lg"></i>
							</a>
						</li>

					</ul>
				</div>
		</nav>
	</div>
</nav>
