<section data-ng-controller="HomeController" class="">
    <br />
    <div class="jumbotron no-bg text-left">
        <h3>{{langs.lang_strings[0]}}</h3>
        <h1>{{langs.lang_strings[1]}}</h1>
        <p>{{langs.lang_strings[2]}}
        </p>
    </div>


    <div class="inverted half-transparent hidden-xs hidden-sm">
        <p><small>
            {{langs.lang_strings[3]}}<br />
            <a href="https://flic.kr/p/9CARph" class="inverted" target="_blank">
                {{langs.lang_strings[5]}} <cite title="Source Title">{{langs.lang_strings[6]}}</cite>
            </a>
            </strong>
        </small>
        </p>
    </div>

</section>
