<section data-ng-controller="PasswordController" data-ng-if="!authentication.user">
    <div class="col-xs-12">
        <div><br /><br /></div>
        <div class="jumbotron signup">
            <h2 class="text-warning">{{langs.lang_strings[16]}}</h2>

            <alert data-ng-if="error" type="danger" class="alert text-center ">
                {{error}}
            </alert>
            <alert data-ng-if="success" type="success" class="alert text-center ">
                {{success}}
            </alert>
            <form name="userForm" data-ng-submit="askForPasswordReset()" class="signin form-inline" novalidate autocomplete="off">
                <fieldset>
                    <div class="form-group">
                        <input type="text" id="username" name="username" class="form-control"
                               data-ng-model="credentials.username" placeholder="{{langs.lang_strings[12]}}">
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-warning"
                                ng-disabled="progressBar.status">{{langs.lang_strings[17]}}</button>
                    </div>
                </fieldset>
            </form></div>
    </div>
</section>
