<section class="row"  data-ng-controller="PasswordController" data-ng-if="!authentication.user">
    <div class="col-xs-12">
        <div><br /><br /></div>
        <div class="jumbotron signup">
            <h2 class="text-warning">{{langs.lang_strings[154]}}</h2>
            <alert data-ng-if="error" type="danger" class="alert text-center ">
                {{error}}
            </alert>


        <form data-ng-submit="resetUserPassword()" class="signin" autocomplete="off">
            <fieldset>
                <div class="form-group">
                    <label for="newPassword">{{langs.lang_strings[104]}}</label>
                    <input type="password" id="newPassword" name="newPassword" class="form-control" data-ng-model="passwordDetails.newPassword" placeholder="New Password">
                </div>
                <div class="form-group">
                    <label for="verifyPassword">{{langs.lang_strings[105]}}</label>
                    <input type="password" id="verifyPassword" name="verifyPassword" class="form-control" data-ng-model="passwordDetails.verifyPassword" placeholder="Verify Password">
                </div>
                <div class="text-center form-group">
                    <button type="submit" class="btn btn-primary" ng-disabled="progressBar.status">{{langs.lang_strings[106]}}</button>
                </div>

            </fieldset>
        </form>
    </div>
                </div>

</section>

