<section class="row text-center" data-ng-controller="PasswordController" data-ng-if="!authentication.user">
	<div class="col-xs-12">
		<br />
		<div class="jumbotron signup">
			<h2 class="text-warning">Password successfully reset</h2>

		</div>
	</div>

</section>
