<section class="row text-center"  data-ng-controller="PasswordController" data-ng-if="!authentication.user">
	<div class="col-xs-12">
		<br />
		<div class="jumbotron signup">
			<h2 class="text-warning">{{langs.lang_strings[155]}}</h2>

	<a data-ui-sref="password.forgot" class="col-md-12">{{langs.lang_strings[156]}}</a>
	</div>
		</div>

</section>

