<div ng-controller="FavsController" ng-init="featured()" ng-cloak class="ng-cloak">
    <div ng-repeat="faved in userFavs track by faved._id" class="front-animation">
        <a-post ng-init="post = faved.post"></a-post>
    </div>

</div>
