<div class="row">
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-7">
        <a data-ng-href="/#!/games/{{game._id}}" style="text-decoration: none">
            <strong id="homeTeamName" class="" ng-bind="langs.lang_strings[game.homeTeamName] || game.homeTeamName"></strong> -
            <strong id="awayTeamName" class="" ng-bind="langs.lang_strings[game.awayTeamName] || game.awayTeamName"></strong>
        </a>
            <div ng-if="live.games[game._id]">
                <small>
                    <span ng-if="live.games[game._id].status === '2'" class="text-info highlight liveskor" ng-bind="langs.lang_strings[112]"></span>
                    <span ng-if="live.games[game._id].status === '3'" class="text-warning liveskor" ng-bind="langs.lang_strings[113]"></span>
                    <span class="text-default liveskor" ng-if="live.games[game._id].score.firstHalfHome !== undefined"><span ng-bind="langs.lang_strings[114]"></span> <span class="minute" ng-bind="live.games[game._id].score.firstHalfHome"></span> - <span ng-bind="live.games[game._id].score.firstHalfAway"></span></span>
                        <span class="text-success liveskor"><span ng-if="live.games[game._id].score.minute !== undefined" ng-bind="live.games[game._id].score.minute"></span><span ng-class="{'blink' : live.games[game._id].status === '2'}">'</span>
                            <span class="minute" ng-bind="live.games[game._id].score.totalHome"></span> - <span ng-bind="live.games[game._id].score.totalAway"></span></span>
                    <span class="text-default liveskor" ng-if="live.games[game._id].score.extraTimeHome !== undefined"><span ng-bind="langs.lang_strings[40]"></span> <span class="minute" ng-bind="live.games[game._id].score.extraTimeHome"></span> - <span class="live.games[game._id].score.extraTimeAway"></span></span>
                    <span class="text-default liveskor" ng-if="live.games[game._id].score.penaltiesHome !== undefined"><span ng-bind="langs.lang_strings[41]"></span> <span class="minute" ng-bind="live.games[game._id].score.penaltiesHome"></span> - <span ng-bind="live.games[game._id].score.penaltiesAway"></span></span>
                </small>
            </div>
            <div ng-if="!live.games[game._id] && game.status === '3'">
                </small>
                    <span class="text-warning liveskor" ng-bind="langs.lang_strings[113]"></span>
                    <span class="text-default liveskor" ng-if="game.score.firstHalfHome !== undefined"><span ng-bind="langs.lang_strings[114]"></span> <span class="minute" ng-bind="game.score.firstHalfHome"></span> - <span ng-bind="game.score.firstHalfAway"></span></span>
                    <span class="text-success liveskor"><span ng-if="game.score.minute !== undefined" ng-bind="game.score.minute"></span> <span class="minute" ng-bind="game.score.totalHome"></span> - <span ng-bind="game.score.totalAway"></span></span>
                    <span class="text-default liveskor" ng-if="game.score.extraTimeHome !== undefined"><span ng-bind="langs.lang_strings[40]"></span> <span class="minute" ng-bind="game.score.extraTimeHome"></span> - <span ng-bind="game.score.extraTimeAway"></span></span>
                    <span class="text-default liveskor" ng-if="game.score.penaltiesHome !== undefined"><span ng-bind="langs.lang_strings[41]"></span> <span class="minute" ng-bind="game.score.penaltiesHome"></span> - <span ng-bind="game.score.penaltiesAway"></span></span>
                </small>
            </div>

        <div>
            <i class="fa fa-clock-o half-transparent"></i>
            <small id="startTime" class="text-muted">{{ dateOps.convertDate(game.startTime) }}</small>
            &nbsp;
            <i class="fa fa-map-marker half-transparent" ></i>
            <small>
                <a id="sport" href="" ng-click="setSport(game.sport)" class="text-muted" data-ng-bind="langs.lang_strings[game.sport]"></a>
                -
                <a id="country" href="" ng-click="setCountry(game.country)" class="text-muted" data-ng-bind="langs.lang_strings[game.country]"></a>
                -
                <a id="league" href="" ng-click="setLeague(game.league)" class="text-muted" data-ng-bind="langs.lang_strings[game.league] || game.league"></a>
            </small>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-5 text-right" >
        <div class="btn-group btn-group-sm" role="group" aria-label="mainOdds" ng-if="live.games[game._id]">
            <button ng-disabled="true" type="button" class="btn btn-default btn-bet" title="{{langs.lang_strings[158]}}" ng-if="game.odds.main.home"
                    ng-class="{'btn-success' : live.games[game._id].result.main.home }">
                <i class="fa fa-home fa-lg text-muted"></i>
                {{ game.odds.main.home | number : 2 }}</button>
            <button ng-disabled="true" type="button" class="btn btn-default btn-bet" title="{{langs.lang_strings[159]}}" ng-if="game.odds.main.draw"
                    ng-class="{'btn-success' : live.games[game._id].result.main.draw }">
                <i class="fa fa-bars fa-lg text-muted"></i>
                {{ game.odds.main.draw | number : 2 }}</button>
            <button ng-disabled="true" type="button" class="btn btn-default btn-bet" title="{{langs.lang_strings[160]}}" ng-if="game.odds.main.away"
                    ng-class="{'btn-success' :  live.games[game._id].result.main.away }">
                <i class="fa fa-plane fa-lg text-muted"></i>
                {{ game.odds.main.away | number : 2 }}</button>
        </div>
        <div class="btn-group btn-group-sm" role="group" aria-label="mainOdds" ng-if="!live.games[game._id]">
            <button ng-disabled="game.status > 1" type="button" class="btn btn-default btn-bet" title="{{langs.lang_strings[158]}}" ng-if="game.odds.main.home"
                    ng-class="{'btn-success' : game.result.main.home }"
                    ng-click="couponOps.addFormField(game._id, game.startTime, (langs.lang_strings[game.homeTeamName] || game.homeTeamName) + ' - ' + (langs.lang_strings[game.awayTeamName] || game.awayTeamName), 'Home', 'main.home', game.odds.main.home)">
                <i class="fa fa-home fa-lg text-muted"></i>
                {{ game.odds.main.home | number : 2 }}</button>
            <button ng-disabled="game.status > 1" type="button" class="btn btn-default btn-bet" title="{{langs.lang_strings[159]}}" ng-if="game.odds.main.draw"
                    ng-class="{'btn-success' : game.result.main.draw }"
                    ng-click="couponOps.addFormField(game._id, game.startTime, (langs.lang_strings[game.homeTeamName] || game.homeTeamName) + ' - ' + (langs.lang_strings[game.awayTeamName] || game.awayTeamName), 'Draw', 'main.draw', game.odds.main.draw)">
                <i class="fa fa-bars fa-lg text-muted"></i>
                {{ game.odds.main.draw | number : 2 }}</button>
            <button ng-disabled="game.status > 1" type="button" class="btn btn-default btn-bet" title="{{langs.lang_strings[160]}}" ng-if="game.odds.main.away"
                    ng-class="{'btn-success' :  game.result.main.away }"
                    ng-click="couponOps.addFormField(game._id, game.startTime, (langs.lang_strings[game.homeTeamName] || game.homeTeamName) + ' - ' + (langs.lang_strings[game.awayTeamName] || game.awayTeamName), 'Away', 'main.away', game.odds.main.away)">
                <i class="fa fa-plane fa-lg text-muted"></i>
                {{ game.odds.main.away | number : 2 }}</button>
        </div>
        <div class="btn-group btn-group-sm" role="group" aria-label="tools">
            <button class="btn btn-warning" title="{{langs.lang_strings[128]}}"
                    ng-click="couponOps.addQuoteField(game._id, game.country + ' ' + game.league, game.startTime, (langs.lang_strings[game.homeTeamName] || game.homeTeamName) + ' - ' + (langs.lang_strings[game.awayTeamName] || game.awayTeamName), game.odds.main.home, game.odds.main.draw, game.odds.main.away )">
                <i class="glyphicon glyphicon-paperclip"></i>
            </button>
            <a type="button" title="Tweet" class="btn btn-info"
               href="https://twitter.com/intent/tweet?url=https://betroll.net/games/{{game._id}}" target="_blank">
                <i class="fa fa-twitter fa-lg"></i>
            </a>
            <button class="btn btn-primary" title="{{langs.lang_strings[129]}}" ng-click="isCollapsed = !isCollapsed" ng-disabled="!game.odds.main.draw">
                <i ng-class="{'fa fa-angle-down fa-lg' : isCollapsed,
                                                'fa fa-angle-up fa-lg' : !isCollapsed} "></i>
            </button>
        </div>
    </div>

</div>

<div collapse="isCollapsed" ng-if="!isCollapsed && live.games[game._id]" class="my-animation"><br />


    <span class="label label-default" ng-if="live.games[game._id].odds.doubleChance">{{langs.lang_strings[161]}}</span>
    <ul class="list-group" ng-if="live.games[game._id].odds.doubleChance">
        <li class="list-group-item">
            <div class="btn-group btn-group-sm">
                <button ng-disabled="live.games[game._id].status > 1" type="button" class="btn btn-default btn-bet"
                        ng-class="{'btn-success' : live.games[game._id].result.doubleChance.homeAway }"
                        ng-click="couponOps.addFormField(live.games[game._id]._id, live.games[game._id].startTime, live.games[game._id].homeTeamName + ' - ' + live.games[game._id].awayTeamName, 'Double Chance: 1 or 2', 'doubleChance.homeAway', live.games[game._id].odds.doubleChance.homeAway)">
                    {{langs.lang_strings[158]}} {{langs.lang_strings[162]}} {{langs.lang_strings[160]}} <strong class="minute text-info">{{ live.games[game._id].odds.doubleChance.homeAway | number : 2 }}</strong></button>
                <button ng-disabled="live.games[game._id].status > 1" type="button" class="btn btn-default btn-bet"
                        ng-class="{'btn-success' : live.games[game._id].result.doubleChance.homeDraw }"
                        ng-click="couponOps.addFormField(live.games[game._id]._id, live.games[game._id].startTime, live.games[game._id].homeTeamName + ' - ' + live.games[game._id].awayTeamName, 'Double Chance: 1 or 0', 'doubleChance.homeDraw', live.games[game._id].odds.doubleChance.homeDraw)">
                    {{langs.lang_strings[158]}} {{langs.lang_strings[162]}} {{langs.lang_strings[159]}} <strong class="minute text-info">{{ live.games[game._id].odds.doubleChance.homeDraw | number : 2 }}</strong></button>
                <button ng-disabled="live.games[game._id].status > 1" type="button" class="btn btn-default btn-bet"
                        ng-class="{'btn-success' : live.games[game._id].result.doubleChance.awayDraw }"
                        ng-click="couponOps.addFormField(live.games[game._id]._id, live.games[game._id].startTime, live.games[game._id].homeTeamName + ' - ' + live.games[game._id].awayTeamName, 'Double Chance: 2 or 0', 'doubleChance.drawAway', live.games[game._id].odds.doubleChance.drawAway)">
                    {{langs.lang_strings[160]}} {{langs.lang_strings[162]}} {{langs.lang_strings[159]}} <strong class="minute text-info">{{ live.games[game._id].odds.doubleChance.drawAway | number : 2 }}</strong></button>
            </div>
        </li>
    </ul>
    <span class="label label-default" ng-if="live.games[game._id].odds.halfTimeFullTime">{{langs.lang_strings[163]}}</span>
    <ul class="list-group" ng-if="live.games[game._id].odds.halfTimeFullTime">
        <li class="list-group-item">
            <p class="btn-group btn-group-sm">
                <button ng-disabled="live.games[game._id].status > 1" type="button" class="btn btn-default btn-bet"
                        ng-class="{'btn-success' : live.games[game._id].result.halfTimeFullTime.homeHome}"
                        ng-click="couponOps.addFormField(live.games[game._id]._id, live.games[game._id].startTime, live.games[game._id].homeTeamName + ' - ' + live.games[game._id].awayTeamName, 'Half Time - Full Time 1 : 1', 'halfTimeFullTime.homeHome', live.games[game._id].odds.halfTimeFullTime.homeHome)">
                    {{langs.lang_strings[158]}} : {{langs.lang_strings[158]}} <strong class="minute text-info">{{ live.games[game._id].odds.halfTimeFullTime.homeHome | number : 2 }}</strong></button>
                <button ng-disabled="live.games[game._id].status > 1" type="button" class="btn btn-default btn-bet"
                        ng-class="{'btn-success' : live.games[game._id].result.halfTimeFullTime.homeDraw}"
                        ng-click="couponOps.addFormField(live.games[game._id]._id, live.games[game._id].startTime, live.games[game._id].homeTeamName + ' - ' + live.games[game._id].awayTeamName, 'Half Time - Full Time 1 : 0', 'halfTimeFullTime.homeDraw', live.games[game._id].odds.halfTimeFullTime.homeDraw)">
                    {{langs.lang_strings[158]}} : {{langs.lang_strings[159]}} <strong class="minute text-info">{{ live.games[game._id].odds.halfTimeFullTime.homeDraw | number : 2 }}</strong></button>
                <button ng-disabled="live.games[game._id].status > 1" type="button" class="btn btn-default btn-bet"
                        ng-class="{'btn-success' : live.games[game._id].result.halfTimeFullTime.homeAway}"
                        ng-click="couponOps.addFormField(live.games[game._id]._id, live.games[game._id].startTime, live.games[game._id].homeTeamName + ' - ' + live.games[game._id].awayTeamName, 'Half Time - Full Time 1 : 2', 'halfTimeFullTime.homeAway', live.games[game._id].odds.halfTimeFullTime.homeAway)">
                    {{langs.lang_strings[158]}} : {{langs.lang_strings[160]}} <strong class="minute text-info">{{ live.games[game._id].odds.halfTimeFullTime.homeAway | number : 2 }}</strong></button>
            </p>
            <p class="btn-group btn-group-sm">
                <button ng-disabled="live.games[game._id].status > 1" type="button" class="btn btn-default btn-bet"
                        ng-class="{'btn-success' : live.games[game._id].result.halfTimeFullTime.drawHome}"
                        ng-click="couponOps.addFormField(live.games[game._id]._id, live.games[game._id].startTime, live.games[game._id].homeTeamName + ' - ' + live.games[game._id].awayTeamName, 'Half Time - Full Time 0 : 1', 'halfTimeFullTime.drawHome', live.games[game._id].odds.halfTimeFullTime.drawHome)">
                    {{langs.lang_strings[159]}} : {{langs.lang_strings[158]}} <strong class="minute text-info">{{ live.games[game._id].odds.halfTimeFullTime.drawHome | number : 2 }}</strong></button>
                <button ng-disabled="live.games[game._id].status > 1" type="button" class="btn btn-default btn-bet"
                        ng-class="{'btn-success' : live.games[game._id].result.halfTimeFullTime.drawDraw}"
                        ng-click="couponOps.addFormField(live.games[game._id]._id, live.games[game._id].startTime, live.games[game._id].homeTeamName + ' - ' + live.games[game._id].awayTeamName, 'Half Time - Full Time 0 : 0',  'halfTimeFullTime.drawDraw', live.games[game._id].odds.halfTimeFullTime.drawDraw)">
                    {{langs.lang_strings[159]}} : {{langs.lang_strings[159]}} <strong class="minute text-info">{{ live.games[game._id].odds.halfTimeFullTime.drawDraw | number : 2 }}</strong></button>
                <button ng-disabled="live.games[game._id].status > 1" type="button" class="btn btn-default btn-bet"
                        ng-class="{'btn-success' : live.games[game._id].result.halfTimeFullTime.drawAway}"
                        ng-click="couponOps.addFormField(live.games[game._id]._id, live.games[game._id].startTime, live.games[game._id].homeTeamName + ' - ' + live.games[game._id].awayTeamName, 'Half Time - Full Time 0 : 2',  'halfTimeFullTime.drawAway', live.games[game._id].odds.halfTimeFullTime.drawAway)">
                    {{langs.lang_strings[159]}} : {{langs.lang_strings[160]}} <strong class="minute text-info">{{ live.games[game._id].odds.halfTimeFullTime.drawAway | number : 2 }}</strong></button>
            </p>
            <p class="btn-group btn-group-sm">
                <button ng-disabled="live.games[game._id].status > 1" type="button" class="btn btn-default btn-bet"
                        ng-class="{'btn-success' : live.games[game._id].result.halfTimeFullTime.awayHome}"
                        ng-click="couponOps.addFormField(live.games[game._id]._id, live.games[game._id].startTime, live.games[game._id].homeTeamName + ' - ' + live.games[game._id].awayTeamName, 'Half Time - Full Time 2 : 1', 'halfTimeFullTime.awayHome', live.games[game._id].odds.halfTimeFullTime.awayHome)">
                    {{langs.lang_strings[160]}} : {{langs.lang_strings[158]}} <strong class="minute text-info">{{ live.games[game._id].odds.halfTimeFullTime.awayHome | number : 2 }}</strong></button>
                <button ng-disabled="live.games[game._id].status > 1" type="button" class="btn btn-default btn-bet"
                        ng-class="{'btn-success' : live.games[game._id].result.halfTimeFullTime.awayDraw}"
                        ng-click="couponOps.addFormField(live.games[game._id]._id, live.games[game._id].startTime, live.games[game._id].homeTeamName + ' - ' + live.games[game._id].awayTeamName, 'Half Time - Full Time 2 : 0',  'halfTimeFullTime.awayDraw', live.games[game._id].odds.halfTimeFullTime.awayDraw)">
                    {{langs.lang_strings[160]}} : {{langs.lang_strings[159]}} <strong class="minute text-info">{{ live.games[game._id].odds.halfTimeFullTime.awayDraw | number : 2 }}</strong></button>
                <button ng-disabled="live.games[game._id].status > 1" type="button" class="btn btn-default btn-bet"
                        ng-class="{'btn-success' : live.games[game._id].result.halfTimeFullTime.awayAway}"
                        ng-click="couponOps.addFormField(live.games[game._id]._id, live.games[game._id].startTime, live.games[game._id].homeTeamName + ' - ' + live.games[game._id].awayTeamName, 'Half Time - Full Time 2 : 2',  'halfTimeFullTime.awayAway', live.games[game._id].odds.halfTimeFullTime.awayAway)">
                    {{langs.lang_strings[160]}} : {{langs.lang_strings[160]}} <strong class="minute text-info">{{ live.games[game._id].odds.halfTimeFullTime.awayAway | number : 2 }}</strong></button>
            </p>
        </li>
    </ul>

    <span class="label label-default" ng-if="live.games[game._id].odds.bothScores">{{langs.lang_strings[172]}}</span>
    <ul class="list-group" ng-if="live.games[game._id].odds.bothScores">
        <li class="list-group-item">
            <div class="btn-group btn-group-sm">
                <button ng-disabled="live.games[game._id].status > 1" type="button" class="btn btn-default btn-bet"
                        ng-class="{'btn-success' : live.games[game._id].result.bothScores.yes}"
                        ng-click="couponOps.addFormField(live.games[game._id]._id, live.games[game._id].startTime, live.games[game._id].homeTeamName + ' - ' + live.games[game._id].awayTeamName, 'Both Teams to Score: Yes',  'bothScores.yes', live.games[game._id].odds.bothScores.yes)">
                    {{langs.lang_strings[164]}} <strong class="minute text-info">{{ live.games[game._id].odds.bothScores.yes | number : 2 }}</strong></button>
                <button ng-disabled="live.games[game._id].status > 1" type="button" class="btn btn-default btn-bet"
                        ng-class="{'btn-success' : live.games[game._id].result.bothScores.no}"
                        ng-click="couponOps.addFormField(live.games[game._id]._id, live.games[game._id].startTime, live.games[game._id].homeTeamName + ' - ' + live.games[game._id].awayTeamName, 'Both Teams to Score: No',  'bothScores.no', live.games[game._id].odds.bothScores.no)">
                    {{langs.lang_strings[165]}} <strong class="minute text-info">{{ live.games[game._id].odds.bothScores.no | number : 2 }}</strong></button>
            </div>
        </li>
    </ul>

    <span class="label label-default" ng-if="live.games[game._id].odds.overUnder">{{langs.lang_strings[166]}} - {{langs.lang_strings[167]}}</span>
    <ul class="list-group" ng-if="live.games[game._id].odds.overUnder">
        <li class="list-group-item">
            <p class="btn-group btn-group-sm">
                <button ng-disabled="live.games[game._id].status > 1" type="button" class="btn btn-default btn-bet" ng-if="live.games[game._id].odds.overUnder.over05"
                        ng-class="{'btn-success' : live.games[game._id].result.overUnder.over05}"
                        ng-click="couponOps.addFormField(live.games[game._id]._id, live.games[game._id].startTime, live.games[game._id].homeTeamName + ' - ' + live.games[game._id].awayTeamName, ' Over 0.5', 'overUnder.over05', live.games[game._id].odds.overUnder.over05)">
                    {{langs.lang_strings[166]}} 0.5 <strong class="minute text-info">{{ live.games[game._id].odds.overUnder.over05 | number : 2 }}</strong></button>
                <button ng-disabled="live.games[game._id].status > 1" type="button" class="btn btn-default btn-bet" ng-if="live.games[game._id].odds.overUnder.over15"
                        ng-class="{'btn-success' : live.games[game._id].result.overUnder.over15 }"
                        ng-click="couponOps.addFormField(live.games[game._id]._id, live.games[game._id].startTime, live.games[game._id].homeTeamName + ' - ' + live.games[game._id].awayTeamName, ' Over 1.5', 'overUnder.over15', live.games[game._id].odds.overUnder.over15)">
                    {{langs.lang_strings[166]}} 1.5 <strong class="minute text-info">{{ live.games[game._id].odds.overUnder.over15 | number : 2 }}</strong></button>
                <button ng-disabled="live.games[game._id].status > 1" type="button" class="btn btn-default btn-bet" ng-if="live.games[game._id].odds.overUnder.over25"
                        ng-class="{'btn-success' : live.games[game._id].result.overUnder.over25}"
                        ng-click="couponOps.addFormField(live.games[game._id]._id, live.games[game._id].startTime, live.games[game._id].homeTeamName + ' - ' + live.games[game._id].awayTeamName, ' Over 2.5', 'overUnder.over25', live.games[game._id].odds.overUnder.over25)">
                    {{langs.lang_strings[166]}} 2.5 <strong class="minute text-info">{{ live.games[game._id].odds.overUnder.over25 | number : 2 }}</strong></button>
                <button ng-disabled="live.games[game._id].status > 1" type="button" class="btn btn-default btn-bet" ng-if="live.games[game._id].odds.overUnder.over35"
                        ng-class="{'btn-success' : live.games[game._id].result.overUnder.over35}"
                        ng-click="couponOps.addFormField(live.games[game._id]._id, live.games[game._id].startTime, live.games[game._id].homeTeamName + ' - ' + live.games[game._id].awayTeamName, ' Over 3.5', 'overUnder.over35', live.games[game._id].odds.overUnder.over35)">
                    {{langs.lang_strings[166]}} 3.5 <strong class="minute text-info">{{ live.games[game._id].odds.overUnder.over35 | number : 2 }}</strong></button>
                <button ng-disabled="live.games[game._id].status > 1" type="button" class="btn btn-default btn-bet" ng-if="live.games[game._id].odds.overUnder.over45"
                        ng-class="{'btn-success' : live.games[game._id].result.overUnder.over45}"
                        ng-click="couponOps.addFormField(live.games[game._id]._id, live.games[game._id].startTime, live.games[game._id].homeTeamName + ' - ' + live.games[game._id].awayTeamName, ' Over 4.5', 'overUnder.over45', live.games[game._id].odds.overUnder.over45)">
                    {{langs.lang_strings[166]}} 4.5 <strong class="minute text-info">{{ live.games[game._id].odds.overUnder.over45 | number : 2 }}</strong></button>
            </p>
            <p class="btn-group btn-group-sm">
                <button ng-disabled="live.games[game._id].status > 1" type="button" class="btn btn-default btn-bet" ng-if="live.games[game._id].odds.overUnder.under05"
                        ng-class="{'btn-success' : live.games[game._id].result.overUnder.under05}"
                        ng-click="couponOps.addFormField(live.games[game._id]._id, live.games[game._id].startTime, live.games[game._id].homeTeamName + ' - ' + live.games[game._id].awayTeamName, ' Under 0.5', 'overUnder.under05', live.games[game._id].odds.overUnder.under05)">
                    {{langs.lang_strings[167]}} 0.5 <strong class="minute text-info">{{ live.games[game._id].odds.overUnder.under05 | number : 2 }}</strong></button>
                <button ng-disabled="live.games[game._id].status > 1" type="button" class="btn btn-default btn-bet" ng-if="live.games[game._id].odds.overUnder.under15"
                        ng-class="{'btn-success' : live.games[game._id].result.overUnder.under15}"
                        ng-click="couponOps.addFormField(live.games[game._id]._id, live.games[game._id].startTime, live.games[game._id].homeTeamName + ' - ' + live.games[game._id].awayTeamName, ' Under 1.5', 'overUnder.under15', live.games[game._id].odds.overUnder.under15)">
                    {{langs.lang_strings[167]}} 1.5 <strong class="minute text-info">{{ live.games[game._id].odds.overUnder.under15 | number : 2 }}</strong></button>
                <button ng-disabled="live.games[game._id].status > 1" type="button" class="btn btn-default btn-bet" ng-if="live.games[game._id].odds.overUnder.under25"
                        ng-class="{'btn-success' : live.games[game._id].result.overUnder.under25}"
                        ng-click="couponOps.addFormField(live.games[game._id]._id, live.games[game._id].startTime, live.games[game._id].homeTeamName + ' - ' + live.games[game._id].awayTeamName, ' Under 2.5', 'overUnder.under25', live.games[game._id].odds.overUnder.under25)">
                    {{langs.lang_strings[167]}} 2.5 <strong class="minute text-info">{{ live.games[game._id].odds.overUnder.under25 | number : 2 }}</strong></button>
                <button ng-disabled="live.games[game._id].status > 1" type="button" class="btn btn-default btn-bet" ng-if="live.games[game._id].odds.overUnder.under35"
                        ng-class="{'btn-success' : live.games[game._id].result.overUnder.under35}"
                        ng-click="couponOps.addFormField(live.games[game._id]._id, live.games[game._id].startTime, live.games[game._id].homeTeamName + ' - ' + live.games[game._id].awayTeamName, ' Under 3.5', 'overUnder.under35', live.games[game._id].odds.overUnder.under35)">
                    {{langs.lang_strings[167]}} 3.5 <strong class="minute text-info">{{ live.games[game._id].odds.overUnder.under35 | number : 2 }}</strong></button>
                <button ng-disabled="live.games[game._id].status > 1" type="button" class="btn btn-default btn-bet" ng-if="live.games[game._id].odds.overUnder.under45"
                        ng-class="{'btn-success' : live.games[game._id].result.overUnder.under45}"
                        ng-click="couponOps.addFormField(live.games[game._id]._id, live.games[game._id].startTime, live.games[game._id].homeTeamName + ' - ' + live.games[game._id].awayTeamName, ' Under 4.5', 'overUnder.under45', live.games[game._id].odds.overUnder.under45)">
                    {{langs.lang_strings[167]}} 4.5 <strong class="minute text-info">{{ live.games[game._id].odds.overUnder.under45 | number : 2 }}</strong></button>
            </p>
        </li>
    </ul>

    <span class="label label-default" ng-if="live.games[game._id].odds.totalGoals">{{langs.lang_strings[168]}}</span>
    <ul class="list-group" ng-if="live.games[game._id].odds.totalGoals">
        <li class="list-group-item">
            <p class="btn-group btn-group-sm">
                <button ng-disabled="live.games[game._id].status > 1" type="button" class="btn btn-default btn-bet" ng-if="live.games[game._id].odds.totalGoals.tg1orMore"
                        ng-class="{'btn-success' : live.games[game._id].result.totalGoals.tg1orMore}"
                        ng-click="couponOps.addFormField(live.games[game._id]._id, live.games[game._id].startTime, live.games[game._id].homeTeamName + ' - ' + live.games[game._id].awayTeamName, 'Total Goals: 1 or more', 'totalGoals.tg1orMore', live.games[game._id].odds.totalGoals.tg1orMore)">
                    1 {{langs.lang_strings[162]}} {{langs.lang_strings[169]}} <strong class="minute text-info">{{ live.games[game._id].odds.totalGoals.tg1orMore | number : 2 }}</strong></button>
                <button ng-disabled="live.games[game._id].status > 1" type="button" class="btn btn-default btn-bet" ng-if="live.games[game._id].odds.totalGoals.tg2orMore"
                        ng-class="{'btn-success' : live.games[game._id].result.totalGoals.tg2orMore}"
                        ng-click="couponOps.addFormField(live.games[game._id]._id, live.games[game._id].startTime, live.games[game._id].homeTeamName + ' - ' + live.games[game._id].awayTeamName, 'Total Goals: 2 or more', 'totalGoals.tg2orMore', live.games[game._id].odds.totalGoals.tg2orMore)">
                    2 {{langs.lang_strings[162]}} {{langs.lang_strings[169]}} <strong class="minute text-info">{{ live.games[game._id].odds.totalGoals.tg2orMore | number : 2 }}</strong></button>
                <button ng-disabled="live.games[game._id].status > 1" type="button" class="btn btn-default btn-bet" ng-if="live.games[game._id].odds.totalGoals.tg3orMore"
                        ng-class="{'btn-success' : live.games[game._id].result.totalGoals.tg3orMore}"
                        ng-click="couponOps.addFormField(live.games[game._id]._id, live.games[game._id].startTime, live.games[game._id].homeTeamName + ' - ' + live.games[game._id].awayTeamName, 'Total Goals: 3 or more', 'totalGoals.tg3orMore', live.games[game._id].odds.totalGoals.tg3orMore)">
                    3 {{langs.lang_strings[162]}} {{langs.lang_strings[169]}} <strong class="minute text-info">{{ live.games[game._id].odds.totalGoals.tg3orMore | number : 2 }}</strong></button>
                <button ng-disabled="live.games[game._id].status > 1" type="button" class="btn btn-default btn-bet" ng-if="live.games[game._id].odds.totalGoals.tg4orMore"
                        ng-class="{'btn-success' : live.games[game._id].result.totalGoals.tg4orMore}"
                        ng-click="couponOps.addFormField(live.games[game._id]._id, live.games[game._id].startTime, live.games[game._id].homeTeamName + ' - ' + live.games[game._id].awayTeamName, 'Total Goals: 4 or more', 'totalGoals.tg4orMore', live.games[game._id].odds.totalGoals.tg4orMore)">
                    4 {{langs.lang_strings[162]}} {{langs.lang_strings[169]}} <strong class="minute text-info">{{ live.games[game._id].odds.totalGoals.tg4orMore | number : 2 }}</strong></button>
            </p>
            <p class="btn-group btn-group-sm">
                <button ng-disabled="live.games[game._id].status > 1" type="button" class="btn btn-default btn-bet" ng-if="live.games[game._id].odds.totalGoals.tg5orMore"
                        ng-class="{'btn-success' : live.games[game._id].result.totalGoals.tg5orMore}"
                        ng-click="couponOps.addFormField(live.games[game._id]._id, live.games[game._id].startTime, live.games[game._id].homeTeamName + ' - ' + live.games[game._id].awayTeamName, 'Total Goals: 5 or more', 'totalGoals.tg5orMore', live.games[game._id].odds.totalGoals.tg5orMore)">
                    5 {{langs.lang_strings[162]}} {{langs.lang_strings[169]}} <strong class="minute text-info">{{ live.games[game._id].odds.totalGoals.tg5orMore | number : 2 }}</strong></button>
                <button ng-disabled="live.games[game._id].status > 1" type="button" class="btn btn-default btn-bet" ng-if="live.games[game._id].odds.totalGoals.tg6orMore"
                        ng-class="{'btn-success' : live.games[game._id].result.totalGoals.tg6orMore}"
                        ng-click="couponOps.addFormField(live.games[game._id]._id, live.games[game._id].startTime, live.games[game._id].homeTeamName + ' - ' + live.games[game._id].awayTeamName, 'Total Goals: 6 or more', 'totalGoals.tg6orMore', live.games[game._id].odds.totalGoals.tg6orMore)">
                    6 {{langs.lang_strings[162]}} {{langs.lang_strings[169]}} <strong class="minute text-info">{{ live.games[game._id].odds.totalGoals.tg6orMore | number : 2 }}</strong></button>
                <button ng-disabled="live.games[game._id].status > 1" type="button" class="btn btn-default btn-bet" ng-if="live.games[game._id].odds.totalGoals.tg7orMore"
                        ng-class="{'btn-success' : live.games[game._id].result.totalGoals.tg7orMore}"
                        ng-click="couponOps.addFormField(live.games[game._id]._id, live.games[game._id].startTime, live.games[game._id].homeTeamName + ' - ' + live.games[game._id].awayTeamName, 'Total Goals: 7 or more', 'totalGoals.tg7orMore', live.games[game._id].odds.totalGoals.tg7orMore)">
                    7 {{langs.lang_strings[162]}} {{langs.lang_strings[169]}} <strong class="minute text-info">{{ live.games[game._id].odds.totalGoals.tg7orMore | number : 2 }}</strong></button>
            </p>
        </li>
    </ul>

    <span class="label label-default" ng-if="live.games[game._id].odds.handicap01">{{langs.lang_strings[170]}} 0 - 1</span>
    <ul class="list-group" ng-if="live.games[game._id].odds.handicap01">
        <li class="list-group-item">
            <div class="btn-group btn-group-sm">
                <button ng-disabled="live.games[game._id].status > 1" type="button" class="btn btn-default btn-bet"
                        ng-class="{'btn-success' : live.games[game._id].result.handicap01.home}"
                        ng-click="couponOps.addFormField(live.games[game._id]._id, live.games[game._id].startTime, live.games[game._id].homeTeamName + ' - ' + live.games[game._id].awayTeamName, '3-way Handicap 0 - 1: Home', 'handicap01.home', live.games[game._id].odds.handicap01.home)">
                    {{langs.lang_strings[158]}} <strong class="minute text-info">{{ live.games[game._id].odds.handicap01.home | number : 2 }}</strong></button>
                <button ng-disabled="live.games[game._id].status > 1" type="button" class="btn btn-default btn-bet"
                        ng-class="{'btn-success' : live.games[game._id].result.handicap01.draw}"
                        ng-click="couponOps.addFormField(live.games[game._id]._id, live.games[game._id].startTime, live.games[game._id].homeTeamName + ' - ' + live.games[game._id].awayTeamName, '3-way Handicap 0 - 1: Draw', 'handicap01.draw', live.games[game._id].odds.handicap01.draw)">
                    {{langs.lang_strings[159]}} <strong class="minute text-info">{{ live.games[game._id].odds.handicap01.draw | number : 2 }}</strong></button>
                <button ng-disabled="live.games[game._id].status > 1" type="button" class="btn btn-default btn-bet"
                        ng-class="{'btn-success' : live.games[game._id].result.handicap01.away}"
                        ng-click="couponOps.addFormField(live.games[game._id]._id, live.games[game._id].startTime, live.games[game._id].homeTeamName + ' - ' + live.games[game._id].awayTeamName, '3-way Handicap 0 - 1: Away', 'handicap01.away', live.games[game._id].odds.handicap01.away)">
                    {{langs.lang_strings[160]}} <strong class="minute text-info">{{ live.games[game._id].odds.handicap01.away | number : 2 }}</strong></button>
            </div>
        </li>
    </ul>

    <span class="label label-default" ng-if="live.games[game._id].odds.handicap10">{{langs.lang_strings[170]}} 1 - 0</span>
    <ul class="list-group" ng-if="live.games[game._id].odds.handicap10">
        <li class="list-group-item">
            <div class="btn-group btn-group-sm">
                <button ng-disabled="live.games[game._id].status > 1" type="button" class="btn btn-default btn-bet"
                        ng-class="{'btn-success' : live.games[game._id].result.handicap10.home}"
                        ng-click="couponOps.addFormField(live.games[game._id]._id, live.games[game._id].startTime, live.games[game._id].homeTeamName + ' - ' + live.games[game._id].awayTeamName, '3-way Handicap 1 - 0: Home', 'handicap10.home', live.games[game._id].odds.handicap10.home)">
                    {{langs.lang_strings[158]}} <strong class="minute text-info">{{ live.games[game._id].odds.handicap10.home | number : 2 }}</strong></button>
                <button ng-disabled="live.games[game._id].status > 1" type="button" class="btn btn-default btn-bet"
                        ng-class="{'btn-success' : live.games[game._id].result.handicap10.draw}"
                        ng-click="couponOps.addFormField(live.games[game._id]._id, live.games[game._id].startTime, live.games[game._id].homeTeamName + ' - ' + live.games[game._id].awayTeamName, '3-way Handicap 1 - 0: Draw', 'handicap10.draw', live.games[game._id].odds.handicap10.draw)">
                    {{langs.lang_strings[159]}} <strong class="minute text-info">{{ live.games[game._id].odds.handicap10.draw | number : 2 }}</strong></button>
                <button ng-disabled="live.games[game._id].status > 1" type="button" class="btn btn-default btn-bet"
                        ng-class="{'btn-success' : live.games[game._id].result.handicap10.away}"
                        ng-click="couponOps.addFormField(live.games[game._id]._id, live.games[game._id].startTime, live.games[game._id].homeTeamName + ' - ' + live.games[game._id].awayTeamName, '3-way Handicap 1 - 0: Away', 'handicap10.away', live.games[game._id].odds.handicap10.away)">
                    {{langs.lang_strings[160]}} <strong class="minute text-info">{{ live.games[game._id].odds.handicap10.away | number : 2 }}</strong></button>
            </div>
        </li>
    </ul>

    <span class="label label-default" ng-if="live.games[game._id].odds.correctScore">{{langs.lang_strings[171]}}</span>
    <ul class="list-group" ng-if="live.games[game._id].odds.correctScore">
        <li class="list-group-item">
            <p class="btn-group btn-group-sm">
                <button ng-disabled="live.games[game._id].status > 1" type="button" class="btn btn-default btn-bet" ng-if="live.games[game._id].odds.correctScore.cs00"
                        ng-class="{'btn-success' : live.games[game._id].result.correctScore.cs00}"
                        ng-click="couponOps.addFormField(live.games[game._id]._id, live.games[game._id].startTime, live.games[game._id].homeTeamName + ' - ' + live.games[game._id].awayTeamName, 'Correct Score: 0 - 0', 'correctScore.cs00', live.games[game._id].odds.correctScore.cs00)">
                    0 - 0 <strong class="minute text-info">{{ live.games[game._id].odds.correctScore.cs00 | number : 2 }}</strong></button>
                <button ng-disabled="live.games[game._id].status > 1" type="button" class="btn btn-default btn-bet" ng-if="live.games[game._id].odds.correctScore.cs01"
                        ng-class="{'btn-success' : live.games[game._id].result.correctScore.cs01}"
                        ng-click="couponOps.addFormField(live.games[game._id]._id, live.games[game._id].startTime, live.games[game._id].homeTeamName + ' - ' + live.games[game._id].awayTeamName, 'Correct Score: 0 - 1', 'correctScore.cs01', live.games[game._id].odds.correctScore.cs01)">
                    0 - 1 <strong class="minute text-info">{{ live.games[game._id].odds.correctScore.cs01 | number : 2 }}</strong></button>
                <button ng-disabled="live.games[game._id].status > 1" type="button" class="btn btn-default btn-bet" ng-if="live.games[game._id].odds.correctScore.cs02"
                        ng-class="{'btn-success' : live.games[game._id].result.correctScore.cs02}"
                        ng-click="couponOps.addFormField(live.games[game._id]._id, live.games[game._id].startTime, live.games[game._id].homeTeamName + ' - ' + live.games[game._id].awayTeamName, 'Correct Score: 0 - 2', 'correctScore.cs02', live.games[game._id].odds.correctScore.cs02)">
                    0 - 2 <strong class="minute text-info">{{ live.games[game._id].odds.correctScore.cs02 | number : 2 }}</strong></button>
                <button ng-disabled="live.games[game._id].status > 1" type="button" class="btn btn-default btn-bet" ng-if="live.games[game._id].odds.correctScore.cs03"
                        ng-class="{'btn-success' : live.games[game._id].result.correctScore.cs03}"
                        ng-click="couponOps.addFormField(live.games[game._id]._id, live.games[game._id].startTime, live.games[game._id].homeTeamName + ' - ' + live.games[game._id].awayTeamName, 'Correct Score: 0 - 3', 'correctScore.cs03', live.games[game._id].odds.correctScore.cs03)">
                    0 - 3 <strong class="minute text-info">{{ live.games[game._id].odds.correctScore.cs03 | number : 2 }}</strong></button>
                <button ng-disabled="live.games[game._id].status > 1" type="button" class="btn btn-default btn-bet" ng-if="live.games[game._id].odds.correctScore.cs04"
                        ng-class="{'btn-success' : live.games[game._id].result.correctScore.cs04}"
                        ng-click="couponOps.addFormField(live.games[game._id]._id, live.games[game._id].startTime, live.games[game._id].homeTeamName + ' - ' + live.games[game._id].awayTeamName, 'Correct Score: 0 - 4', 'correctScore.cs04', live.games[game._id].odds.correctScore.cs04)">
                    0 - 4 <strong class="minute text-info">{{ live.games[game._id].odds.correctScore.cs04 | number : 2 }}</strong></button>
            </p>

            <p class="btn-group btn-group-sm">
                <button ng-disabled="live.games[game._id].status > 1" type="button" class="btn btn-default btn-bet" ng-if="live.games[game._id].odds.correctScore.cs10"
                        ng-class="{'btn-success' : live.games[game._id].result.correctScore.cs10}"
                        ng-click="couponOps.addFormField(live.games[game._id]._id, live.games[game._id].startTime, live.games[game._id].homeTeamName + ' - ' + live.games[game._id].awayTeamName, 'Correct Score: 1 - 0', 'correctScore.cs10', live.games[game._id].odds.correctScore.cs10)">
                    1 - 0 <strong class="minute text-info">{{ live.games[game._id].odds.correctScore.cs10 | number : 2 }}</strong></button>
                <button ng-disabled="live.games[game._id].status > 1" type="button" class="btn btn-default btn-bet" ng-if="live.games[game._id].odds.correctScore.cs11"
                        ng-class="{'btn-success' : live.games[game._id].result.correctScore.cs11}"
                        ng-click="couponOps.addFormField(live.games[game._id]._id, live.games[game._id].startTime, live.games[game._id].homeTeamName + ' - ' + live.games[game._id].awayTeamName, 'Correct Score: 1 - 1', 'correctScore.cs11', live.games[game._id].odds.correctScore.cs11)">
                    1 - 1 <strong class="minute text-info">{{ live.games[game._id].odds.correctScore.cs11 | number : 2 }}</strong></button>
                <button ng-disabled="live.games[game._id].status > 1" type="button" class="btn btn-default btn-bet" ng-if="live.games[game._id].odds.correctScore.cs12"
                        ng-class="{'btn-success' : live.games[game._id].result.correctScore.cs12}"
                        ng-click="couponOps.addFormField(live.games[game._id]._id, live.games[game._id].startTime, live.games[game._id].homeTeamName + ' - ' + live.games[game._id].awayTeamName, 'Correct Score: 1 - 2', 'correctScore.cs12', live.games[game._id].odds.correctScore.cs12)">
                    1 - 2 <strong class="minute text-info">{{ live.games[game._id].odds.correctScore.cs12 | number : 2 }}</strong></button>
                <button ng-disabled="live.games[game._id].status > 1" type="button" class="btn btn-default btn-bet" ng-if="live.games[game._id].odds.correctScore.cs13"
                        ng-class="{'btn-success' : live.games[game._id].result.correctScore.cs13}"
                        ng-click="couponOps.addFormField(live.games[game._id]._id, live.games[game._id].startTime, live.games[game._id].homeTeamName + ' - ' + live.games[game._id].awayTeamName, 'Correct Score: 1 - 3', 'correctScore.cs13', live.games[game._id].odds.correctScore.cs13)">
                    1 - 3 <strong class="minute text-info">{{ live.games[game._id].odds.correctScore.cs13 | number : 2 }}</strong></button>
                <button ng-disabled="live.games[game._id].status > 1" type="button" class="btn btn-default btn-bet" ng-if="live.games[game._id].odds.correctScore.cs14"
                        ng-class="{'btn-success' : live.games[game._id].result.correctScore.cs14}"
                        ng-click="couponOps.addFormField(live.games[game._id]._id, live.games[game._id].startTime, live.games[game._id].homeTeamName + ' - ' + live.games[game._id].awayTeamName, 'Correct Score: 1 - 4', 'correctScore.cs14', live.games[game._id].odds.correctScore.cs14)">
                    1 - 4 <strong class="minute text-info">{{ live.games[game._id].odds.correctScore.cs14 | number : 2 }}</strong></button>
            </p>

            <p class="btn-group btn-group-sm">
                <button ng-disabled="live.games[game._id].status > 1" type="button" class="btn btn-default btn-bet" ng-if="live.games[game._id].odds.correctScore.cs20"
                        ng-class="{'btn-success' : live.games[game._id].result.correctScore.cs20}"
                        ng-click="couponOps.addFormField(live.games[game._id]._id, live.games[game._id].startTime, live.games[game._id].homeTeamName + ' - ' + live.games[game._id].awayTeamName, 'Correct Score: 2 - 0', 'correctScore.cs20', live.games[game._id].odds.correctScore.cs20)">
                    2 - 0 <strong class="minute text-info">{{ live.games[game._id].odds.correctScore.cs20 | number : 2 }}</strong></button>
                <button ng-disabled="live.games[game._id].status > 1" type="button" class="btn btn-default btn-bet" ng-if="live.games[game._id].odds.correctScore.cs21"
                        ng-class="{'btn-success' : live.games[game._id].result.correctScore.cs21}"
                        ng-click="couponOps.addFormField(live.games[game._id]._id, live.games[game._id].startTime, live.games[game._id].homeTeamName + ' - ' + live.games[game._id].awayTeamName, 'Correct Score: 2 - 1', 'correctScore.cs21', live.games[game._id].odds.correctScore.cs21)">
                    2 - 1 <strong class="minute text-info">{{ live.games[game._id].odds.correctScore.cs21 | number : 2 }}</strong></button>
                <button ng-disabled="live.games[game._id].status > 1" type="button" class="btn btn-default btn-bet" ng-if="live.games[game._id].odds.correctScore.cs22"
                        ng-class="{'btn-success' : live.games[game._id].result.correctScore.cs22}"
                        ng-click="couponOps.addFormField(live.games[game._id]._id, live.games[game._id].startTime, live.games[game._id].homeTeamName + ' - ' + live.games[game._id].awayTeamName, 'Correct Score: 2 - 2', 'correctScore.cs22', live.games[game._id].odds.correctScore.cs22)">
                    2 - 2 <strong class="minute text-info">{{ live.games[game._id].odds.correctScore.cs22 | number : 2 }}</strong></button>
                <button ng-disabled="live.games[game._id].status > 1" type="button" class="btn btn-default btn-bet" ng-if="live.games[game._id].odds.correctScore.cs23"
                        ng-class="{'btn-success' : live.games[game._id].result.correctScore.cs23}"
                        ng-click="couponOps.addFormField(live.games[game._id]._id, live.games[game._id].startTime, live.games[game._id].homeTeamName + ' - ' + live.games[game._id].awayTeamName, 'Correct Score: 2 - 3', 'correctScore.cs23', live.games[game._id].odds.correctScore.cs23)">
                    2 - 3 <strong class="minute text-info">{{ live.games[game._id].odds.correctScore.cs23 | number : 2 }}</strong></button>
                <button ng-disabled="live.games[game._id].status > 1" type="button" class="btn btn-default btn-bet" ng-if="live.games[game._id].odds.correctScore.cs24"
                        ng-class="{'btn-success' : live.games[game._id].result.correctScore.cs24}"
                        ng-click="couponOps.addFormField(live.games[game._id]._id, live.games[game._id].startTime, live.games[game._id].homeTeamName + ' - ' + live.games[game._id].awayTeamName, 'Correct Score: 2 - 4', 'correctScore.cs24', live.games[game._id].odds.correctScore.cs24)">
                    2 - 4 <strong class="minute text-info">{{ live.games[game._id].odds.correctScore.cs24 | number : 2 }}</strong></button>
            </p>
            <p class="btn-group btn-group-sm">
                <button ng-disabled="live.games[game._id].status > 1" type="button" class="btn btn-default btn-bet" ng-if="live.games[game._id].odds.correctScore.cs30"
                        ng-class="{'btn-success' : live.games[game._id].result.correctScore.cs30}"
                        ng-click="couponOps.addFormField(live.games[game._id]._id, live.games[game._id].startTime, live.games[game._id].homeTeamName + ' - ' + live.games[game._id].awayTeamName, 'Correct Score: 3 - 0', 'correctScore.cs30', live.games[game._id].odds.correctScore.cs30)">
                    3 - 0 <strong class="minute text-info">{{ live.games[game._id].odds.correctScore.cs30 | number : 2 }}</strong></button>
                <button ng-disabled="live.games[game._id].status > 1" type="button" class="btn btn-default btn-bet" ng-if="live.games[game._id].odds.correctScore.cs31"
                        ng-class="{'btn-success' : live.games[game._id].result.correctScore.cs31}"
                        ng-click="couponOps.addFormField(live.games[game._id]._id, live.games[game._id].startTime, live.games[game._id].homeTeamName + ' - ' + live.games[game._id].awayTeamName, 'Correct Score: 3 - 1', 'correctScore.cs31', live.games[game._id].odds.correctScore.cs31)">
                    3 - 1 <strong class="minute text-info">{{ live.games[game._id].odds.correctScore.cs31 | number : 2 }}</strong></button>
                <button ng-disabled="live.games[game._id].status > 1" type="button" class="btn btn-default btn-bet" ng-if="live.games[game._id].odds.correctScore.cs32"
                        ng-class="{'btn-success' : live.games[game._id].result.correctScore.cs32}"
                        ng-click="couponOps.addFormField(live.games[game._id]._id, live.games[game._id].startTime, live.games[game._id].homeTeamName + ' - ' + live.games[game._id].awayTeamName, 'Correct Score: 3 - 2', 'correctScore.cs32', live.games[game._id].odds.correctScore.cs32)">
                    3 - 2 <strong class="minute text-info">{{ live.games[game._id].odds.correctScore.cs32 | number : 2 }}</strong></button>
                <button ng-disabled="live.games[game._id].status > 1" type="button" class="btn btn-default btn-bet" ng-if="live.games[game._id].odds.correctScore.cs33"
                        ng-class="{'btn-success' : live.games[game._id].result.correctScore.cs33}"
                        ng-click="couponOps.addFormField(live.games[game._id]._id, live.games[game._id].startTime, live.games[game._id].homeTeamName + ' - ' + live.games[game._id].awayTeamName, 'Correct Score: 3 - 3', 'correctScore.cs33', live.games[game._id].odds.correctScore.cs33)">
                    3 - 3 <strong class="minute text-info">{{ live.games[game._id].odds.correctScore.cs33 | number : 2 }}</strong></button>
                <button ng-disabled="live.games[game._id].status > 1" type="button" class="btn btn-default btn-bet" ng-if="live.games[game._id].odds.correctScore.cs34"
                        ng-class="{'btn-success' : live.games[game._id].result.correctScore.cs34}"
                        ng-click="couponOps.addFormField(live.games[game._id]._id, live.games[game._id].startTime, live.games[game._id].homeTeamName + ' - ' + live.games[game._id].awayTeamName, 'Correct Score: 3 - 4', 'correctScore.cs34', live.games[game._id].odds.correctScore.cs34)">
                    3 - 4 <strong class="minute text-info">{{ live.games[game._id].odds.correctScore.cs34 | number : 2 }}</strong></button>
            </p>
            <p class="btn-group btn-group-sm">
                <button ng-disabled="live.games[game._id].status > 1" type="button" class="btn btn-default btn-bet" ng-if="live.games[game._id].odds.correctScore.cs40"
                        ng-class="{'btn-success' : live.games[game._id].result.correctScore.cs40}"
                        ng-click="couponOps.addFormField(live.games[game._id]._id, live.games[game._id].startTime, live.games[game._id].homeTeamName + ' - ' + live.games[game._id].awayTeamName, 'Correct Score: 4 - 0', 'correctScore.cs40', live.games[game._id].odds.correctScore.cs40)">
                    4 - 0 <strong class="minute text-info">{{ live.games[game._id].odds.correctScore.cs40 | number : 2 }}</strong></button>
                <button ng-disabled="live.games[game._id].status > 1" type="button" class="btn btn-default btn-bet" ng-if="live.games[game._id].odds.correctScore.cs41"
                        ng-class="{'btn-success' : live.games[game._id].result.correctScore.cs41}"
                        ng-click="couponOps.addFormField(live.games[game._id]._id, live.games[game._id].startTime, live.games[game._id].homeTeamName + ' - ' + live.games[game._id].awayTeamName, 'Correct Score: 4 - 1', 'correctScore.cs41', live.games[game._id].odds.correctScore.cs41)">
                    4 - 1 <strong class="minute text-info">{{ live.games[game._id].odds.correctScore.cs41 | number : 2 }}</strong></button>
                <button ng-disabled="live.games[game._id].status > 1" type="button" class="btn btn-default btn-bet" ng-if="live.games[game._id].odds.correctScore.cs42"
                        ng-class="{'btn-success' : live.games[game._id].result.correctScore.cs42}"
                        ng-click="couponOps.addFormField(live.games[game._id]._id, live.games[game._id].startTime, live.games[game._id].homeTeamName + ' - ' + live.games[game._id].awayTeamName, 'Correct Score: 4 - 2', 'correctScore.cs42', live.games[game._id].odds.correctScore.cs42)">
                    4 - 2 <strong class="minute text-info">{{ live.games[game._id].odds.correctScore.cs42 | number : 2 }}</strong></button>
                <button ng-disabled="live.games[game._id].status > 1" type="button" class="btn btn-default btn-bet" ng-if="live.games[game._id].odds.correctScore.cs43"
                        ng-class="{'btn-success' : live.games[game._id].result.correctScore.cs43}"
                        ng-click="couponOps.addFormField(live.games[game._id]._id, live.games[game._id].startTime, live.games[game._id].homeTeamName + ' - ' + live.games[game._id].awayTeamName, 'Correct Score: 4 - 3', 'correctScore.cs43', live.games[game._id].odds.correctScore.cs43)">
                    4 - 3 <strong class="minute text-info">{{ live.games[game._id].odds.correctScore.cs43 | number : 2 }}</strong></button>
                <button ng-disabled="live.games[game._id].status > 1" type="button" class="btn btn-default btn-bet" ng-if="live.games[game._id].odds.correctScore.cs44"
                        ng-class="{'btn-success' : live.games[game._id].result.correctScore.cs44}"
                        ng-click="couponOps.addFormField(live.games[game._id]._id, live.games[game._id].startTime, live.games[game._id].homeTeamName + ' - ' + live.games[game._id].awayTeamName, 'Correct Score: 4 - 4', 'correctScore.cs44', live.games[game._id].odds.correctScore.cs44)">
                    4 - 4 <strong class="minute text-info">{{ live.games[game._id].odds.correctScore.cs44 | number : 2 }}</strong></button>
            </p>
        </li>
    </ul>
</div>


<div collapse="isCollapsed" ng-if="!isCollapsed && !live.games[game._id]" class="my-animation"><br />
    <span class="label label-default" ng-if="game.odds.doubleChance">{{langs.lang_strings[161]}}</span>
    <ul class="list-group" ng-if="game.odds.doubleChance">
        <li class="list-group-item">

            <div class="btn-group btn-group-sm">
                <button ng-disabled="game.status > 1" type="button" class="btn btn-default btn-bet"
                        ng-class="{'btn-success' : game.result.doubleChance.homeAway }"
                        ng-click="couponOps.addFormField(game._id, game.startTime, (langs.lang_strings[game.homeTeamName] || game.homeTeamName) + ' - ' + (langs.lang_strings[game.awayTeamName] || game.awayTeamName), 'Double Chance: 1 or 2', 'doubleChance.homeAway', game.odds.doubleChance.homeAway)">
                    {{langs.lang_strings[158]}} {{langs.lang_strings[162]}} {{langs.lang_strings[160]}} <strong class="minute text-info">{{ game.odds.doubleChance.homeAway | number : 2 }}</strong></button>
                <button ng-disabled="game.status > 1" type="button" class="btn btn-default btn-bet"
                        ng-class="{'btn-success' : game.result.doubleChance.homeDraw }"
                        ng-click="couponOps.addFormField(game._id, game.startTime, (langs.lang_strings[game.homeTeamName] || game.homeTeamName) + ' - ' + (langs.lang_strings[game.awayTeamName] || game.awayTeamName), 'Double Chance: 1 or 0', 'doubleChance.homeDraw', game.odds.doubleChance.homeDraw)">
                    {{langs.lang_strings[158]}} {{langs.lang_strings[162]}} {{langs.lang_strings[159]}} <strong class="minute text-info">{{ game.odds.doubleChance.homeDraw | number : 2 }}</strong></button>
                <button ng-disabled="game.status > 1" type="button" class="btn btn-default btn-bet"
                        ng-class="{'btn-success' : game.result.doubleChance.awayDraw }"
                        ng-click="couponOps.addFormField(game._id, game.startTime, (langs.lang_strings[game.homeTeamName] || game.homeTeamName) + ' - ' + (langs.lang_strings[game.awayTeamName] || game.awayTeamName), 'Double Chance: 2 or 0', 'doubleChance.drawAway', game.odds.doubleChance.drawAway)">
                    {{langs.lang_strings[160]}} {{langs.lang_strings[162]}} {{langs.lang_strings[159]}} <strong class="minute text-info">{{ game.odds.doubleChance.drawAway | number : 2 }}</strong></button>
            </div>
        </li>
    </ul>
    <span class="label label-default" ng-if="game.odds.halfTimeFullTime">{{langs.lang_strings[163]}}</span>
    <ul class="list-group" ng-if="game.odds.halfTimeFullTime">
        <li class="list-group-item">
            <div class="btn-group btn-group-sm">
                <button ng-disabled="game.status > 1" type="button" class="btn btn-default btn-bet"
                        ng-class="{'btn-success' : game.result.halfTimeFullTime.homeHome}"
                        ng-click="couponOps.addFormField(game._id, game.startTime, (langs.lang_strings[game.homeTeamName] || game.homeTeamName) + ' - ' + (langs.lang_strings[game.awayTeamName] || game.awayTeamName), 'Half Time - Full Time 1 : 1', 'halfTimeFullTime.homeHome', game.odds.halfTimeFullTime.homeHome)">
                    {{langs.lang_strings[158]}} : {{langs.lang_strings[158]}} <strong class="minute text-info">{{ game.odds.halfTimeFullTime.homeHome | number : 2 }}</strong></button>
                <button ng-disabled="game.status > 1" type="button" class="btn btn-default btn-bet"
                        ng-class="{'btn-success' : game.result.halfTimeFullTime.homeDraw}"
                        ng-click="couponOps.addFormField(game._id, game.startTime, (langs.lang_strings[game.homeTeamName] || game.homeTeamName) + ' - ' + (langs.lang_strings[game.awayTeamName] || game.awayTeamName), 'Half Time - Full Time 1 : 0', 'halfTimeFullTime.homeDraw', game.odds.halfTimeFullTime.homeDraw)">
                    {{langs.lang_strings[158]}} : {{langs.lang_strings[159]}} <strong class="minute text-info">{{ game.odds.halfTimeFullTime.homeDraw | number : 2 }}</strong></button>
                <button ng-disabled="game.status > 1" type="button" class="btn btn-default btn-bet"
                        ng-class="{'btn-success' : game.result.halfTimeFullTime.homeAway}"
                        ng-click="couponOps.addFormField(game._id, game.startTime, (langs.lang_strings[game.homeTeamName] || game.homeTeamName) + ' - ' + (langs.lang_strings[game.awayTeamName] || game.awayTeamName), 'Half Time - Full Time 1 : 2', 'halfTimeFullTime.homeAway', game.odds.halfTimeFullTime.homeAway)">
                    {{langs.lang_strings[158]}} : {{langs.lang_strings[160]}} <strong class="minute text-info">{{ game.odds.halfTimeFullTime.homeAway | number : 2 }}</strong></button>
            </div>
            <div class="btn-group btn-group-sm">
                <button ng-disabled="game.status > 1" type="button" class="btn btn-default btn-bet"
                        ng-class="{'btn-success' : game.result.halfTimeFullTime.drawHome}"
                        ng-click="couponOps.addFormField(game._id, game.startTime, (langs.lang_strings[game.homeTeamName] || game.homeTeamName) + ' - ' + (langs.lang_strings[game.awayTeamName] || game.awayTeamName), 'Half Time - Full Time 0 : 1', 'halfTimeFullTime.drawHome', game.odds.halfTimeFullTime.drawHome)">
                    {{langs.lang_strings[159]}} : {{langs.lang_strings[158]}} <strong class="minute text-info">{{ game.odds.halfTimeFullTime.drawHome | number : 2 }}</strong></button>
                <button ng-disabled="game.status > 1" type="button" class="btn btn-default btn-bet"
                        ng-class="{'btn-success' : game.result.halfTimeFullTime.drawDraw}"
                        ng-click="couponOps.addFormField(game._id, game.startTime, (langs.lang_strings[game.homeTeamName] || game.homeTeamName) + ' - ' + (langs.lang_strings[game.awayTeamName] || game.awayTeamName), 'Half Time - Full Time 0 : 0',  'halfTimeFullTime.drawDraw', game.odds.halfTimeFullTime.drawDraw)">
                    {{langs.lang_strings[159]}} : {{langs.lang_strings[159]}} <strong class="minute text-info">{{ game.odds.halfTimeFullTime.drawDraw | number : 2 }}</strong></button>
                <button ng-disabled="game.status > 1" type="button" class="btn btn-default btn-bet"
                        ng-class="{'btn-success' : game.result.halfTimeFullTime.drawAway}"
                        ng-click="couponOps.addFormField(game._id, game.startTime, (langs.lang_strings[game.homeTeamName] || game.homeTeamName) + ' - ' + (langs.lang_strings[game.awayTeamName] || game.awayTeamName), 'Half Time - Full Time 0 : 2',  'halfTimeFullTime.drawAway', game.odds.halfTimeFullTime.drawAway)">
                    {{langs.lang_strings[159]}} : {{langs.lang_strings[160]}} <strong class="minute text-info">{{ game.odds.halfTimeFullTime.drawAway | number : 2 }}</strong></button>
            </div>
            <div class="btn-group btn-group-sm">
                <button ng-disabled="game.status > 1" type="button" class="btn btn-default btn-bet"
                        ng-class="{'btn-success' : game.result.halfTimeFullTime.awayHome}"
                        ng-click="couponOps.addFormField(game._id, game.startTime, (langs.lang_strings[game.homeTeamName] || game.homeTeamName) + ' - ' + (langs.lang_strings[game.awayTeamName] || game.awayTeamName), 'Half Time - Full Time 2 : 1', 'halfTimeFullTime.awayHome', game.odds.halfTimeFullTime.awayHome)">
                    {{langs.lang_strings[160]}} : {{langs.lang_strings[158]}} <strong class="minute text-info">{{ game.odds.halfTimeFullTime.awayHome | number : 2 }}</strong></button>
                <button ng-disabled="game.status > 1" type="button" class="btn btn-default btn-bet"
                        ng-class="{'btn-success' : game.result.halfTimeFullTime.awayDraw}"
                        ng-click="couponOps.addFormField(game._id, game.startTime, (langs.lang_strings[game.homeTeamName] || game.homeTeamName) + ' - ' + (langs.lang_strings[game.awayTeamName] || game.awayTeamName), 'Half Time - Full Time 2 : 0',  'halfTimeFullTime.awayDraw', game.odds.halfTimeFullTime.awayDraw)">
                    {{langs.lang_strings[160]}} : {{langs.lang_strings[159]}} <strong class="minute text-info">{{ game.odds.halfTimeFullTime.awayDraw | number : 2 }}</strong></button>
                <button ng-disabled="game.status > 1" type="button" class="btn btn-default btn-bet"
                        ng-class="{'btn-success' : game.result.halfTimeFullTime.awayAway}"
                        ng-click="couponOps.addFormField(game._id, game.startTime, (langs.lang_strings[game.homeTeamName] || game.homeTeamName) + ' - ' + (langs.lang_strings[game.awayTeamName] || game.awayTeamName), 'Half Time - Full Time 2 : 2',  'halfTimeFullTime.awayAway', game.odds.halfTimeFullTime.awayAway)">
                    {{langs.lang_strings[160]}} : {{langs.lang_strings[160]}} <strong class="minute text-info">{{ game.odds.halfTimeFullTime.awayAway | number : 2 }}</strong></button>
            </div>
        </li>
    </ul>

    <span class="label label-default" ng-if="game.odds.bothScores">{{langs.lang_strings[172]}}</span>
    <ul class="list-group" ng-if="game.odds.bothScores">
        <li class="list-group-item">
            <div class="btn-group btn-group-sm">
                <button ng-disabled="game.status > 1" type="button" class="btn btn-default btn-bet"
                        ng-class="{'btn-success' : game.result.bothScores.yes}"
                        ng-click="couponOps.addFormField(game._id, game.startTime, (langs.lang_strings[game.homeTeamName] || game.homeTeamName) + ' - ' + (langs.lang_strings[game.awayTeamName] || game.awayTeamName), 'Both Teams to Score: Yes',  'bothScores.yes', game.odds.bothScores.yes)">
                    {{langs.lang_strings[164]}} <strong class="minute text-info">{{ game.odds.bothScores.yes | number : 2 }}</strong></button>
                <button ng-disabled="game.status > 1" type="button" class="btn btn-default btn-bet"
                        ng-class="{'btn-success' : game.result.bothScores.no}"
                        ng-click="couponOps.addFormField(game._id, game.startTime, (langs.lang_strings[game.homeTeamName] || game.homeTeamName) + ' - ' + (langs.lang_strings[game.awayTeamName] || game.awayTeamName), 'Both Teams to Score: No',  'bothScores.no', game.odds.bothScores.no)">
                    {{langs.lang_strings[165]}} <strong class="minute text-info">{{ game.odds.bothScores.no | number : 2 }}</strong></button>
            </div>
        </li>
    </ul>

    <span class="label label-default" ng-if="game.odds.overUnder">{{langs.lang_strings[166]}} - {{langs.lang_strings[167]}}</span>
    <ul class="list-group" ng-if="game.odds.overUnder">
        <li class="list-group-item">
            <div class="btn-group btn-group-sm">
                <button ng-disabled="game.status > 1" type="button" class="btn btn-default btn-bet" ng-if="game.odds.overUnder.over05"
                        ng-class="{'btn-success' : game.result.overUnder.over05}"
                        ng-click="couponOps.addFormField(game._id, game.startTime, (langs.lang_strings[game.homeTeamName] || game.homeTeamName) + ' - ' + (langs.lang_strings[game.awayTeamName] || game.awayTeamName), ' Over 0.5', 'overUnder.over05', game.odds.overUnder.over05)">
                    {{langs.lang_strings[166]}} 0.5 <strong class="minute text-info">{{ game.odds.overUnder.over05 | number : 2 }}</strong></button>
                <button ng-disabled="game.status > 1" type="button" class="btn btn-default btn-bet" ng-if="game.odds.overUnder.over15"
                        ng-class="{'btn-success' : game.result.overUnder.over15 }"
                        ng-click="couponOps.addFormField(game._id, game.startTime, (langs.lang_strings[game.homeTeamName] || game.homeTeamName) + ' - ' + (langs.lang_strings[game.awayTeamName] || game.awayTeamName), ' Over 1.5', 'overUnder.over15', game.odds.overUnder.over15)">
                    {{langs.lang_strings[166]}} 1.5 <strong class="minute text-info">{{ game.odds.overUnder.over15 | number : 2 }}</strong></button>
                <button ng-disabled="game.status > 1" type="button" class="btn btn-default btn-bet" ng-if="game.odds.overUnder.over25"
                        ng-class="{'btn-success' : game.result.overUnder.over25}"
                        ng-click="couponOps.addFormField(game._id, game.startTime, (langs.lang_strings[game.homeTeamName] || game.homeTeamName) + ' - ' + (langs.lang_strings[game.awayTeamName] || game.awayTeamName), ' Over 2.5', 'overUnder.over25', game.odds.overUnder.over25)">
                    {{langs.lang_strings[166]}} 2.5 <strong class="minute text-info">{{ game.odds.overUnder.over25 | number : 2 }}</strong></button>
                <button ng-disabled="game.status > 1" type="button" class="btn btn-default btn-bet" ng-if="game.odds.overUnder.over35"
                        ng-class="{'btn-success' : game.result.overUnder.over35}"
                        ng-click="couponOps.addFormField(game._id, game.startTime, (langs.lang_strings[game.homeTeamName] || game.homeTeamName) + ' - ' + (langs.lang_strings[game.awayTeamName] || game.awayTeamName), ' Over 3.5', 'overUnder.over35', game.odds.overUnder.over35)">
                    {{langs.lang_strings[166]}} 3.5 <strong class="minute text-info">{{ game.odds.overUnder.over35 | number : 2 }}</strong></button>
                <button ng-disabled="game.status > 1" type="button" class="btn btn-default btn-bet" ng-if="game.odds.overUnder.over45"
                        ng-class="{'btn-success' : game.result.overUnder.over45}"
                        ng-click="couponOps.addFormField(game._id, game.startTime, (langs.lang_strings[game.homeTeamName] || game.homeTeamName) + ' - ' + (langs.lang_strings[game.awayTeamName] || game.awayTeamName), ' Over 4.5', 'overUnder.over45', game.odds.overUnder.over45)">
                    {{langs.lang_strings[166]}} 4.5 <strong class="minute text-info">{{ game.odds.overUnder.over45 | number : 2 }}</strong></button>
            </div>
            <div class="btn-group btn-group-sm">
                <button ng-disabled="game.status > 1" type="button" class="btn btn-default btn-bet" ng-if="game.odds.overUnder.under05"
                        ng-class="{'btn-success' : game.result.overUnder.under05}"
                        ng-click="couponOps.addFormField(game._id, game.startTime, (langs.lang_strings[game.homeTeamName] || game.homeTeamName) + ' - ' + (langs.lang_strings[game.awayTeamName] || game.awayTeamName), ' Under 0.5', 'overUnder.under05', game.odds.overUnder.under05)">
                    {{langs.lang_strings[167]}} 0.5 <strong class="minute text-info">{{ game.odds.overUnder.under05 | number : 2 }}</strong></button>
                <button ng-disabled="game.status > 1" type="button" class="btn btn-default btn-bet" ng-if="game.odds.overUnder.under15"
                        ng-class="{'btn-success' : game.result.overUnder.under15}"
                        ng-click="couponOps.addFormField(game._id, game.startTime, (langs.lang_strings[game.homeTeamName] || game.homeTeamName) + ' - ' + (langs.lang_strings[game.awayTeamName] || game.awayTeamName), ' Under 1.5', 'overUnder.under15', game.odds.overUnder.under15)">
                    {{langs.lang_strings[167]}} 1.5 <strong class="minute text-info">{{ game.odds.overUnder.under15 | number : 2 }}</strong></button>
                <button ng-disabled="game.status > 1" type="button" class="btn btn-default btn-bet" ng-if="game.odds.overUnder.under25"
                        ng-class="{'btn-success' : game.result.overUnder.under25}"
                        ng-click="couponOps.addFormField(game._id, game.startTime, (langs.lang_strings[game.homeTeamName] || game.homeTeamName) + ' - ' + (langs.lang_strings[game.awayTeamName] || game.awayTeamName), ' Under 2.5', 'overUnder.under25', game.odds.overUnder.under25)">
                    {{langs.lang_strings[167]}} 2.5 <strong class="minute text-info">{{ game.odds.overUnder.under25 | number : 2 }}</strong></button>
                <button ng-disabled="game.status > 1" type="button" class="btn btn-default btn-bet" ng-if="game.odds.overUnder.under35"
                        ng-class="{'btn-success' : game.result.overUnder.under35}"
                        ng-click="couponOps.addFormField(game._id, game.startTime, (langs.lang_strings[game.homeTeamName] || game.homeTeamName) + ' - ' + (langs.lang_strings[game.awayTeamName] || game.awayTeamName), ' Under 3.5', 'overUnder.under35', game.odds.overUnder.under35)">
                    {{langs.lang_strings[167]}} 3.5 <strong class="minute text-info">{{ game.odds.overUnder.under35 | number : 2 }}</strong></button>
                <button ng-disabled="game.status > 1" type="button" class="btn btn-default btn-bet" ng-if="game.odds.overUnder.under45"
                        ng-class="{'btn-success' : game.result.overUnder.under45}"
                        ng-click="couponOps.addFormField(game._id, game.startTime, (langs.lang_strings[game.homeTeamName] || game.homeTeamName) + ' - ' + (langs.lang_strings[game.awayTeamName] || game.awayTeamName), ' Under 4.5', 'overUnder.under45', game.odds.overUnder.under45)">
                    {{langs.lang_strings[167]}} 4.5 <strong class="minute text-info">{{ game.odds.overUnder.under45 | number : 2 }}</strong></button>
            </div>
        </li>
    </ul>

    <span class="label label-default" ng-if="game.odds.totalGoals">{{langs.lang_strings[168]}}</span>
    <ul class="list-group" ng-if="game.odds.totalGoals">
        <li class="list-group-item">
            <div class="btn-group btn-group-sm">
                <button ng-disabled="game.status > 1" type="button" class="btn btn-default btn-bet" ng-if="game.odds.totalGoals.tg1orMore"
                        ng-class="{'btn-success' : game.result.totalGoals.tg1orMore}"
                        ng-click="couponOps.addFormField(game._id, game.startTime, (langs.lang_strings[game.homeTeamName] || game.homeTeamName) + ' - ' + (langs.lang_strings[game.awayTeamName] || game.awayTeamName), 'Total Goals: 1 or more', 'totalGoals.tg1orMore', game.odds.totalGoals.tg1orMore)">
                    1 {{langs.lang_strings[162]}} {{langs.lang_strings[169]}} <strong class="minute text-info">{{ game.odds.totalGoals.tg1orMore | number : 2 }}</strong></button>
                <button ng-disabled="game.status > 1" type="button" class="btn btn-default btn-bet" ng-if="game.odds.totalGoals.tg2orMore"
                        ng-class="{'btn-success' : game.result.totalGoals.tg2orMore}"
                        ng-click="couponOps.addFormField(game._id, game.startTime, (langs.lang_strings[game.homeTeamName] || game.homeTeamName) + ' - ' + (langs.lang_strings[game.awayTeamName] || game.awayTeamName), 'Total Goals: 2 or more', 'totalGoals.tg2orMore', game.odds.totalGoals.tg2orMore)">
                    2 {{langs.lang_strings[162]}} {{langs.lang_strings[169]}} <strong class="minute text-info">{{ game.odds.totalGoals.tg2orMore | number : 2 }}</strong></button>
                <button ng-disabled="game.status > 1" type="button" class="btn btn-default btn-bet" ng-if="game.odds.totalGoals.tg3orMore"
                        ng-class="{'btn-success' : game.result.totalGoals.tg3orMore}"
                        ng-click="couponOps.addFormField(game._id, game.startTime, (langs.lang_strings[game.homeTeamName] || game.homeTeamName) + ' - ' + (langs.lang_strings[game.awayTeamName] || game.awayTeamName), 'Total Goals: 3 or more', 'totalGoals.tg3orMore', game.odds.totalGoals.tg3orMore)">
                    3 {{langs.lang_strings[162]}} {{langs.lang_strings[169]}} <strong class="minute text-info">{{ game.odds.totalGoals.tg3orMore | number : 2 }}</strong></button>
                <button ng-disabled="game.status > 1" type="button" class="btn btn-default btn-bet" ng-if="game.odds.totalGoals.tg4orMore"
                        ng-class="{'btn-success' : game.result.totalGoals.tg4orMore}"
                        ng-click="couponOps.addFormField(game._id, game.startTime, (langs.lang_strings[game.homeTeamName] || game.homeTeamName) + ' - ' + (langs.lang_strings[game.awayTeamName] || game.awayTeamName), 'Total Goals: 4 or more', 'totalGoals.tg4orMore', game.odds.totalGoals.tg4orMore)">
                    4 {{langs.lang_strings[162]}} {{langs.lang_strings[169]}} <strong class="minute text-info">{{ game.odds.totalGoals.tg4orMore | number : 2 }}</strong></button>
            </div>
            <div class="btn-group btn-group-sm">
                <button ng-disabled="game.status > 1" type="button" class="btn btn-default btn-bet" ng-if="game.odds.totalGoals.tg5orMore"
                        ng-class="{'btn-success' : game.result.totalGoals.tg5orMore}"
                        ng-click="couponOps.addFormField(game._id, game.startTime, (langs.lang_strings[game.homeTeamName] || game.homeTeamName) + ' - ' + (langs.lang_strings[game.awayTeamName] || game.awayTeamName), 'Total Goals: 5 or more', 'totalGoals.tg5orMore', game.odds.totalGoals.tg5orMore)">
                    5 {{langs.lang_strings[162]}} {{langs.lang_strings[169]}} <strong class="minute text-info">{{ game.odds.totalGoals.tg5orMore | number : 2 }}</strong></button>
                <button ng-disabled="game.status > 1" type="button" class="btn btn-default btn-bet" ng-if="game.odds.totalGoals.tg6orMore"
                        ng-class="{'btn-success' : game.result.totalGoals.tg6orMore}"
                        ng-click="couponOps.addFormField(game._id, game.startTime, (langs.lang_strings[game.homeTeamName] || game.homeTeamName) + ' - ' + (langs.lang_strings[game.awayTeamName] || game.awayTeamName), 'Total Goals: 6 or more', 'totalGoals.tg6orMore', game.odds.totalGoals.tg6orMore)">
                    6 {{langs.lang_strings[162]}} {{langs.lang_strings[169]}} <strong class="minute text-info">{{ game.odds.totalGoals.tg6orMore | number : 2 }}</strong></button>
                <button ng-disabled="game.status > 1" type="button" class="btn btn-default btn-bet" ng-if="game.odds.totalGoals.tg7orMore"
                        ng-class="{'btn-success' : game.result.totalGoals.tg7orMore}"
                        ng-click="couponOps.addFormField(game._id, game.startTime, (langs.lang_strings[game.homeTeamName] || game.homeTeamName) + ' - ' + (langs.lang_strings[game.awayTeamName] || game.awayTeamName), 'Total Goals: 7 or more', 'totalGoals.tg7orMore', game.odds.totalGoals.tg7orMore)">
                    7 {{langs.lang_strings[162]}} {{langs.lang_strings[169]}} <strong class="minute text-info">{{ game.odds.totalGoals.tg7orMore | number : 2 }}</strong></button>
            </div>
        </li>
    </ul>

    <span class="label label-default" ng-if="game.odds.handicap01">{{langs.lang_strings[170]}} 0 - 1</span>
    <ul class="list-group" ng-if="game.odds.handicap01">
        <li class="list-group-item">
            <div class="btn-group btn-group-sm">
                <button ng-disabled="game.status > 1" type="button" class="btn btn-default btn-bet"
                        ng-class="{'btn-success' : game.result.handicap01.home}"
                        ng-click="couponOps.addFormField(game._id, game.startTime, (langs.lang_strings[game.homeTeamName] || game.homeTeamName) + ' - ' + (langs.lang_strings[game.awayTeamName] || game.awayTeamName), '3-way Handicap 0 - 1: Home', 'handicap01.home', game.odds.handicap01.home)">
                    {{langs.lang_strings[158]}} <strong class="minute text-info">{{ game.odds.handicap01.home | number : 2 }}</strong></button>
                <button ng-disabled="game.status > 1" type="button" class="btn btn-default btn-bet"
                        ng-class="{'btn-success' : game.result.handicap01.draw}"
                        ng-click="couponOps.addFormField(game._id, game.startTime, (langs.lang_strings[game.homeTeamName] || game.homeTeamName) + ' - ' + (langs.lang_strings[game.awayTeamName] || game.awayTeamName), '3-way Handicap 0 - 1: Draw', 'handicap01.draw', game.odds.handicap01.draw)">
                    {{langs.lang_strings[159]}} <strong class="minute text-info">{{ game.odds.handicap01.draw | number : 2 }}</strong></button>
                <button ng-disabled="game.status > 1" type="button" class="btn btn-default btn-bet"
                        ng-class="{'btn-success' : game.result.handicap01.away}"
                        ng-click="couponOps.addFormField(game._id, game.startTime, (langs.lang_strings[game.homeTeamName] || game.homeTeamName) + ' - ' + (langs.lang_strings[game.awayTeamName] || game.awayTeamName), '3-way Handicap 0 - 1: Away', 'handicap01.away', game.odds.handicap01.away)">
                    {{langs.lang_strings[160]}} <strong class="minute text-info">{{ game.odds.handicap01.away | number : 2 }}</strong></button>
            </div>
        </li>
    </ul>

    <span class="label label-default" ng-if="game.odds.handicap10">{{langs.lang_strings[170]}} 1 - 0</span>
    <ul class="list-group" ng-if="game.odds.handicap10">
        <li class="list-group-item">
            <div class="btn-group btn-group-sm">
                <button ng-disabled="game.status > 1" type="button" class="btn btn-default btn-bet"
                        ng-class="{'btn-success' : game.result.handicap10.home}"
                        ng-click="couponOps.addFormField(game._id, game.startTime, (langs.lang_strings[game.homeTeamName] || game.homeTeamName) + ' - ' + (langs.lang_strings[game.awayTeamName] || game.awayTeamName), '3-way Handicap 1 - 0: Home', 'handicap10.home', game.odds.handicap10.home)">
                    {{langs.lang_strings[158]}} <strong class="minute text-info">{{ game.odds.handicap10.home | number : 2 }}</strong></button>
                <button ng-disabled="game.status > 1" type="button" class="btn btn-default btn-bet"
                        ng-class="{'btn-success' : game.result.handicap10.draw}"
                        ng-click="couponOps.addFormField(game._id, game.startTime, (langs.lang_strings[game.homeTeamName] || game.homeTeamName) + ' - ' + (langs.lang_strings[game.awayTeamName] || game.awayTeamName), '3-way Handicap 1 - 0: Draw', 'handicap10.draw', game.odds.handicap10.draw)">
                    {{langs.lang_strings[159]}} <strong class="minute text-info">{{ game.odds.handicap10.draw | number : 2 }}</strong></button>
                <button ng-disabled="game.status > 1" type="button" class="btn btn-default btn-bet"
                        ng-class="{'btn-success' : game.result.handicap10.away}"
                        ng-click="couponOps.addFormField(game._id, game.startTime, (langs.lang_strings[game.homeTeamName] || game.homeTeamName) + ' - ' + (langs.lang_strings[game.awayTeamName] || game.awayTeamName), '3-way Handicap 1 - 0: Away', 'handicap10.away', game.odds.handicap10.away)">
                    {{langs.lang_strings[160]}} <strong class="minute text-info">{{ game.odds.handicap10.away | number : 2 }}</strong></button>
            </div>
        </li>
    </ul>

    <span class="label label-default" ng-if="game.odds.correctScore">{{langs.lang_strings[171]}}</span>
    <ul class="list-group" ng-if="game.odds.correctScore">
        <li class="list-group-item">
            <div class="btn-group btn-group-sm">
                <button ng-disabled="game.status > 1" type="button" class="btn btn-default btn-bet" ng-if="game.odds.correctScore.cs00"
                        ng-class="{'btn-success' : game.result.correctScore.cs00}"
                        ng-click="couponOps.addFormField(game._id, game.startTime, (langs.lang_strings[game.homeTeamName] || game.homeTeamName) + ' - ' + (langs.lang_strings[game.awayTeamName] || game.awayTeamName), 'Correct Score: 0 - 0', 'correctScore.cs00', game.odds.correctScore.cs00)">
                    0 - 0 <strong class="minute text-info">{{ game.odds.correctScore.cs00 | number : 2 }}</strong></button>
                <button ng-disabled="game.status > 1" type="button" class="btn btn-default btn-bet" ng-if="game.odds.correctScore.cs01"
                        ng-class="{'btn-success' : game.result.correctScore.cs01}"
                        ng-click="couponOps.addFormField(game._id, game.startTime, (langs.lang_strings[game.homeTeamName] || game.homeTeamName) + ' - ' + (langs.lang_strings[game.awayTeamName] || game.awayTeamName), 'Correct Score: 0 - 1', 'correctScore.cs01', game.odds.correctScore.cs01)">
                    0 - 1 <strong class="minute text-info">{{ game.odds.correctScore.cs01 | number : 2 }}</strong></button>
                <button ng-disabled="game.status > 1" type="button" class="btn btn-default btn-bet" ng-if="game.odds.correctScore.cs02"
                        ng-class="{'btn-success' : game.result.correctScore.cs02}"
                        ng-click="couponOps.addFormField(game._id, game.startTime, (langs.lang_strings[game.homeTeamName] || game.homeTeamName) + ' - ' + (langs.lang_strings[game.awayTeamName] || game.awayTeamName), 'Correct Score: 0 - 2', 'correctScore.cs02', game.odds.correctScore.cs02)">
                    0 - 2 <strong class="minute text-info">{{ game.odds.correctScore.cs02 | number : 2 }}</strong></button>
                <button ng-disabled="game.status > 1" type="button" class="btn btn-default btn-bet" ng-if="game.odds.correctScore.cs03"
                        ng-class="{'btn-success' : game.result.correctScore.cs03}"
                        ng-click="couponOps.addFormField(game._id, game.startTime, (langs.lang_strings[game.homeTeamName] || game.homeTeamName) + ' - ' + (langs.lang_strings[game.awayTeamName] || game.awayTeamName), 'Correct Score: 0 - 3', 'correctScore.cs03', game.odds.correctScore.cs03)">
                    0 - 3 <strong class="minute text-info">{{ game.odds.correctScore.cs03 | number : 2 }}</strong></button>
                <button ng-disabled="game.status > 1" type="button" class="btn btn-default btn-bet" ng-if="game.odds.correctScore.cs04"
                        ng-class="{'btn-success' : game.result.correctScore.cs04}"
                        ng-click="couponOps.addFormField(game._id, game.startTime, (langs.lang_strings[game.homeTeamName] || game.homeTeamName) + ' - ' + (langs.lang_strings[game.awayTeamName] || game.awayTeamName), 'Correct Score: 0 - 4', 'correctScore.cs04', game.odds.correctScore.cs04)">
                    0 - 4 <strong class="minute text-info">{{ game.odds.correctScore.cs04 | number : 2 }}</strong></button>
            </div>

            <div class="btn-group btn-group-sm">
                <button ng-disabled="game.status > 1" type="button" class="btn btn-default btn-bet" ng-if="game.odds.correctScore.cs10"
                        ng-class="{'btn-success' : game.result.correctScore.cs10}"
                        ng-click="couponOps.addFormField(game._id, game.startTime, (langs.lang_strings[game.homeTeamName] || game.homeTeamName) + ' - ' + (langs.lang_strings[game.awayTeamName] || game.awayTeamName), 'Correct Score: 1 - 0', 'correctScore.cs10', game.odds.correctScore.cs10)">
                    1 - 0 <strong class="minute text-info">{{ game.odds.correctScore.cs10 | number : 2 }}</strong></button>
                <button ng-disabled="game.status > 1" type="button" class="btn btn-default btn-bet" ng-if="game.odds.correctScore.cs11"
                        ng-class="{'btn-success' : game.result.correctScore.cs11}"
                        ng-click="couponOps.addFormField(game._id, game.startTime, (langs.lang_strings[game.homeTeamName] || game.homeTeamName) + ' - ' + (langs.lang_strings[game.awayTeamName] || game.awayTeamName), 'Correct Score: 1 - 1', 'correctScore.cs11', game.odds.correctScore.cs11)">
                    1 - 1 <strong class="minute text-info">{{ game.odds.correctScore.cs11 | number : 2 }}</strong></button>
                <button ng-disabled="game.status > 1" type="button" class="btn btn-default btn-bet" ng-if="game.odds.correctScore.cs12"
                        ng-class="{'btn-success' : game.result.correctScore.cs12}"
                        ng-click="couponOps.addFormField(game._id, game.startTime, (langs.lang_strings[game.homeTeamName] || game.homeTeamName) + ' - ' + (langs.lang_strings[game.awayTeamName] || game.awayTeamName), 'Correct Score: 1 - 2', 'correctScore.cs12', game.odds.correctScore.cs12)">
                    1 - 2 <strong class="minute text-info">{{ game.odds.correctScore.cs12 | number : 2 }}</strong></button>
                <button ng-disabled="game.status > 1" type="button" class="btn btn-default btn-bet" ng-if="game.odds.correctScore.cs13"
                        ng-class="{'btn-success' : game.result.correctScore.cs13}"
                        ng-click="couponOps.addFormField(game._id, game.startTime, (langs.lang_strings[game.homeTeamName] || game.homeTeamName) + ' - ' + (langs.lang_strings[game.awayTeamName] || game.awayTeamName), 'Correct Score: 1 - 3', 'correctScore.cs13', game.odds.correctScore.cs13)">
                    1 - 3 <strong class="minute text-info">{{ game.odds.correctScore.cs13 | number : 2 }}</strong></button>
                <button ng-disabled="game.status > 1" type="button" class="btn btn-default btn-bet" ng-if="game.odds.correctScore.cs14"
                        ng-class="{'btn-success' : game.result.correctScore.cs14}"
                        ng-click="couponOps.addFormField(game._id, game.startTime, (langs.lang_strings[game.homeTeamName] || game.homeTeamName) + ' - ' + (langs.lang_strings[game.awayTeamName] || game.awayTeamName), 'Correct Score: 1 - 4', 'correctScore.cs14', game.odds.correctScore.cs14)">
                    1 - 4 <strong class="minute text-info">{{ game.odds.correctScore.cs14 | number : 2 }}</strong></button>
            </div>

            <div class="btn-group btn-group-sm">
                <button ng-disabled="game.status > 1" type="button" class="btn btn-default btn-bet" ng-if="game.odds.correctScore.cs20"
                        ng-class="{'btn-success' : game.result.correctScore.cs20}"
                        ng-click="couponOps.addFormField(game._id, game.startTime, (langs.lang_strings[game.homeTeamName] || game.homeTeamName) + ' - ' + (langs.lang_strings[game.awayTeamName] || game.awayTeamName), 'Correct Score: 2 - 0', 'correctScore.cs20', game.odds.correctScore.cs20)">
                    2 - 0 <strong class="minute text-info">{{ game.odds.correctScore.cs20 | number : 2 }}</strong></button>
                <button ng-disabled="game.status > 1" type="button" class="btn btn-default btn-bet" ng-if="game.odds.correctScore.cs21"
                        ng-class="{'btn-success' : game.result.correctScore.cs21}"
                        ng-click="couponOps.addFormField(game._id, game.startTime, (langs.lang_strings[game.homeTeamName] || game.homeTeamName) + ' - ' + (langs.lang_strings[game.awayTeamName] || game.awayTeamName), 'Correct Score: 2 - 1', 'correctScore.cs21', game.odds.correctScore.cs21)">
                    2 - 1 <strong class="minute text-info">{{ game.odds.correctScore.cs21 | number : 2 }}</strong></button>
                <button ng-disabled="game.status > 1" type="button" class="btn btn-default btn-bet" ng-if="game.odds.correctScore.cs22"
                        ng-class="{'btn-success' : game.result.correctScore.cs22}"
                        ng-click="couponOps.addFormField(game._id, game.startTime, (langs.lang_strings[game.homeTeamName] || game.homeTeamName) + ' - ' + (langs.lang_strings[game.awayTeamName] || game.awayTeamName), 'Correct Score: 2 - 2', 'correctScore.cs22', game.odds.correctScore.cs22)">
                    2 - 2 <strong class="minute text-info">{{ game.odds.correctScore.cs22 | number : 2 }}</strong></button>
                <button ng-disabled="game.status > 1" type="button" class="btn btn-default btn-bet" ng-if="game.odds.correctScore.cs23"
                        ng-class="{'btn-success' : game.result.correctScore.cs23}"
                        ng-click="couponOps.addFormField(game._id, game.startTime, (langs.lang_strings[game.homeTeamName] || game.homeTeamName) + ' - ' + (langs.lang_strings[game.awayTeamName] || game.awayTeamName), 'Correct Score: 2 - 3', 'correctScore.cs23', game.odds.correctScore.cs23)">
                    2 - 3 <strong class="minute text-info">{{ game.odds.correctScore.cs23 | number : 2 }}</strong></button>
                <button ng-disabled="game.status > 1" type="button" class="btn btn-default btn-bet" ng-if="game.odds.correctScore.cs24"
                        ng-class="{'btn-success' : game.result.correctScore.cs24}"
                        ng-click="couponOps.addFormField(game._id, game.startTime, (langs.lang_strings[game.homeTeamName] || game.homeTeamName) + ' - ' + (langs.lang_strings[game.awayTeamName] || game.awayTeamName), 'Correct Score: 2 - 4', 'correctScore.cs24', game.odds.correctScore.cs24)">
                    2 - 4 <strong class="minute text-info">{{ game.odds.correctScore.cs24 | number : 2 }}</strong></button>
            </div>
            <div class="btn-group btn-group-sm">
                <button ng-disabled="game.status > 1" type="button" class="btn btn-default btn-bet" ng-if="game.odds.correctScore.cs30"
                        ng-class="{'btn-success' : game.result.correctScore.cs30}"
                        ng-click="couponOps.addFormField(game._id, game.startTime, (langs.lang_strings[game.homeTeamName] || game.homeTeamName) + ' - ' + (langs.lang_strings[game.awayTeamName] || game.awayTeamName), 'Correct Score: 3 - 0', 'correctScore.cs30', game.odds.correctScore.cs30)">
                    3 - 0 <strong class="minute text-info">{{ game.odds.correctScore.cs30 | number : 2 }}</strong></button>
                <button ng-disabled="game.status > 1" type="button" class="btn btn-default btn-bet" ng-if="game.odds.correctScore.cs31"
                        ng-class="{'btn-success' : game.result.correctScore.cs31}"
                        ng-click="couponOps.addFormField(game._id, game.startTime, (langs.lang_strings[game.homeTeamName] || game.homeTeamName) + ' - ' + (langs.lang_strings[game.awayTeamName] || game.awayTeamName), 'Correct Score: 3 - 1', 'correctScore.cs31', game.odds.correctScore.cs31)">
                    3 - 1 <strong class="minute text-info">{{ game.odds.correctScore.cs31 | number : 2 }}</strong></button>
                <button ng-disabled="game.status > 1" type="button" class="btn btn-default btn-bet" ng-if="game.odds.correctScore.cs32"
                        ng-class="{'btn-success' : game.result.correctScore.cs32}"
                        ng-click="couponOps.addFormField(game._id, game.startTime, (langs.lang_strings[game.homeTeamName] || game.homeTeamName) + ' - ' + (langs.lang_strings[game.awayTeamName] || game.awayTeamName), 'Correct Score: 3 - 2', 'correctScore.cs32', game.odds.correctScore.cs32)">
                    3 - 2 <strong class="minute text-info">{{ game.odds.correctScore.cs32 | number : 2 }}</strong></button>
                <button ng-disabled="game.status > 1" type="button" class="btn btn-default btn-bet" ng-if="game.odds.correctScore.cs33"
                        ng-class="{'btn-success' : game.result.correctScore.cs33}"
                        ng-click="couponOps.addFormField(game._id, game.startTime, (langs.lang_strings[game.homeTeamName] || game.homeTeamName) + ' - ' + (langs.lang_strings[game.awayTeamName] || game.awayTeamName), 'Correct Score: 3 - 3', 'correctScore.cs33', game.odds.correctScore.cs33)">
                    3 - 3 <strong class="minute text-info">{{ game.odds.correctScore.cs33 | number : 2 }}</strong></button>
                <button ng-disabled="game.status > 1" type="button" class="btn btn-default btn-bet" ng-if="game.odds.correctScore.cs34"
                        ng-class="{'btn-success' : game.result.correctScore.cs34}"
                        ng-click="couponOps.addFormField(game._id, game.startTime, (langs.lang_strings[game.homeTeamName] || game.homeTeamName) + ' - ' + (langs.lang_strings[game.awayTeamName] || game.awayTeamName), 'Correct Score: 3 - 4', 'correctScore.cs34', game.odds.correctScore.cs34)">
                    3 - 4 <strong class="minute text-info">{{ game.odds.correctScore.cs34 | number : 2 }}</strong></button>
            </div>
            <div class="btn-group btn-group-sm">
                <button ng-disabled="game.status > 1" type="button" class="btn btn-default btn-bet" ng-if="game.odds.correctScore.cs40"
                        ng-class="{'btn-success' : game.result.correctScore.cs40}"
                        ng-click="couponOps.addFormField(game._id, game.startTime, (langs.lang_strings[game.homeTeamName] || game.homeTeamName) + ' - ' + (langs.lang_strings[game.awayTeamName] || game.awayTeamName), 'Correct Score: 4 - 0', 'correctScore.cs40', game.odds.correctScore.cs40)">
                    4 - 0 <strong class="minute text-info">{{ game.odds.correctScore.cs40 | number : 2 }}</strong></button>
                <button ng-disabled="game.status > 1" type="button" class="btn btn-default btn-bet" ng-if="game.odds.correctScore.cs41"
                        ng-class="{'btn-success' : game.result.correctScore.cs41}"
                        ng-click="couponOps.addFormField(game._id, game.startTime, (langs.lang_strings[game.homeTeamName] || game.homeTeamName) + ' - ' + (langs.lang_strings[game.awayTeamName] || game.awayTeamName), 'Correct Score: 4 - 1', 'correctScore.cs41', game.odds.correctScore.cs41)">
                    4 - 1 <strong class="minute text-info">{{ game.odds.correctScore.cs41 | number : 2 }}</strong></button>
                <button ng-disabled="game.status > 1" type="button" class="btn btn-default btn-bet" ng-if="game.odds.correctScore.cs42"
                        ng-class="{'btn-success' : game.result.correctScore.cs42}"
                        ng-click="couponOps.addFormField(game._id, game.startTime, (langs.lang_strings[game.homeTeamName] || game.homeTeamName) + ' - ' + (langs.lang_strings[game.awayTeamName] || game.awayTeamName), 'Correct Score: 4 - 2', 'correctScore.cs42', game.odds.correctScore.cs42)">
                    4 - 2 <strong class="minute text-info">{{ game.odds.correctScore.cs42 | number : 2 }}</strong></button>
                <button ng-disabled="game.status > 1" type="button" class="btn btn-default btn-bet" ng-if="game.odds.correctScore.cs43"
                        ng-class="{'btn-success' : game.result.correctScore.cs43}"
                        ng-click="couponOps.addFormField(game._id, game.startTime, (langs.lang_strings[game.homeTeamName] || game.homeTeamName) + ' - ' + (langs.lang_strings[game.awayTeamName] || game.awayTeamName), 'Correct Score: 4 - 3', 'correctScore.cs43', game.odds.correctScore.cs43)">
                    4 - 3 <strong class="minute text-info">{{ game.odds.correctScore.cs43 | number : 2 }}</strong></button>
                <button ng-disabled="game.status > 1" type="button" class="btn btn-default btn-bet" ng-if="game.odds.correctScore.cs44"
                        ng-class="{'btn-success' : game.result.correctScore.cs44}"
                        ng-click="couponOps.addFormField(game._id, game.startTime, (langs.lang_strings[game.homeTeamName] || game.homeTeamName) + ' - ' + (langs.lang_strings[game.awayTeamName] || game.awayTeamName), 'Correct Score: 4 - 4', 'correctScore.cs44', game.odds.correctScore.cs44)">
                    4 - 4 <strong class="minute text-info">{{ game.odds.correctScore.cs44 | number : 2 }}</strong></button>
            </div>
        </li>
    </ul>



</div>
