<div ng-cloak class="ng-cloak hidden-xs hidden-sm" data-ng-controller="GamesController" data-ng-show="authentication.user">
    <div class="list-group">
        <div class="list-group-item ">
            <h4 class="modal-title text-maincolor"><i class="fa fa-play-circle-o"></i> {{langs.lang_strings[59]}}</h4>
        </div>
        <a data-ui-sref="games.view({ gameId: game._id })" data-ng-repeat="game in live.games track by game._id" ui-sref-opts="{ reload: true }" class="list-group-item">
            <table class="score-side-table">
                <tr>
                    <td class="teamname">
                        <small ng-if="live.games[game._id].status === '2'" class="text-info" ng-bind="langs.lang_strings[112]"></small>
                        <small ng-if="live.games[game._id].status === '3'" class="text-warning" ng-bind="langs.lang_strings[113]"></small>
                    </td>
                    <td class="skor text-muted">
                        <small class="label label-default" ng-if="live.games[game._id].score.extraTimeHome !== undefined"><span ng-bind="langs.lang_strings[40]"></span></small>
                    </td>
                    <td class="skor text-danger">
                        <small class="label label-default" ng-if="live.games[game._id].score.penaltiesHome !== undefined"><span ng-bind="langs.lang_strings[41]"></span></small>
                    </td>
                    <td class="skor text-muted">
                        <small ng-if="live.games[game._id].score.firstHalfHome !== undefined" ng-bind="langs.lang_strings[114]"></small>
                    </td>
                    <td class="skor text-danger">
                        <small ng-if="live.games[game._id].score.minute !== undefined" ng-bind="live.games[game._id].score.minute"></small><span ng-class="{'blink' : live.games[game._id].status === '2'}">'</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong ng-class="{ 'highlight' : game.score.totalHome > game.score.totalAway}" ng-bind="langs.lang_strings[game.homeTeamName] || game.homeTeamName"></strong>
                    </td>
                    <td class="skor text-muted">
                        <span ng-bind="live.games[game._id].score.extraTimeHome"></span>
                    </td>
                    <td class="skor text-danger">
                        <span ng-bind="live.games[game._id].score.penaltiesHome"></span>
                    </td>
                    <td class="skor text-muted">
                        <span ng-bind="live.games[game._id].score.firstHalfHome"></span>
                    </td>
                    <td class="skor text-danger">
                        <span ng-bind="live.games[game._id].score.totalHome"></span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong ng-class="{ 'highlight' : game.score.totalHome < game.score.totalAway}" ng-bind="langs.lang_strings[game.awayTeamName] || game.awayTeamName"></strong>
                    </td>
                    <td class="skor text-muted">
                        <span ng-bind="live.games[game._id].score.extraTimeAway"></span>
                    </td>
                    <td class="skor text-danger">
                        <span ng-bind="live.games[game._id].score.penaltiesAway"></span>
                    </td>
                    <td class="skor text-muted">
                        <span ng-bind="live.games[game._id].score.firstHalfAway"></span>
                    </td>
                    <td class="skor text-danger">
                        <span ng-bind="live.games[game._id].score.totalAway"></span>
                    </td>
                </tr>
            </table>

        </a>
        <a data-ui-sref="games.list" ui-sref-opts="{ reload: true }" class="list-group-item text-right">
            <i class="fa fa-trophy fa-lg"></i> <span ng-bind="langs.lang_strings[39]"></span>
        </a>

    </div>
</div>
