<div class="container-fluid">
<div class="row post-game-list-item">
    <div class="col-sm-7">
        <a data-ng-href="/#!/games/{{item.pickedGame._id}}">
            <strong class="" ng-bind="langs.lang_strings[item.pickedGame.homeTeamName] || item.pickedGame.homeTeamName"></strong> -
            <strong class="" ng-bind="langs.lang_strings[item.pickedGame.awayTeamName] || item.pickedGame.awayTeamName"></strong>
        </a>
        <div ng-if="live.games[item.pickedGame._id]">
            <small>
                <span ng-if="live.games[item.pickedGame._id].status === '2'" class="text-info highlight liveskor" ng-bind="langs.lang_strings[112]"></span>
                <span ng-if="live.games[item.pickedGame._id].status === '3'" class="text-warning liveskor" ng-bind="langs.lang_strings[113]"></span>
                <span class="text-default liveskor" ng-if="live.games[item.pickedGame._id].score.firstHalfHome !== undefined"><span ng-bind="langs.lang_strings[114]"></span> <span class="minute" ng-bind="live.games[item.pickedGame._id].score.firstHalfHome"></span> - <span ng-bind="live.games[item.pickedGame._id].score.firstHalfAway"></span></span>
                    <span class="text-success liveskor"><span ng-if="live.games[item.pickedGame._id].score.minute !== undefined" ng-bind="live.games[item.pickedGame._id].score.minute"></span><span ng-class="{'blink' : live.games[item.pickedGame._id].status === '2'}">'</span>
                        <span class="minute" ng-bind="live.games[item.pickedGame._id].score.totalHome"></span> - <span ng-bind="live.games[item.pickedGame._id].score.totalAway"></span></span>
                <span class="text-default liveskor" ng-if="live.games[item.pickedGame._id].score.extraTimeHome !== undefined"><span ng-bind="langs.lang_strings[40]"></span> <span class="minute" ng-bind="live.games[item.pickedGame._id].score.extraTimeHome"></span> - <span ng-bind="live.games[item.pickedGame._id].score.extraTimeAway"></span></span>
                <span class="text-default liveskor" ng-if="live.games[item.pickedGame._id].score.penaltiesHome !== undefined"><span ng-bind="langs.lang_strings[41]"></span> <span class="minute" ng-bind="live.games[item.pickedGame._id].score.penaltiesHome"></span> - <span ng-bind="live.games[item.pickedGame._id].score.penaltiesAway"></span></span>
            </small>
        </div>
        <div ng-if="!live.games[item.pickedGame._id] && item.pickedGame.status === '3'">
            <small>
                <span class="text-warning liveskor" ng-bind="langs.lang_strings[113]"></span>
                <span class="text-default liveskor" ng-if="item.pickedGame.score.firstHalfHome !== undefined"><span ng-bind="langs.lang_strings[114]"></span> <span class="minute" ng-bind="item.pickedGame.score.firstHalfHome"></span> - <span ng-bind="item.pickedGame.score.firstHalfAway"></span></span>
                <span class="text-success liveskor"><span ng-if="item.pickedGame.score.minute !== undefined" ng-bind="item.pickedGame.score.minute"></span> <span class="minute" ng-bind="item.pickedGame.score.totalHome"></span> - <span ng-bind="item.pickedGame.score.totalAway"></span></span>
                <span class="text-default liveskor" ng-if="item.pickedGame.score.extraTimeHome !== undefined"><span ng-bind="langs.lang_strings[40]"></span> <span class="minute" ng-bind="item.pickedGame.score.extraTimeHome"></span> - <span ng-bind="item.pickedGame.score.extraTimeAway"></span></span>
                <span class="text-default liveskor" ng-if="item.pickedGame.score.penaltiesHome !== undefined"><span ng-bind="langs.lang_strings[41]"></span> <span class="minute" ng-bind="item.pickedGame.score.penaltiesHome"></span> - <span ng-bind="item.pickedGame.score.penaltiesAway"></span></span>
            </small>
        </div>
        <div class="text-muted timeandplace">
            <i class="fa fa-clock-o"></i>
            <small ng-bind="dateOps.convertDate(item.pickedGame.startTime)"></small>&nbsp;&nbsp;
            <i class="fa fa-map-marker" ></i>
            <small ng-bind="langs.lang_strings[item.pickedGame.country]"></small>
            <small ng-bind="langs.lang_strings[item.pickedGame.league]"></small>
        </div>

    </div>
    <div class="col-sm-5">

        <span class="btn-group btn-group-sm pull-right" ng-if="live.games[item.pickedGame._id]">
            <button type="button" class="btn btn-bet"
                    ng-class="{'btn-success' : live.games[item.pickedGame._id].result[item.betTypesShort.split('.')[0]][item.betTypesShort.split('.')[1]] === true,
                    'btn-danger' : live.games[item.pickedGame._id].result[item.betTypesShort.split('.')[0]][item.betTypesShort.split('.')[1]] === false}"
                    ng-disabled ="true"
                    ng-bind="langs.lang_strings.odds[item.betTypesShort.split('.')[0]][item.betTypesShort.split('.')[1]]"></button>
            <button type="button" class="btn btn-primary btn-bet"
                    ng-class="{'btn-success' : live.games[item.pickedGame._id].result[item.betTypesShort.split('.')[0]][item.betTypesShort.split('.')[1]] === true,
                    'btn-danger' : live.games[item.pickedGame._id].result[item.betTypesShort.split('.')[0]][item.betTypesShort.split('.')[1]] === false}"
                    ng-disabled ="true"
                    ng-bind="live.games[item.pickedGame._id].odds[item.betTypesShort.split('.')[0]][item.betTypesShort.split('.')[1]] | number: 2"></button>
        </span>

        <span class="btn-group btn-group-sm pull-right" ng-if="!live.games[item.pickedGame._id]">
            <button type="button" class="btn btn-bet"
                    ng-class="{'btn-success' : item.pickedGame.result[item.betTypesShort.split('.')[0]][item.betTypesShort.split('.')[1]] === true,
                    'btn-danger' : item.pickedGame.result[item.betTypesShort.split('.')[0]][item.betTypesShort.split('.')[1]] === false}"
                    ng-disabled ="item.pickedGame.status > 1 || !authentication.user"
                    ng-click="couponOps.addFormField(item.pickedGame._id, item.pickedGame.startTime, (langs.lang_strings[item.pickedGame.homeTeamName] || item.pickedGame.homeTeamName) + ' - ' + (langs.lang_strings[item.pickedGame.awayTeamName] || item.pickedGame.awayTeamName), item.betTypes, item.betTypesShort, item.pickedGame.odds[item.betTypesShort.split('.')[0]][item.betTypesShort.split('.')[1]])"
                    ng-bind="langs.lang_strings.odds[item.betTypesShort.split('.')[0]][item.betTypesShort.split('.')[1]]"></button>
            <button type="button" class="btn btn-primary btn-bet"
                    ng-class="{'btn-success' : item.pickedGame.result[item.betTypesShort.split('.')[0]][item.betTypesShort.split('.')[1]] === true,
                    'btn-danger' : item.pickedGame.result[item.betTypesShort.split('.')[0]][item.betTypesShort.split('.')[1]] === false}"
                    ng-disabled ="item.pickedGame.status > 1 || !authentication.user"
                    ng-click="couponOps.addFormField(item.pickedGame._id, item.pickedGame.startTime, (langs.lang_strings[item.pickedGame.homeTeamName] || item.pickedGame.homeTeamName) + ' - ' + (langs.lang_strings[item.pickedGame.awayTeamName] || item.pickedGame.awayTeamName), item.betTypes, item.betTypesShort, item.pickedGame.odds[item.betTypesShort.split('.')[0]][item.betTypesShort.split('.')[1]])"
                    ng-bind="item.pickedGame.odds[item.betTypesShort.split('.')[0]][item.betTypesShort.split('.')[1]] | number: 2"></button>
        </span>
    </div>
</div>

</div>
