<section data-ng-controller="GamesController">
    <br />
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">New Game</h3>
        </div>
        <div class="panel-body">
            <div class="col-md-12">
                <form class="form-horizontal" data-ng-submit="create()" id="new-game" name="new-game" novalidate>
                    <fieldset>
                        <div class="form-group">
                                <input type="text" class="form-control" data-ng-model="vnumber" name="vnumber"
                                   placeholder="vnumber" required><br />
                                <input type="text" class="form-control" data-ng-model="rb_id" name="rb_id"
                                       placeholder="rb_id" required><br />

                                <input type="text" class="form-control" data-ng-model="sport" name="sport"
                                       placeholder="sport" required><br />


                                <input type="text" class="form-control" data-ng-model="country" name="country"
                                       placeholder="country" required><br />


                                <input type="text" class="form-control" data-ng-model="league" name="league"
                                       placeholder="league" required><br />


                                <input type="text" class="form-control" data-ng-model="startTime" name="startTime"
                                       placeholder="startTime" required><br />


                                <input type="text" class="form-control" data-ng-model="homeTeamName" name="homeTeamName"
                                       placeholder="homeTeamName" required><br />


                                <input type="text" class="form-control" data-ng-model="awayTeamName" name="awayTeamName"
                                       placeholder="awayTeamName" required>

                            <hr />

                                score:<br />

                                <input type="text" class="form-control" data-ng-model="score.firstHalfHome" name="score.firstHalfHome"
                                       placeholder="score.firstHalfHome"><br />

                                <input type="text" class="form-control" data-ng-model="score.firstHalfAway" name="score.firstHalfAway"
                                       placeholder="score.firstHalfAway"><br />


                                <input type="text" class="form-control" data-ng-model="score.secondHalfHome" name="score.secondHalfHome"
                                       placeholder="score.secondHalfHome"><br />


                                <input type="text" class="form-control" data-ng-model="score.secondHalfAway" name="score.secondHalfAway"
                                       placeholder="score.secondHalfAway"><br />


                                <input type="text" class="form-control" data-ng-model="score.extraTimeHome" name="score.extraTimeHome"
                                       placeholder="score.extraTimeHome"><br />

                                <input type="text" class="form-control" data-ng-model="score.extraTimeAway" name="score.extraTimeAway"
                                       placeholder="score.extraTimeAway"><br />

                                <input type="text" class="form-control" data-ng-model="score.penaltiesHome" name="score.penaltiesHome"
                                       placeholder="score.penaltiesHome"><br />

                                <input type="text" class="form-control" data-ng-model="score.penaltiesAway" name="score.penaltiesAway"
                                       placeholder="score.penaltiesAway"><br />


                                <input type="text" class="form-control" data-ng-model="score.totalHome" name="score.totalHome"
                                       placeholder="score.totalHome"><br />

                                <input type="text" class="form-control" data-ng-model="score.totalAway" name="score.totalAway"
                                       placeholder="score.totalAway">

                            <hr />

                                result:<br />
                                <input type="text" class="form-control" data-ng-model="result.main" name="result.main"
                                       placeholder="result.main"><br />

                                <input type="text" class="form-control" data-ng-model="result.doubleChance" name="result.doubleChance"
                                       placeholder="result.doubleChance"><br />

                                <input type="text" class="form-control" data-ng-model="result.over05" name="result.over05"
                                       placeholder="result.over05"><br />

                                <input type="text" class="form-control" data-ng-model="result.over15" name="result.over15"
                                       placeholder="result.over15"><br />

                                <input type="text" class="form-control" data-ng-model="result.over25" name="result.over25"
                                       placeholder="result.over25"><br />

                                <input type="text" class="form-control" data-ng-model="result.over35" name="result.over35"
                                       placeholder="result.over35"><br />

                                <input type="text" class="form-control" data-ng-model="result.over45" name="result.over45"
                                       placeholder="result.over45"><br />

                                <input type="text" class="form-control" data-ng-model="result.under05" name="result.under05"
                                       placeholder="result.under05"><br />

                                <input type="text" class="form-control" data-ng-model="result.under15" name="result.under15"
                                       placeholder="result.under15"><br />

                                <input type="text" class="form-control" data-ng-model="result.under25" name="result.under25"
                                       placeholder="result.under25"><br />

                                <input type="text" class="form-control" data-ng-model="result.under35" name="result.under35"
                                       placeholder="result.under35"><br />

                                <input type="text" class="form-control" data-ng-model="result.under45" name="result.under45"
                                       placeholder="result.under45"><br />

                                <input type="text" class="form-control" data-ng-model="result.halfTimeFullTime" name="result.halfTimeFullTime"
                                       placeholder="result.halfTimeFullTime"><br />

                                <input type="text" class="form-control" data-ng-model="result.correctScore" name="result.correctScore"
                                       placeholder="result.correctScore"><br />

                                <input type="text" class="form-control" data-ng-model="result.handicap10" name="result.handicap10"
                                       placeholder="result.handicap10"><br />

                                <input type="text" class="form-control" data-ng-model="result.handicap01" name="result.handicap01"
                                       placeholder="result.handicap01"><br />

                                <input type="text" class="form-control" data-ng-model="result.tg1orMore" name="result.tg1orMore"
                                       placeholder="result.tg1orMore"><br />

                                <input type="text" class="form-control" data-ng-model="result.tg2orMore" name="result.tg2orMore"
                                       placeholder="result.tg2orMore"><br />

                                <input type="text" class="form-control" data-ng-model="result.tg3orMore" name="result.tg3orMore"
                                       placeholder="result.tg3orMore"><br />

                                <input type="text" class="form-control" data-ng-model="result.tg4orMore" name="result.tg4orMore"
                                       placeholder="result.tg4orMore"><br />

                                <input type="text" class="form-control" data-ng-model="result.tg5orMore" name="result.tg5orMore"
                                       placeholder="result.tg5orMore"><br />

                                <input type="text" class="form-control" data-ng-model="result.tg6orMore" name="result.tg6orMore"
                                       placeholder="result.tg6orMore"><br />

                                <input type="text" class="form-control" data-ng-model="result.tg7orMore" name="result.tg7orMore"
                                       placeholder="result.goals7orMore"><br />

                                <input type="text" class="form-control" data-ng-model="result.bothScores" name="result.bothScores"
                                       placeholder="result.bothScores"><hr />

                                <input type="text" class="form-control" data-ng-model="status" name="status"
                                       placeholder="status"><hr />

                                odds.main:<br />
                                <input type="text" class="form-control" data-ng-model="odds.main.home" name="odds.main.home"
                                       placeholder="odds.main.home" required><br />

                                <input type="text" class="form-control" data-ng-model="odds.main.draw" name="odds.main.draw"
                                       placeholder="odds.main.draw" required><br />

                                <input type="text" class="form-control" data-ng-model="odds.main.away" name="odds.main.away"
                                       placeholder="odds.main.away" required><hr />

                                odds.doubleChance:<br />

                                <input type="text" class="form-control" data-ng-model="odds.doubleChance.homeDraw" name="odds.doubleChance.homeDraw"
                                       placeholder="odds.doubleChance.homeDraw"><br />

                                <input type="text" class="form-control" data-ng-model="odds.doubleChance.homeAway" name="odds.doubleChance.homeAway"
                                       placeholder="odds.doubleChance.homeAway"><br />

                                <input type="text" class="form-control" data-ng-model="odds.doubleChance.drawAway" name="odds.doubleChance.drawAway"
                                       placeholder="odds.doubleChance.drawAway"><hr />

                                odds.overUnder:<br />
                                <input type="text" class="form-control" data-ng-model="odds.overUnder.over05" name="odds.overUnder.over05"
                                       placeholder="odds.overUnder.over05"><br />

                                <input type="text" class="form-control" data-ng-model="odds.overUnder.over15" name="odds.overUnder.over15"
                                       placeholder="odds.overUnder.over15"><br />

                                <input type="text" class="form-control" data-ng-model="odds.overUnder.over25" name="odds.overUnder.over25"
                                       placeholder="odds.overUnder.over25"><br />

                                <input type="text" class="form-control" data-ng-model="odds.overUnder.over35" name="odds.overUnder.over35"
                                       placeholder="odds.overUnder.over35"><br />

                                <input type="text" class="form-control" data-ng-model="odds.overUnder.over45" name="odds.overUnder.over45"
                                       placeholder="odds.overUnder.over45"><br />

                                <input type="text" class="form-control" data-ng-model="odds.overUnder.under05" name="odds.overUnder.under05"
                                       placeholder="odds.overUnder.under05"><br />

                                <input type="text" class="form-control" data-ng-model="odds.overUnder.under15" name="odds.overUnder.under15"
                                       placeholder="odds.overUnder.under15"><br />

                                <input type="text" class="form-control" data-ng-model="odds.overUnder.under25" name="odds.overUnder.under25"
                                       placeholder="odds.overUnder.under25"><br />

                                <input type="text" class="form-control" data-ng-model="odds.overUnder.under35" name="odds.overUnder.under35"
                                       placeholder="odds.overUnder.under35"><br />

                                <input type="text" class="form-control" data-ng-model="odds.overUnder.under45" name="odds.overUnder.under45"
                                       placeholder="odds.overUnder.under45"><hr />

                                odds.halfTimeFullTime:<br />
                                <input type="text" class="form-control" data-ng-model="odds.halfTimeFullTime.homeHome" name="odds.halfTimeFullTime.homeHome"
                                       placeholder="odds.halfTimeFullTime.homeHome"><br />

                                <input type="text" class="form-control" data-ng-model="odds.halfTimeFullTime.homeDraw" name="odds.halfTimeFullTime.homeDraw"
                                       placeholder="odds.halfTimeFullTime.homeDraw"><br />

                                <input type="text" class="form-control" data-ng-model="odds.halfTimeFullTime.homeAway" name="odds.halfTimeFullTime.homeAway"
                                       placeholder="odds.halfTimeFullTime.homeAway"><br />

                                <input type="text" class="form-control" data-ng-model="odds.halfTimeFullTime.drawHome" name="odds.halfTimeFullTime.drawHome"
                                       placeholder="odds.halfTimeFullTime.drawHome"><br />

                                <input type="text" class="form-control" data-ng-model="odds.halfTimeFullTime.drawDraw" name="odds.halfTimeFullTime.drawDraw"
                                       placeholder="odds.halfTimeFullTime.drawDraw"><br />

                                <input type="text" class="form-control" data-ng-model="odds.halfTimeFullTime.drawAway" name="odds.halfTimeFullTime.drawAway"
                                       placeholder="odds.halfTimeFullTime.drawAway"><br />

                                <input type="text" class="form-control" data-ng-model="odds.halfTimeFullTime.awayHome" name="odds.halfTimeFullTime.awayHome"
                                       placeholder="odds.halfTimeFullTime.awayHome"><br />

                                <input type="text" class="form-control" data-ng-model="odds.halfTimeFullTime.awayDraw" name="odds.halfTimeFullTime.awayDraw"
                                       placeholder="odds.halfTimeFullTime.awayDraw"><br />

                                <input type="text" class="form-control" data-ng-model="odds.halfTimeFullTime.awayAway" name="odds.halfTimeFullTime.awayAway"
                                       placeholder="odds.halfTimeFullTime.awayAway"><hr />

                                odds.correctScore:<br />
                                <input type="text" class="form-control" data-ng-model="odds.correctScore.cs00" name="odds.correctScore.cs00"
                                       placeholder="odds.correctScore.cs00"><br />

                                <input type="text" class="form-control" data-ng-model="odds.correctScore.cs10" name="odds.correctScore.cs10"
                                       placeholder="odds.correctScore.cs10"><br />

                                <input type="text" class="form-control" data-ng-model="odds.correctScore.cs11" name="odds.correctScore.cs11"
                                       placeholder="odds.correctScore.cs11"><br />

                                <input type="text" class="form-control" data-ng-model="odds.correctScore.cs01" name="odds.correctScore.cs01"
                                       placeholder="odds.correctScore.cs01"><br />

                                <input type="text" class="form-control" data-ng-model="odds.correctScore.cs20" name="odds.correctScore.cs20"
                                       placeholder="odds.correctScore.cs20"><br />

                                <input type="text" class="form-control" data-ng-model="odds.correctScore.cs21" name="odds.correctScore.cs21"
                                       placeholder="odds.correctScore.cs21"><br />

                                <input type="text" class="form-control" data-ng-model="odds.correctScore.cs22" name="odds.correctScore.cs22"
                                       placeholder="odds.correctScore.cs22"><br />

                                <input type="text" class="form-control" data-ng-model="odds.correctScore.cs02" name="odds.correctScore.cs02"
                                       placeholder="odds.correctScore.cs02"><br />

                                <input type="text" class="form-control" data-ng-model="odds.correctScore.cs12" name="odds.correctScore.cs12"
                                       placeholder="odds.correctScore.cs12"><br />

                                <input type="text" class="form-control" data-ng-model="odds.correctScore.cs30" name="odds.correctScore.cs30"
                                       placeholder="odds.correctScore.cs30"><br />

                                <input type="text" class="form-control" data-ng-model="odds.correctScore.cs31" name="odds.correctScore.cs31"
                                       placeholder="odds.correctScore.cs31"><br />

                                <input type="text" class="form-control" data-ng-model="odds.correctScore.cs32" name="odds.correctScore.cs32"
                                       placeholder="odds.correctScore.cs32"><br />

                                <input type="text" class="form-control" data-ng-model="odds.correctScore.cs33" name="odds.correctScore.cs33"
                                       placeholder="odds.correctScore.cs33"><br />

                                <input type="text" class="form-control" data-ng-model="odds.correctScore.cs03" name="odds.correctScore.cs03"
                                       placeholder="odds.correctScore.cs03"><br />

                                <input type="text" class="form-control" data-ng-model="odds.correctScore.cs13" name="odds.correctScore.cs13"
                                       placeholder="odds.correctScore.cs13"><br />

                                <input type="text" class="form-control" data-ng-model="odds.correctScore.cs23" name="odds.correctScore.cs23"
                                       placeholder="odds.correctScore.cs23"><br />

                                <input type="text" class="form-control" data-ng-model="odds.correctScore.cs40" name="odds.correctScore.cs40"
                                       placeholder="odds.correctScore.cs40"><br />

                                <input type="text" class="form-control" data-ng-model="odds.correctScore.cs41" name="odds.correctScore.cs41"
                                       placeholder="odds.correctScore.cs41"><br />

                                <input type="text" class="form-control" data-ng-model="odds.correctScore.cs42" name="odds.correctScore.cs42"
                                       placeholder="odds.correctScore.cs42"><br />

                                <input type="text" class="form-control" data-ng-model="odds.correctScore.cs43" name="odds.correctScore.cs43"
                                       placeholder="odds.correctScore.cs43"><br />

                                <input type="text" class="form-control" data-ng-model="odds.correctScore.cs44" name="odds.correctScore.cs44"
                                       placeholder="odds.correctScore.cs44"><br />

                                <input type="text" class="form-control" data-ng-model="odds.correctScore.cs04" name="odds.correctScore.cs04"
                                       placeholder="odds.correctScore.cs04"><br />

                                <input type="text" class="form-control" data-ng-model="odds.correctScore.cs14" name="odds.correctScore.cs14"
                                       placeholder="odds.correctScore.cs14"><br />

                                <input type="text" class="form-control" data-ng-model="odds.correctScore.cs24" name="odds.correctScore.cs24"
                                       placeholder="odds.correctScore.cs24"><br />

                                <input type="text" class="form-control" data-ng-model="odds.correctScore.cs34" name="odds.correctScore.cs34"
                                       placeholder="odds.correctScore.cs34"><hr />

                                odds.handicap10:<br />
                                <input type="text" class="form-control" data-ng-model="odds.handicap10.home" name="odds.handicap10.home"
                                       placeholder="odds.handicap10.home"><br />

                                <input type="text" class="form-control" data-ng-model="odds.handicap10.draw" name="odds.handicap10.draw"
                                       placeholder="odds.handicap10.draw"><br />

                                <input type="text" class="form-control" data-ng-model="odds.handicap10.away" name="odds.handicap10.away"
                                       placeholder="odds.handicap10.away"><br />

                                odds.handicap01:<br />
                                <input type="text" class="form-control" data-ng-model="odds.handicap01.home" name="odds.handicap01.home"
                                       placeholder="odds.handicap01.home"><br />

                                <input type="text" class="form-control" data-ng-model="odds.handicap01.draw" name="odds.handicap01.draw"
                                       placeholder="odds.handicap01.draw"><br />

                                <input type="text" class="form-control" data-ng-model="odds.handicap01.away" name="odds.handicap01.away"
                                       placeholder="odds.handicap01.away"><br />

                                odds.totalGoals:<br />
                                <input type="text" class="form-control" data-ng-model="odds.totalGoals.tg1orMore" name="odds.totalGoals.tg1orMore"
                                       placeholder="odds.totalGoals.tg1orMore"><br />

                                <input type="text" class="form-control" data-ng-model="odds.totalGoals.tg2orMore" name="odds.totalGoals.tg2orMore"
                                       placeholder="odds.totalGoals.tg2orMore"><br />

                                <input type="text" class="form-control" data-ng-model="odds.totalGoals.tg3orMore" name="odds.totalGoals.tg3orMore"
                                       placeholder="odds.totalGoals.tg3orMore"><br />

                                <input type="text" class="form-control" data-ng-model="odds.totalGoals.tg4orMore" name="odds.totalGoals.tg4orMore"
                                       placeholder="odds.totalGoals.tg4orMore"><br />

                                <input type="text" class="form-control" data-ng-model="odds.totalGoals.tg5orMore" name="odds.totalGoals.tg5orMore"
                                       placeholder="odds.totalGoals.tg5orMore"><br />

                                <input type="text" class="form-control" data-ng-model="odds.totalGoals.tg6orMore" name="odds.totalGoals.tg6orMore"
                                       placeholder="odds.totalGoals.tg6orMore"><br />

                                <input type="text" class="form-control" data-ng-model="odds.totalGoals.tg7orMore" name="odds.totalGoals.tg7orMore"
                                       placeholder="odds.totalGoals.tg7orMore"><br />


                                odds.bothScores:<br />
                                <input type="text" class="form-control" data-ng-model="odds.bothScores.yes" name="odds.bothScores.yes"
                                       placeholder="odds.bothScores.yes"><br />

                                <input type="text" class="form-control" data-ng-model="odds.bothScores.no" name="odds.bothScores.no"
                                       placeholder="odds.bothScores.no"><br />



                        </div>
                        <div class="form-group">
                            <input type="submit" class="btn btn-lg btn-primary">
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</section>
