<section data-ng-controller="GamesController" data-ng-init="init()"  ng-cloak class="ng-cloak">
    <br />
    <ol class="breadcrumb">
        <li>

            <span class="dropdown">
                <a class="dropdown-toggle" href="" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                    {{ langs.lang_strings[querySport] || langs.lang_strings[38] }}
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu games-select" role="menu" aria-labelledby="dropdownMenu1">
                    <li role="presentation" class="dropdown-header">{{langs.lang_strings[38]}}</li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="" ng-click="setSport(undefined)">{{langs.lang_strings[39]}}</a></li>
                    <li role="presentation" class="divider"></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="" ng-click="setSport('Football')">{{langs.lang_strings['Football']}}</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="" ng-click="setSport('Football Women')">{{langs.lang_strings['Football Women']}}</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="" ng-click="setSport('Tennis Men')">{{langs.lang_strings['Tennis Men']}}</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="" ng-click="setSport('Tennis Women')">{{langs.lang_strings['Tennis Women']}}</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="" ng-click="setSport('Basketball')">{{langs.lang_strings['Basketball']}}</a></li>
                </ul>
            </span>
        </li><li>
            <span class="dropdown">
                <a class="dropdown-toggle" href="" id="dropdownMenu2" data-toggle="dropdown" aria-expanded="true">
                    {{ langs.lang_strings[queryCountry] || langs.lang_strings[45] }}
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu games-select" role="menu" aria-labelledby="dropdownMenu2">
                    <li role="presentation" class="dropdown-header">{{langs.lang_strings[45]}}</li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="" ng-click="setCountry(undefined)">{{langs.lang_strings[46]}}</a></li>
                    <li role="presentation" class="divider"></li>
                    <li role="presentation" ng-repeat="country in countryList | orderBy: langs.lang_strings[country]">
                        <a role="menuitem" tabindex="-1" href="" ng-click="setCountry(country)">{{langs.lang_strings[country]}}</a>
                    </li>
                </ul>
            </span>
        </li><li>
            <span class="dropdown">
                <a class="dropdown-toggle" href="" id="dropdownMenu3" data-toggle="dropdown" aria-expanded="true" ng-disabled="!queryCountry" ng-class="{'text-muted' : !queryCountry}">
                    {{ langs.lang_strings[queryLeague] || langs.lang_strings[47]}}
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu games-select" role="menu" aria-labelledby="dropdownMenu3">
                    <li role="presentation" class="dropdown-header">{{langs.lang_strings[47]}}</li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="" ng-click="setLeague(undefined)">{{langs.lang_strings[39]}}</a></li>
                    <li role="presentation" class="divider"></li>
                    <li role="presentation" ng-repeat="league in leagueList">
                        <a role="menuitem" tabindex="-1" href="" ng-click="setLeague(league)">{{langs.lang_strings[league]}}</a>
                    </li>
                </ul>
            </span>
        </li><li>
            <span class="dropdown">
                <a class="dropdown-toggle" href="" id="dropdownMenu4" data-toggle="dropdown" aria-expanded="true">
                    {{dateList[queryDate].name || langs.lang_strings[48]}}
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu games-select" role="menu" aria-labelledby="dropdownMenu4">
                    <li role="presentation" class="dropdown-header">{{langs.lang_strings[48]}}</li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="" ng-click="setDay(undefined)">{{langs.lang_strings[39]}}</a></li>
                    <li role="presentation" class="divider"></li>
                    <li role="presentation" ng-repeat="day in dateList">
                        <a role="menuitem" tabindex="-1" href="" ng-click="setDay(day.index)">{{day.name}}</a>
                    </li>
                </ul>
            </span>
        </li><li>
            <span class="dropdown">
                <a class="text-success dropdown-toggle" href="" id="dropdownMenu5" data-toggle="dropdown" aria-expanded="true">
                    {{ langs.lang_strings[57 + queryStatus] || langs.lang_strings[57]}}
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu games-select" role="menu" aria-labelledby="dropdownMenu5">
                    <li role="presentation" class="dropdown-header">{{langs.lang_strings[57]}}</li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="" ng-click="setStatus(undefined)">{{langs.lang_strings[39]}}</a></li>
                    <li role="presentation" class="divider"></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="" ng-click="setStatus(2)">{{langs.lang_strings[59]}}</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="" ng-click="setStatus(3)">{{langs.lang_strings[60]}}</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="" ng-click="setStatus(1)">{{langs.lang_strings[58]}}</a></li>
                </ul>
            </span>
        </li>
    </ol>

        <ul class="list-group">
            <li class="list-group-item game-list-item" data-ng-repeat="game in games track by game._id | filter:query">

                        <a-game></a-game>

            </li>
        </ul>

<alert class="alert text-center" type="danger" data-ng-hide="!games.$resolved || games.length">
    {{langs.lang_strings[149]}}
</alert>
</section>
