<div class="container-fluid">
    <div class="row post-game-list-item" ng-repeat="quotes in post.quotedGames">
        <div class="row post-game-list-item">
            <div class="col-sm-7">
                <a data-ng-href="/#!/games/{{quotes._id}}">
                    <strong class="text-muted"><span ng-bind="langs.lang_strings[quotes.homeTeamName] || quotes.homeTeamName"></span> - <span ng-bind="langs.lang_strings[quotes.awayTeamName] || quotes.awayTeamName"></span></strong>
                </a>
                <div ng-if="live.games[quotes._id]">
                    <small>
                        <span ng-if="live.games[quotes._id].status === '2'" class="text-info highlight liveskor" ng-bind="langs.lang_strings[112]"></span>
                        <span ng-if="live.games[quotes._id].status === '3'" class="text-warning liveskor" ng-bind="langs.lang_strings[113]"></span>
                        <span class="text-default liveskor" ng-if="live.games[quotes._id].score.firstHalfHome !== undefined"><span ng-bind="langs.lang_strings[114]"></span> <span class="minute" ng-bind="live.games[quotes._id].score.firstHalfHome"></span> - <span ng-bind="live.games[quotes._id].score.firstHalfAway"></span></span>
                    <span class="text-success liveskor"><span ng-if="live.games[quotes._id].score.minute !== undefined" ng-bind="live.games[quotes._id].score.minute"></span><span ng-class="{'blink' : live.games[quotes._id].status === '2'}">'</span>
                        <span class="minute" ng-bind="live.games[quotes._id].score.totalHome"></span> - <span ng-bind="live.games[quotes._id].score.totalAway"></span></span>
                        <span class="text-default liveskor" ng-if="live.games[quotes._id].score.extraTimeHome !== undefined"><span ng-bind="langs.lang_strings[40]"></span> <span class="minute" ng-bind="live.games[quotes._id].score.extraTimeHome"></span> - <span ng-bind="live.games[quotes._id].score.extraTimeAway"></span></span>
                        <span class="text-default liveskor" ng-if="live.games[quotes._id].score.penaltiesHome !== undefined"><span ng-bind="langs.lang_strings[41]"></span> <span class="minute" ng-bind="live.games[quotes._id].score.penaltiesHome"></span> - <span ng-bind="live.games[quotes._id].score.penaltiesAway"></span></span>
                    </small>
                </div>
                <div ng-if="!live.games[quotes._id] && quotes.status === '3'">
                    <small>
                        <span class="text-warning liveskor" ng-bind="langs.lang_strings[113]"></span>
                        <span class="text-default liveskor" ng-if="quotes.score.firstHalfHome !== undefined"><span ng-bind="langs.lang_strings[114]"></span> <span class="minute" ng-bind="quotes.score.firstHalfHome"></span> - <span ng-bind="quotes.score.firstHalfAway"></span></span>
                        <span class="text-success liveskor"><span ng-if="quotes.score.minute !== undefined" ng-bind="quotes.score.minute"></span> <span class="minute" ng-bind="quotes.score.totalHome"></span> - <span ng-bind="quotes.score.totalAway"></span></span>
                        <span class="text-default liveskor" ng-if="quotes.score.extraTimeHome !== undefined"><span ng-bind="langs.lang_strings[40]"></span> <span class="minute" ng-bind="quotes.score.extraTimeHome"></span> - <span ng-bind="quotes.score.extraTimeAway"></span></span>
                        <span class="text-default liveskor" ng-if="quotes.score.penaltiesHome !== undefined"><span ng-bind="langs.lang_strings[41]"></span> <span class="minute" ng-bind="quotes.score.penaltiesHome"></span> - <span ng-bind="quotes.score.penaltiesAway"></span></span>
                    </small>
                </div>
                <div class="text-muted timeandplace">
                    <i class="fa fa-clock-o text-muted"></i>
                    <small ng-bind="dateOps.convertDate(quotes.startTime)"></small>&nbsp;&nbsp;
                    <i class="fa fa-map-marker text-muted" ></i>
                    <small><span ng-bind="langs.lang_strings[quotes.country]"></span> <span ng-bind="langs.lang_strings[quotes.league]"></span></small>
                </div>
            </div>
            <div class="col-sm-5">
                <div class="btn-group btn-group-sm pull-right" role="group" aria-label="mainOdds">
                    <button type="button" class="btn btn-default btn-bet" ng-if="quotes.odds.main.home" ng-disabled ="!authentication.user"
                            ng-click="couponOps.addQuoteField(quotes._id, quotes.country + ' ' + quotes.league, quotes.startTime, (langs.lang_strings[quotes.homeTeamName] || quotes.homeTeamName) + ' - ' + (langs.lang_strings[quotes.awayTeamName] || quotes.awayTeamName), quotes.odds.main.home, quotes.odds.main.draw, quotes.odds.main.away )">
                        <i class="fa fa-home fa-lg text-muted"></i>
                        <span ng-bind="quotes.odds.main.home | number : 2"></span></button>
                    <button type="button" class="btn btn-default btn-bet" ng-if="quotes.odds.main.draw" ng-disabled ="!authentication.user"
                            ng-click="couponOps.addQuoteField(quotes._id, quotes.country + ' ' + quotes.league, quotes.startTime, (langs.lang_strings[quotes.homeTeamName] || quotes.homeTeamName) + ' - ' + (langs.lang_strings[quotes.awayTeamName] || quotes.awayTeamName), quotes.odds.main.home, quotes.odds.main.draw, quotes.odds.main.away )">
                        <i class="fa fa-bars fa-lg text-muted"></i>
                        <span ng-bind="quotes.odds.main.draw | number : 2"></span></button>
                    <button type="button" class="btn btn-default btn-bet" ng-if="quotes.odds.main.away" ng-disabled ="!authentication.user"
                            ng-click="couponOps.addQuoteField(quotes._id, quotes.country + ' ' + quotes.league, quotes.startTime, (langs.lang_strings[quotes.homeTeamName] || quotes.homeTeamName) + ' - ' + (langs.lang_strings[quotes.awayTeamName] || quotes.awayTeamName), quotes.odds.main.home, quotes.odds.main.draw, quotes.odds.main.away )">
                        <i class="fa fa-plane fa-lg text-muted"></i>
                        <span ng-bind="quotes.odds.main.away | number : 2"></span></button>
                </div>
            </div>
        </div>
    </div>
</div>
