<section data-ng-controller="GamesController" data-ng-init="findOne()" ng-cloak class="ng-cloak">
<br />

	<ul class="list-group" ng-if="game.homeTeamName">
		<li class="list-group-item">
			<a-game></a-game>
		</li>
	</ul>

</section>
<section data-ng-controller="PostsController" data-ng-init="gameposts(false)"  ng-cloak class="ng-cloak">
	<div data-ng-repeat="post in posts">
		<div a-post></div>
	</div>
	<div ng-if="posts.$resolved || posts.length">
		<ul class="pager">
			<li role="presentation" class="active">
				<a href="" ng-click="gameposts(true)">
					<i class="fa fa-chevron-circle-down fa-lg"></i>
					{{langs.lang_strings[115]}}</a>
			</li>
		</ul>
	</div>

</section>
