<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" ng-controller="PageController">

<head>
    <title>{{title}}</title>

    <!-- General META -->
    <meta charset="utf-8">
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="fragment" content="!" />
    <base href="/"/>

    <!-- Responsive META -->
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="msvalidate.01" content="9D2CBDDB8DCE44BBE09AE3A624DE8127" />
    <!-- Semantic META -->
    <meta name="keywords" content="{{keywords}}">
    <meta name="description" content="{{description}}">

    <!-- Facebook META -->
    <meta property="fb:app_id" content="{{facebookAppId}}">
    <meta property="og:site_name" content="Betroll.net">
    <meta property="og:title" content="{{title}}">
    <meta property="og:description" content="{{description}}">
    <meta property="og:url" content="{{url}}">
    <meta property="og:image" content="{{image}}">
    <meta property="og:type" content="website">

    <!-- Twitter META -->
    <meta name="twitter:card" content="{{cardType}}" />
    <meta name="twitter:site" content="@betrollnet">
    <meta name="twitter:title" content="{{title}}">
    <meta name="twitter:description" content="{{description}}">
    <meta name="twitter:url" content="{{url}}">
    <meta name="twitter:image" content="{{image}}">

    <!-- Fav Icon -->
    <link href="https://betroll.net/modules/core/img/brand/favicon.ico" rel="shortcut icon" type="image/x-icon">
    <link href="https://betroll.net/modules/core/img/brand/b_180.png" rel="apple-touch-icon" sizes="180x180" />
    <link href="https://betroll.net/modules/core/img/brand/b_192.png" rel="icon" sizes="192x192" />

</head>

<body>
<a href="https://betroll.net/users/{{post.user.username}}">
{{ post.user.displayName }} - @{{ post.user.username }} </a> <br /> {{post.created.toDateString()}}
<hr />
{{post.postText}}


<ul>
    {% for item in post.coupon %}
    <li>

    {{ item.pickedGame.homeTeamName  }} - {{ item.pickedGame.awayTeamName}} {{item.betTypes}}:{{parseFloat(item.pickedGame.odds[item.betTypesShort.split('.')[0]][item.betTypesShort.split('.')[1]]).toFixed(2)}}

    </li>
    {% endfor %}
</ul>
<hr />
Total odds: {{parseFloat(post.totalOdds).toFixed(2)}}

</body>

</html>
