<section class="row" data-ng-controller="ChangePasswordController">
	<div class="col-xs-offset-1 col-xs-10 col-md-offset-4 col-md-4">
		<form data-ng-submit="changeUserPassword()" class="signin form-horizontal" autocomplete="off">
			<fieldset>
				<div class="form-group">
					<label for="currentPassword">{{langs.lang_strings[103]}}</label>
					<input type="password" id="currentPassword" name="currentPassword" class="form-control" data-ng-model="passwordDetails.currentPassword" placeholder="{{langs.lang_strings[103]}}">
				</div>
				<div class="form-group">
					<label for="newPassword">{{langs.lang_strings[104]}}</label>
					<input type="password" id="newPassword" name="newPassword" class="form-control" data-ng-model="passwordDetails.newPassword" placeholder="{{langs.lang_strings[104]}}">
				</div>
				<div class="form-group">
					<label for="verifyPassword">{{langs.lang_strings[105]}}</label>
					<input type="password" id="verifyPassword" name="verifyPassword" class="form-control" data-ng-model="passwordDetails.verifyPassword" placeholder="{{langs.lang_strings[105]}}">
				</div>
				<div class="text-center form-group">
					<button type="submit" class="btn btn-large btn-primary">{{langs.lang_strings[106]}}</button>
				</div>
				<div data-ng-if="success" class="text-center text-success">
					<strong>{{langs.lang_strings[107]}}</strong>
				</div>
				<div data-ng-show="error" class="text-center text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
			</fieldset>
		</form>
	</div>
</section>
