<section class="row" data-ng-controller="EditProfileController">
	<div class="col-xs-offset-1 col-xs-10 col-md-offset-2 col-md-6">
		<form name="userForm" data-ng-submit="updateUserProfile(userForm.$valid)" class="signin form-horizontal" autocomplete="off">
			<fieldset>
				<div class="form-group">
					<label for="name">{{langs.lang_strings[96]}}</label>{{getTimeZoneData()}}
					<input type="text" id="name" name="name" class="form-control" data-ng-model="user.name" placeholder="Name">
				</div>
				<div class="form-group">
					<label for="tagLine">{{langs.lang_strings[97]}}</label>
					<input type="text" id="tagLine" name="tagLine" class="form-control" data-ng-model="user.tagLine" placeholder="Tag Line">
				</div>
				<div class="form-group">
					<label for="email">{{langs.lang_strings[98]}}</label>
					<input type="email" id="email" name="email" class="form-control" data-ng-model="user.email" placeholder="Email">
				</div>
				<div class="form-group">
					<label for="language">{{langs.lang_strings[134]}}</label>
					<select id="language" name="language" class="form-control" ng-model="user.language">
						<option value="en">English</option>
						<option value="de">Deutsch</option>
						<option value="tr">Türkçe</option>
						<option value="ru">Русский</option>
					</select>
				</div>
				<div class="form-group">
					<label for="timezone">{{langs.lang_strings[99]}}</label>
					<select id="timezone" name="timezone" class="form-control" ng-model="user.timezone" ng-options="tz for tz in tzList">
					</select>
				</div>
				<div class="form-group">
					<label for="username">{{langs.lang_strings[100]}}</label>
					<input type="text" id="username" name="username" class="form-control" data-ng-model="user.username" placeholder="Username">
				</div>
				<div class="text-center form-group">
					<button type="submit" class="btn btn-large btn-primary">{{langs.lang_strings[101]}}</button>
				</div>
			</fieldset>
		</form>
	</div>
</section>
