<section class="row" data-ng-controller="EditProfileController">
    <div class="col-xs-offset-1 col-xs-10 col-md-offset-2 col-md-6">
        <div class="form-group">
            <label>{{langs.lang_strings[180]}}</label>
            <button type="button" class="btn btn-info" ng-click="notifyMe()"><i class="fa fa-bell-o fa-lg"></i> {{langs.lang_strings[180]}}</button> <br />
            <small class="text-warning">* Beta</small>
        </div>
    </div>
</section>
