<section data-ng-controller="SettingsController">
	<br />
	<ol class="breadcrumb">
		<li>
			{{langs.lang_strings[91]}}
		</li>
		<li>
			{{langs.lang_strings[92]}}
		</li>
	</ol>
	<ul class="list-group">

		<li class="list-group-item">
	<div class="row">
		<nav class="col-xs-10 col-xs-offset-1 col-md-4 col-md-offset-0">
			<ul class="nav nav-pills nav-stacked">
				<li data-ui-sref-active="active">
					<a data-ui-sref="settings.profile"><i class="fa fa-cog fa-lg"></i>&nbsp;&nbsp;{{langs.lang_strings[28]}}</a>
				</li>
				<li data-ui-sref-active="active">
					<a data-ui-sref="settings.picture"><i class="fa fa-camera fa-lg"></i>&nbsp;&nbsp;{{langs.lang_strings[29]}}</a>
				</li>
				<li data-ui-sref-active="active" data-ng-if="user.provider === 'local'">
					<a data-ui-sref="settings.password"><i class="fa fa-key fa-lg"></i>&nbsp;&nbsp;{{langs.lang_strings[30]}}</a>
				</li>
				<li data-ui-sref-active="active">
					<a data-ui-sref="settings.desktopnotifs"><i class="fa fa-bell-o fa-lg"></i>&nbsp;&nbsp;{{langs.lang_strings[180]}}</a>
				</li>
			</ul>
		</nav>

		<div class="col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-0 settings-view"><br /><br />
			<div data-ui-view></div>
		</div>
	</div>
		</li></ul>
</section>
