<section data-ng-controller="ListsController" data-ng-init="find()"  ng-cloak class="ng-cloak">
    <br />
    <post-buttons></post-buttons>
    <ul class="list-group" data-ng-repeat="shared in posts track by shared._id">

            <a-post ng-init="post = shared.post"></a-post>


    </ul>
    <div ng-if="posts.$resolved && posts.length">
        <ul class="pager">
            <li role="presentation" class="active">
                <a href="" ng-click="find()">
                    <i class="fa fa-chevron-circle-down fa-lg"></i>
                    {{langs.lang_strings[115]}}</a>
            </li>
        </ul>
    </div>
    <alert class="alert text-center" type="danger" data-ng-if="posts.$resolved && !posts.length">
        {{langs.lang_strings[126]}}
    </alert>
</section>
