<section data-ng-controller="AuthenticationController">
    <div class="col-xs-12">
        <div><br /><br /></div>
        <div class="jumbotron tos">
            <h2 class="text-warning">Privacy Policy</h2>
        <hr />
        <p><small>This privacy policy has been compiled to better serve those who are concerned with how their 'Personally identifiable information' (PII) is being used online.Please read our privacy policy carefully to get a clear understanding of how we collect, use, protect or otherwise handle your Personally Identifiable Information in accordance with our website.</small></p>

            <p><small>When registering on our site, as appropriate, you should be asked to enter your name, email address and other details to help you with your experience.</small></p>

            <p><small>We collect information from you when you register on our site or enter information on our site.</small></p>

            <p><small>We may use the information we collect from you when you register sign up for our newsletter, communication, surf the website, or use certain other site features in the following ways:</small></p>
<blockquote>
                <p><small>To personalize user's experience and to allow us to deliver the type of content and product offerings in which you are most interested.</small></p>
                    <p><small>To improve our website in order to better serve you.</small></p>
                        <p><small>To allow us to better service you in responding to your customer service requests.</small></p>
            </blockquote>
        <p><small>We use 'cookies'. Cookies are small files that a site or its service provider transfers to your computer's hard drive through your Web browser that enables the site's or service provider's systems to recognize your browser and capture and remember certain information.They are also used to help us understand your preferences based on previous or current site activity, which enables us to provide you with improved services. We also use cookies to help us compile aggregate data about site traffic and site interaction so that we can offer better site experiences and tools in the future.</small></p>

        <p><small>We use cookies to:</small></p>
        <blockquote>
            <p><small>Understand and save user's preferences for future visits.</small></p>
                <p><small>Compile aggregate data about site traffic and site interactions in order to offer better site experiences and tools in the future. We may also use trusted third party services that track this information on our behalf.</small></p>
</blockquote>
        <p><small>You can choose to have your computer warn you each time a cookie is being sent, or you can choose to turn off all cookies. You do this through your browser (like Firefox) settings. Each browser is a little different, so look at your browser's Help menu to learn the correct way to modify your cookies.</small></p>

        <p><small>If you disable cookies off, some features will be disabled and some of our services will not function properly.</small></p>

<br />
        <h4 class="text-warning">Third Party Disclosure</h4>
        <hr />
        <p><small>We do not sell, trade, or otherwise transfer to outside parties your personally identifiable information.</small></p>
        <br />
        <h4 class="text-warning">Third party links</h4>
        <hr />
        <p><small>Occasionally, at our discretion, we may include or offer third party products or services on our website. These third party sites have separate and independent privacy policies. We therefore have no responsibility or liability for the content and activities of these linked sites. Nonetheless, we seek to protect the integrity of our site and welcome any feedback about these sites.</small></p>

       <p><small>We along with third-party vendors, such as Google use first-party cookies (such as the Google Analytics cookies) and third-party cookies (such as the DoubleClick cookie) or other third-party identifiers together to compile data regarding user interactions with ad impressions, and other ad service functions as they relate to our website.</small></p>
<br />
        <h4 class="text-warning">Other</h4>
       <hr />
        <p><small>Users will be notified of any privacy policy changes on our Privacy Policy Page</small></p>
        <p><small>Users are able to change their personal information by logging in to their account</small></p>


        <p><small>We do not specifically market to children under 13 and we do not request or collect personal information to children under 13.</small></p>

        <p><small>If it will be changed our privacy policy; we will notify the users via in site notification within 15 business days.</small></p>

        <p><small>We also agree to the individual redress principle, which requires that individuals have a right to pursue legally enforceable rights against data collectors and processors who fail to adhere to the law. This principle requires not only that individuals have enforceable rights against data users, but also that individuals have recourse to courts or a government agency to investigate and/or prosecute non-compliance by data processors.</small></p>


        <br />
        <h4 class="text-warning">Contacting Us</h4>
        <hr />
            <p><small>E-Mail Address: <code>info</code><code>@</code><code>betroll.net</code></small></p>
        <br />
        <p><small>If there are any questions regarding this privacy policy you may contact us using the information below.</small></p>
        <br /><br />
        <code>betroll.net</code>

</div>
    </div>
</section>
