<section data-ng-controller="AuthenticationController" data-ng-show="!authentication.user" class="">
	<br />
	<ul class="list-group ">
		<li class="list-group-item">
			<div class="row">
				<div class="col-xs-12">
	<form name="userForm" data-ng-submit="signup()" class="signin" novalidate autocomplete="off">
		<div class="modal-header">
			<h4 class="modal-title text-maincolor"> <i class="fa fa-users"></i> {{langs.lang_strings[111]}}</h4>
		</div>
		<div class="modal-body">

			<alert class="alert" type="danger" ng-if="error">{{error}}</alert>

			<fieldset>
				<div class="form-group">
					<input type="email" id="email" name="email" class="form-control" data-ng-model="credentials.email"
						   placeholder="{{langs.lang_strings[98]}}">
				</div>
				<div class="form-group">
					<input type="text" id="username" name="username" class="form-control"
						   data-ng-model="credentials.username" placeholder="{{langs.lang_strings[12]}}">
				</div>
				<div class="form-group">
					<input type="password" id="password" name="password" class="form-control"
						   data-ng-model="credentials.password" placeholder="{{langs.lang_strings[13]}}">
				</div>
				<div class="text-left transparent50">
					{{langs.lang_strings[7]}} <a href="" ng-click="openAside('bottom', true, 'modules/users/views/authentication/tos.client.view.html')">{{langs.lang_strings[8]}}</a> {{langs.lang_strings[9]}} <a href="" ng-click="openAside('bottom', true, 'modules/users/views/authentication/privacy.client.view.html')">{{langs.lang_strings[10]}}</a>
				</div>
			</fieldset>
		</div>

		<div class="modal-footer">
			<a href="" class="btn btn default pull-left"  ng-click="couponOps.openModal('modules/users/views/authentication/signin.client.view.html', 'sm')">
				<i class="fa fa-sign-in fa-lg"></i>&nbsp;&nbsp;{{langs.lang_strings[14]}}
			</a>
			<button type="submit" class="btn btn-warning send-button"><i class="fa fa-check-square-o fa-lg"></i>&nbsp;&nbsp;{{langs.lang_strings[15]}}</button>

		</div>
	</form>
			</div>
</div></li></ul>
</section>

