<section data-ng-controller="AuthenticationController" data-ng-show="!authentication.user">
	<form data-ng-submit="signin()" class="signin" id="sign-in"  name="sign-in" autocomplete="on">

		<div class="modal-header">
			<a href="" class="pull-right text-muted" ng-click="ok()" ng-if="!$state.current.name"><i class="fa fa-close fa-lg"></i></a>
			<h4 class="modal-title">{{langs.lang_strings[14]}}</h4>
		</div>
		<div class="modal-body">
			<alert class="alert" type="danger" ng-if="error">{{error}}</alert>

				<fieldset>
					<div class="form-group">
						<input type="text" id="username" name="username" class="form-control" data-ng-model="credentials.username" placeholder="{{langs.lang_strings[12]}}">
					</div>
					<div class="form-group">
						<input type="password" id="password" name="password" class="form-control" data-ng-model="credentials.password" placeholder="{{langs.lang_strings[13]}}">

					</div>

				</fieldset>

		</div>
		<div class="modal-footer">
			<div class="pull-left text-left">
				<a href="" ng-click="openAside('bottom', true, 'modules/users/views/password/forgot-password.client.view.html')">
					{{langs.lang_strings[151]}} <br />
					{{langs.lang_strings[152]}} {{langs.lang_strings[153]}}
				</a>
			</div>
			<button type="submit" class="btn btn-danger"><i class="fa fa-sign-in fa-lg"></i>&nbsp;&nbsp;{{langs.lang_strings[14]}}</button>


		</div>

	</form>
</section>
