<section data-ng-controller="AuthenticationController">
    <div class="col-xs-12">
        <div><br /><br /></div>
    <div class="jumbotron tos">
            <h2 class="text-warning">Terms of Service</h2>
<hr />
            <p><small>These Terms of Service (“TOS”, “Terms”) govern your access to and use of the services, including our various websites and any information, text, graphics, photos or other materials uploaded, downloaded or appearing on the Services (referred to as “Content”). Your access to and use of the Services are conditioned on your acceptance of and compliance with these Terms. By accessing or using the Services you agree to be bound by these Terms.</small></p>


<br />
            <h4 class="text-warning">DESCRIPTION OF WEBSITE SERVICES OFFERED</h4>
<hr />
            <p><small>The Site is a social networking website which has the follow, description:</small></p>
        <blockquote>
            <p><small>Social connection between people who like sports betting.</small></p>
        </blockquote>


            <p><small>Any and all visitors to our site, despite whether they are registered or not, shall be deemed as "users" of the herein contained Services provided for the purpose of this TOS. Once an individual registers for our Services, through the process of creating an account, the user shall then be considered a "member."</small></p>

            <p><small>The user and/or member acknowledges and agrees that the Services provided and made available through our website and applications, which may include some mobile applications and that those applications may be made available on various social media networking sites and numerous other platforms and downloadable programs, are the sole property of BETROLL. At its discretion, BETROLL may offer additional website Services and/or products, or update, modify or revise any current content and Services, and this Agreement shall apply to any and all additional Services and/or products and any and all updated, modified or revised Services unless otherwise stipulated. BETROLL does hereby reserve the right to cancel and cease offering any of the aforementioned Services and/or products You, as the end user and/or member, acknowledge, accept and agree that BETROLL shall not be held liable for any such updates, modifications, revisions, suspensions or discontinuance of any of our Services and/or products. Your continued use of the Services provided, after such posting of any updates, changes, and/or modifications shall constitute your acceptance of such updates, changes and or modifications, and as such, frequent review of tins Agreement and any and all applicable terms and policies should be made by you to ensure you are aware of all terms and policies currently in effect. Should you not agree to the updated, modified, revised or modified terms, you must stop using the provided Services.</small></p>

            <p><small>Furthermore, the user ad/or member understands, acknowledges and agrees that the Services offered shall be provided "AS IS" and as such BETROLL shall not assume any responsibility or obligation for the timeliness, missed delivery, deletion and/or any failure to store user content, communication or personalization settings.</small></p>


        <br />
                  <h4 class="text-warning">REGISTRATION</h4>
        <hr />
            <p><small>To register and become a "member" of the Site. you must be 13 years of age to enter into and form a legally binding contract. In addition, you must be in good standing and not an individual that has been preciously barred from receiving BETROLL's Services under the laws and statutes of the United Kingdom or other applicable jurisdiction.</small></p>



            <p><small>Furthermore, the registering party hereby acknowledges, understands and agrees to:</small></p>



            <blockquote >
                <p><small>a) Furnish factual, correct, current and complete information with regards yourself as may be requested by the data registration process, and</small></p>



                <p><small>b) Maintain and promptly update your registration and profile information in an effort to maintain accuracy and completeness at all times.</small></p>
            </blockquote>



            <p><small>If anyone knowingly provides any information of a false, untrue, inaccurate or incomplete nature, BETROLL will have sufficient grounds and rights to suspend or terminate the member in violation of this aspect of the Agreement, and as such refuse any and all current or future use of BETROLL Services, or any portion thereof.</small></p>
<br />
            <h4 class="text-warning">Passwords</h4>
<hr />
            <p><small>You are responsible for safeguarding the password that you use to access the Services and for any activities or actions under your password. We encourage you to use “strong” passwords (passwords that use a combination of upper and lower case letters, numbers and symbols) with your account. BETROLL cannot and will not be liable for any loss or damage arising from your failure to comply with the above.</small></p>


<br />
            <h4 class="text-warning">Conduct</h4>
<hr />
            <p><small>As a member of the Site, you herein acknowledge, understand and agree that all information, text, software, data, photographs, music, video, messages, tags or any other content, whether it is publicly or privately posted and/or transmitted, is the expressed sole responsibility of the individual from whom the content originated. In short, this means that you are solely responsible for any and all content posted, uploaded, emailed, transmitted or otherwise made available by way of BETROLL Services, and as such, we do not guarantee the accuracy, integrity or quality of such content. It is expressly understood that by use of our Services, you may be exposed to content including, but not limited to, any errors or omissions in any content posted, and/or any loss or damage of any kind incurred as a result of the use of any content posted, emailed, transmitted or otherwise made available by BETROLL.</small></p>

            <p><small>Furthermore, you herein agree not to make use of BETROLL's Services for the purpose of:</small></p>

            <blockquote >
                <p><small>a) Uploading, posting, emailing, transmitting, or otherwise making available any content that shall be deemed unlawful, harmful, threatening, abusive, harassing, tortious, defamatory, vulgar, obscene, libellous, or invasive of another's privacy or which is hateful, and/or racially, ethnically, or otherwise objectionable;</small></p>

                <p><small>b) Causing harm to minors in any manner whatsoever;</small></p>

                <p><small>c) Impersonating any individual or entity, including, but not limited to, any BETROLL officials, forum leaders, guides or hosts or falsely stating or otherwise misrepresenting any affiliation with an individual or entity;</small></p>

                <p><small>d) Forging captions, headings or titles or otherwise offering any content that you personally have no right to pursuant to any law nor having any contractual or fiduciary relationship with;</small></p>

                <p><small>e) Uploading, posting, emailing, transmitting or otherwise offering any such content that may infringe upon any patent, copyright, trademark or any other proprietary or intellectual rights of any other party;</small></p>

                <p><small>f) Uploading, posting, emailing, transmitting or otherwise offering any content that you do not personally have any right to offer pursuant to any law or in accordance with any contractual or fiduciary relationship;</small></p>

                <p><small>g) Uploading, posting, emailing, transmitting or otherwise offering any unsolicited or unauthorized advertising, promotional flyers, "junk mail," "spam," or any other form of solicitation, except in any such areas that may have been designated for such purpose;</small></p>

                <p><small>h) Uploading, posting, mating, transmitting or otherwise offering any source that may contain a software virus or other computer code, any files and/or programs which have been designed to interfere, destroy and/or limit the operation of any computer software, hardware, or telecommunication equipment;</small></p>

                <p><small>i) Disrupting the normal flow of communication, or otherwise acting in any manner that would negatively affect other users' ability to participate in any real time interactions;</small></p>

                <p><small>j) Interfering with or disrupting any BETROLL Services, servers and/or networks that may be connected or related to our website, including, but not limited to, the use of any device software and/or routine to bypass the robot exclusion headers;</small></p>

                <p><small>k) Intentionally or unintentionally violating any local, state, federal, national or international law,in addition to any rules of any nation or other securities exchange and any regulations having the force of law;</small></p>

                <p><small>l) Providing informational support or resources, concealing and/or disguising the character, location, and or source to any organization delegated by the United Kingdom government as a "Proscribed terror groups or organisations";</small></p>

                <p><small>m) "Stalking" or with the intent to otherwise harass another individual; and/or</small></p>

                <p><small>n) Collecting or storing of any personal data relating to any other member or user in connection with the prohibited conduct and/or activities which have been set forth in the aforementioned paragraphs.</small></p>
            </blockquote>

            <p><small>BETROLL herein reserves the right to pre-screen, refuse and/or delete any content currently available through our Services. In addition, &#160;we reserve the right to remove and/or delete any such content that would violate the TOS or which would otherwise be considered offensive to other visitors, users and/or members.</small></p>

            <p><small>BETROLL herein reserves the right to access, preserve and/or disclose member account information and/or content if it is requested to do so by law or in good faith belief that any such action is deemed reasonably necessary for:</small></p>
<blockquote>
            <p><small>a) Compliance with any legal process,</small></p>

            <p><small>b) Enforcement of the TOS;</small></p>

            <p><small>c) Responding to any claim that therein contained contents is in violation of the rights of any third party;</small></p>

            <p><small>d) Responding to requests for customer service; or</small></p>

            <p><small>e) Protecting the rights, property or the personal safety of BETROLL, its visitors, users and members, including the general public.</small></p>
</blockquote>
            <p><small>BETROLL herein reserves the right to include the use of security components that may permit digital information or material to be protected, and that such use of information and/or material is subject to usage guidelines and regulations established by BETROLL or any other content providers supplying content services to BETROLL. You are hereby prohibited from making any attempt to override or circumvent any of the embedded usage rules in our Services. Furthermore, unauthorized reproduction, publication, distribution, or exhibition of any information or materials supplied by our Services, despite whether done so in whole or in part, is expressly prohibited.</small></p>

    <br />
            <h4 class="text-warning">INTERSTATE COMMUNICATION</h4>
<hr />
            <p><small>Upon registration, you hereby acknowledge that by using www.betroll.net to send electronic communications, which would include, but are not limited to, email, searches, instant messages, uploading of files, photos and/or videos, you will be causing communications to be sent through our computer network. Therefore, through your use, and thus your agreement with this TOS, you are acknowledging that the use of this Service shall result in interstate transmissions.</small></p>





        <br />

            <h4 class="text-warning">CONTENT PLACED OR MADE AVAILABLE FOR COMPANY SERVICES</h4>
        <hr />

            <p><small>BETROLL shall not lay claim to ownership of any content submitted by any visitor, member or user, or make such content available for inclusion on our website Services. Therefore, you hereby grant and allow for BETROLL the below listed worldwide, royalty-free and non-exclusive licenses, as applicable:</small></p>


        <blockquote>
            <p><small>a) The content submitted or made available for inclusion on the publicly accessible areas of BETROLL's sites, the license provided to permit to use, distribute, reproduce, modify, adapt, publicly perform and/or publicly display said Content on our network Services is for the sole purpose of providing and promoting the specific area to which this content was placed and/or made available for viewing. This license shall be available so long as you are a member of BETROLL’s sites, and shall terminate at such time when you elect to discontinue you membership.</small></p>



            <p><small>b) Photos, audio, video and/or graphics submitted or made available for inclusion on the publicly accessible areas of BETROLL's sites, the license provided to permit to use, distribute, reproduce, modify, adapt, publicly perform and/or publicly display said Content on our network Services are for the sole purpose of providing and promoting the specific area in which this content was placed and/or made available for viewing. This license shall be available so long as you are a member of BETROLL's sites and shall terminate at such time when you elect to discontinue your membership.</small></p>



            <p><small>c) For any other content submitted or made available for inclusion on the publicly accessible areas of BETROLL's sites, the continuous, binding and completely sub-licensable license which is meant to permit to use, distribute, reproduce, modify, adapt, publish, translate, publicly perform and/or publicly display said content, whether in whole or in part, and the incorporation of any such Content into other works in any arrangement or medium current used or later developed.</small></p>
        </blockquote>
            <p><small>Those areas which may be deemed "publicly accessible" areas of BETROLL's sites are those such areas of our network properties winch are meant to be available to the general public, and which would include message boards and groups that are openly available to both visitors and members. However, those areas which are not open to the public, and thus available to members only, would include our mail system and instant messaging.</small></p>


<br />
            <h4 class="text-warning">CONTRIBUTIONS TO COMPANY WEBSITE</h4>

<hr />

            <p><small>BETROLL provides an area for our users and members to contribute feedback to our website. When you submit ideas, documents, suggestions and/or proposals ("Crontributions") to our site, you acknowledge and agree that:</small></p>



            <blockquote >
                <p><small>a) Your Contributions do not contain any type of confidential or proprietary information;</small></p>



                <p><small>b) BETROLL shall not be liable or under any obligation to ensure or maintain confidentiality, expressed or implied, related to any Contributions;</small></p>



                <p><small>c) BETROLL shall be entitled to make use of and/or disclose any such Contributions in any such manner as they may see fit;</small></p>



                <p><small>d) The contributor's Contributions shall automatically become the sole property of BETROLL; and</small></p>



                <p><small>e) BETROLL is under no obligation to either compensate or provide any form of reimbursement in any manner or nature.</small></p>
            </blockquote>


<br />
            <h4 class="text-warning">INDEMNITY</h4>
<hr />
            <p><small>All users and/or members herein agree to insure and hold BETROLL, our subsidiaries, affiliates, agents, employees, officers, partners and/or licensors blameless or not liable for any claim or demand, which may include, but is not limited to, reasonable attorney fees made by any third party, which may arise from any content a member or user of our site may submit, post, modify, transmit or otherwise make available through our Services, the use a BETROLL Services or your connection with these Services, your violations of the Terms of Service and/or your violation of any such rights of another person.</small></p>




<br />
            <h4 class="text-warning">COMMERCIAL REUSE OF SERVICES</h4>
<hr />


            <p><small>The member or user herein agrees not to replicate, duplicate, copy, trade, sell, resell nor exploit for any commercial reason any part, use of, or access to BETROLL's sites.</small></p>


<br />
            <h4 class="text-warning">USE AND STORAGE GENERAL PRACTICES</h4>
<hr />


            <p><small>You herein acknowledge that BETROLL may set up any such practices and/or limits regarding the use of our Services, without limitation of the maximum number of days that any email, message posting or any other uploaded content shall be retained by BETROLL, nor the maximum number of email messages that may be sent and/or received by any member, the maximum volume or size of any email message that may be sent from or may be received by an account on our Service, the maximum disk space allowable that shall be allocated on BETROLL's servers on the member's behalf, and/or the maximum number of times and/or duration that any member may access our Services in a given period of time. In addition, you also agree that BETROLL has absolutely no responsibility or liability for the removal or failure to maintain storage of any messages and/or other communications or content maintained or transmitted by our Services. You also herein acknowledge that we reserve the right to delete or remote account. that is no longer active for an extended period of time. Furthermore, BETROLL shall reserve the right to modify, alter and/or update these general practices and limits at our discretion.</small></p>



            <p><small>Any messenger service, which may include any web-based versions, shall allow you and the individuals with whom you communicate with the ability to save your conversations in your account located on BETROLL's servers. In this manner, you will be able to access and search your message history from any computer with internet access. Yon also acknowledge that others have the option to use and save conversations with you in their own personal account on WWW.BETROLL.NET It is your agreement to this TOS which establishes your consent to allow BETROLL to store any and all communication on its servers.</small></p>


<br />
            <h4 class="text-warning">MODIFICATIONS</h4>
<hr />


            <p><small>BETROLL shall reserve the right at any time it may deem fit, to noddy, alter and or discontinue, whether temporarily or permanently, our service or any part thereof, with or without prior notice. In addition, we shall not be held liable to you or to any third party far any such alteration, modification, suspension and/or discontinuance of our Services, or any part thereof.</small></p>


<br />
            <h4 class="text-warning">TERMINATION</h4>
<hr />


            <p><small>As a member of WWW.BETROLL.NET, you may cancel or terminate your account, &#160;access to our Services by submitting a cancellation or termination request to USING ACCOUNT.</small></p>



            <p><small>As a member, you agree that BETROLL may, without any prior written notice, immediately suspend, terminate, discontinue and/or limit your account, any email associated with your account, and access to any of our Services. The cause for such termination discontinuance, suspension and/or limitation of access shall include, but Is not limited to:</small></p>



            <blockquote >
                <p><small>a) Any breach or violation of our TOS or any other incorporated agreement, regulation and/or guideline;</small></p>

                <p><small>b) By way of requests from law enforcement or any other governmental agencies;</small></p>

                <p><small>c) The discontinuance, alteration and/or material modification to our Services, or any part thereof;</small></p>

                <p><small>d) Unexpected technical or security issues and/or problems;</small></p>

                <p><small>e) Any extended periods of inactivity;</small></p>

                <p><small>f) Any engagement by you in any fraudulent or illegal activities; and/or</small></p>

                <p><small>g) The non-payment of any associated fees that may be owed by you in connection with your WWW.BETROLL.NET account Services.</small></p>
            </blockquote>



            <p><small>Furthermore, you herein agree that any and all terminations, suspensions, discontinuances, and or limitations of access for cause shall be made at our sole discretion and that we shall not be liable to you or any other third party with regards to the termination of your account, associated email address and/or access to any of our Services.</small></p>

            <p><small>The termination of your accont with WWW.BETROLL.NET shall include any and/or all of the following:</small></p>



            <blockquote >
                <p><small>a) The removal of any access to all or part of the Services offered with in WWW.BETROL.NET;</small></p>



                <p><small>b) The deletion of your password and any and all related information, files, and any such content that may be associated with or inside your account, or any part thereof; and</small></p>



                <p><small>c) The barring of any further use of all or part of our Services.</small></p>
            </blockquote>
<br />
            <h4 class="text-warning">ADVERTISERS</h4>
<hr />


            <p><small>Any correspondence or business dealings with, or the participation in any promotions of, advertisers located on or through our Services, which may include the payment and/or delivery of such related goods and/or Services, and any such other term, condition, warranty and/or representation associated with such dealings, are and shall be solely between you and any such advertiser. Moreover, you herein agree that BETROLL shall not be held responsible or liable for any loss or damage of any nature or manner incurred as a direct result of any such dealings or as a result of the presence of such advertises on our website.</small></p>


<br />
            <h4 class="text-warning">LINKS</h4>
<hr />


            <p><small>Either BETROLL or any third parties may provide links to other websites and/or resources. Thus, you acknowledge and agree that we are not responsible for the availability of any such external sites or resources, and as such, we do not endorse nor are we responsible or liable for any content, products, advertising or any other materials, on or available from such third party sites or resources. Furthermore, you acknowledge and agree that BETROLL shall not be responsible or liable, directly or indirectly, for any such damage or loss which may be a result of, caused or allegedly to be caused by or in connection with the use of or the reliance on any such content, goods or Services made available on or through any such site or resource.</small></p>


<br />
            <h4 class="text-warning">PROPRIETARY RIGHTS</h4>
<hr />


            <p><small>You do hereby acknowledge and agree that BETROLL's Services and any essential software that may be used in connection with our Services ("Software") shall contain proprietary and confidential material that is protected by applicable intellectual property rights and other laws. Furthermore, you herein acknowledge and agree that any Content which may be contained in any advertisements or information presented by and through our Services or by advertisers is protected by copyrights, trademarks, patents or other proprietary rights and laws. Therefore, except for that which is expressly permitted by applicable law or as authorized by BETROLL or such applicable licensor, you agree not to alter, modify, lease, rent, loan, sell, distribute, transmit, broadcast publicly perform and/or created any plagiaristic works which are based on BETROLL Services (e.g. Content or Software), in whole or part.</small></p>



            <p><small>BETROLL herein has granted you personal, non-transferable and non-exclusive rights and/or license to make use of the object code or our Software on a single computer, as long as you do not, and shall not, allow any third party to duplicate, alter, modify, create or plagiarize work from, reverse engineer, reverse assemble or otherwise make an attempt to locate or discern any source code, sell, assign sub-license, grant a security interest in and/or otherwise transfer any such right in the Software. Furthermore, you do herein agree not to alter or change the Software in any manner, nature or form, and as such, not to use any modified versions of the Software, including and without limitation, for the purpose of obtaining unauthorized access to our Services. Lastly, you also agree not to access or attempt to access our Services through any means other than through the interface which is provided by BETROLL for use in accessing our Services.</small></p>


<br />
            <h4 class="text-warning">WARRANTY DISCLAIMERS</h4>
<hr />


            <p><small>YOU HEREIN EXPRESSLY ACKNOWLEDGE AND AGREE THAT:</small></p>



            <blockquote >
                <p><small>a) THE USE OF BETROLL SERVICES AND SOFTWARE ARE AT THE SOLE RISK BY YOU. OUR SERVICES AND SOFTWARE SHALL BE PROVIDED ON AN "AS IS" AND/OR "AS AVAILABLE" BASIS. BETROLL AND OUR SUBSIDIARIES, AFFILIATES, OFFICERS, EMPLOYEES, AGENTS, PARTNERS AND LICENSORS EXPRESSLY DISCLAIM ANY AND ALL WARRANTIES OF ANY KIND WHETHER EXPRESSED OR IMPLIED, INCLUDING, BUT NOT LIMITED TO ANY IMPLIED WARRANTIES OF TITLE, MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NON-INFRINGEMENT.</small></p>

                <p><small>b) BETROLL AND OUR SUBSIDIARIES, OFFICERS, EMPLOYEES, AGENTS, PARTNERS AND LICESNSORS MAKE NO SUCH WARRANTIES THAT</small></p>
            </blockquote>

            <blockquote >
                <blockquote >
                    <p><small>(i) BETROLL SERVICES OR SOFTWARE WILL MEET YOUR REQUIREMENTS;</small></p>
                </blockquote>

                <blockquote >
                    <p><small>(ii) BETROLL SERVICES OR SOFTWARE SHALL BE UNINTERRUPTED, TIMELY, SECURE OR ERROR-FREE;</small></p>
                </blockquote>

                <blockquote >
                    <p><small>(iii) THAT SUCH RESULTS WHICH MAY BE OBTAINED FROM THE USE OF THE BETROLL SERVICES OR SOFTWARE WILL BE ACCURATE OR RELIABLE;</small></p>
                </blockquote>

                <blockquote >
                    <p><small>(iv) QUALITY OF ANY PRODUCTS, SERVICES, ANY INFORMATION OR OTHER MATERIAL WINCH MAY BE PURCHASED OR OBTAINED BY YOU THROUGH OUR SERVICES OR SOFTWARE WILL MEET YOUR EXPECTATIONS; AND</small></p>
                </blockquote>

                <blockquote >
                    <p><small>(v) THAT ANY SUCH ERRORS CONTAINED IN THE SOFTWARE SHALL BE CORRECTED.</small></p>
                </blockquote>
            </blockquote>

            <blockquote >


                <p><small>c) ANY INFORMATION OR MATERIAL DOWNLOADED OR OTHERWISE OBTAIN BY WAY OF BETROLL SERVICES OR SOFTWARE SHALL BE ACCESSED BY YOUR SOLE DISCRETION AND SOLE RISK, AND AS SUCH YOU SHALL BE SOLELY RESPONSIBLE FOR AND HEREBY WAIVE ANY AND ALL CLAIMS AND CAUSES OF ACTION WITH RESPECT TO ANY DAMAGE TO YOUR COMPUTERS AND/OR INTERNET ACCESS, DOWNLOADING AND/OR DISPLAYING, OR FOR ANY LOSS OF DATA THAT COULD RESULT FROM THE DOWNLOAD OF ANY SUCH INFORMATION OR MATERIAL.</small></p>



                <p><small>d) NO ADVICE AND/OR INFORMATION, DESPITE WETHER WRITTEN OR ORAL, THAT MAY BE OBTAINED BY YOU FROM BETROLL OR BY WAY OF OR FROM OUR SERVICES OR SOFTWARE SHALL CREATE ANY WARRANTY NOT EXPRESSLY STATED IN THE TOS.</small></p>



                <p><small>e) A SMALL PERCENTAGE OF SOME USERS MAY EXPERIENCE SOME DEGREE OF EPILEPTIC SEIZURE WHEN EXPOSED TO CERTAIN LIGHT PATTERNS OR BACKGROUNDS THAT MAY BE CONTAINED ON A COMPUTER SCREEN OR WHILE USING OUR SERVICES. CERTAIN CONDITIONS MAY INDUCE A PREVIOUSLY UNKNOWN CONDITION OR UNDETECTED EPILEPTIC SYMPTOM IN USERS WHO HAVE SHOWN NO HISTORY OF ANY PRIOR SEIZURE OR EPILEPSY. SHOULD YOU, ANYONE YOU KNOW OR ANYONE IN YOUR FAMILY HAVE AN EPILEPTIC CONDITION, PLEASE CONSULT A PHYSICAN IF YOU EXPERIENCE ANY OF THE FOLLOWING SYMPTOMS WHILE USING OUR SERVICES DIZZINESS, ALTERED VISON, EYE OR MUSCLE TWITCHES, LOSS OF AWARNESS, DISORIENTATION, ANY INVOLUNTARY MOVEMENT, OR CONVULSIONS.</small></p>
            </blockquote>


<br />
            <h4 class="text-warning">LIMITATION OF LIABILITY</h4>
<hr />


            <p><small>YOU EXPLICITLY ACKNOWLEDGE, UNDERSTAND AND AGREE THAT BETROLL AND OUR SUBSIDIARIES, AFFILIATES, OFFICERS, EMPLOYEES, AGENTS, PARTNERS AND LICENSORS SHALL NOT BE LIABLE TO YOU FOR ANY PUNITIVE, INDIRECT, INCIDENTAL, SPECIAL, CONSEQUENTIAL OR EXEMPLARY DAMAGES, INCLUDING, BUT NOT LIMITED TO, DAMAGES WHICH MAY BE RELATED TO THE LOSS OF ANY PROFITS, GOODWILL, USE, DATA AND/OR OTHER INTANGIBLE LOSSES, EVEN THOUGH WE MAY HAVE BEEN ADVISED OF SUCH POSSIBILITY THAT SAID DAMAGES MAY OCCUR, AND RESULT FROM :</small></p>

            <blockquote >
                <p><small>a) THE USE OR INABILITY TO USE OUR SERVICE;</small></p>

                <p><small>b) THE COST OF PRECURING SUBSTITUTE GOODS AND SERVICES;</small></p>

                <p><small>c) UNAUTHORIZED ACCESS TO OR THE ALTERATION OF YOUR TRANSMISSIONS AND/OR DATA;</small></p>

                <p><small>d) STATEMENTS OR CONDUCT OF ANY SUCH THRID PARTY ON OUR SERVICE;</small></p>

                <p><small>e) AND ANY OTHER MATTER WHICH MAY BE RELATED TO OUR SERVICE.</small></p>
            </blockquote>


<br />
            <h4 class="text-warning">SPECIAL ADMONITION RELATED TO FINANCIAL MATTERS</h4>
<hr />
            <p><small>Should you intend to create or to join any service, receive or request any such news, messages, alerts or other information from our Services concerning companies, stock quotes, investments or securities, please review the above Sections Warranty Disclaimers and Limitations of Liability again. In addition, for this particular type of information the phrase "Let the investor beware" is appropriate. BETROLL's content is provided primarily for informational purposes, and no content then shall be provided or included in our Services is intended for trading or investing purposes. BETROLL and our licensors shall not be responsible or liable for the accuracy, usefulness or availability of any information transmitted and or made available by way of our Services, and shall not be responsible or liable for any trading &#160;and/or investment decisions based on any such information.</small></p>
<br />
            <h4 class="text-warning">THIRD PARTY BENEFICIARIES</h4>
<hr />


            <p><small>You herein acknowledge, understand and agree, unless otherwise expressly provided in this TOS, that there third-party beneficiaries to this agreement.</small></p>


<br />
            <h4 class="text-warning">NOTICE</h4>
<hr />


            <p><small>BETROLL may furnish you with notices, including those with regards to any changes to the TOS, including but not limited to email, regular mail, MMS or SMS, text messaging, postings on our website Services, or other reasonable means currently known or any which may be herein after developed. Any such notices may not be received if you violate any aspects of the TOS by accessing our Services in an unauthorized manner. Your acceptance of this TOS constitutes you agreement drat you are deemed to have received any and all notices that would have been delivered had you accessed our Services in an authorized manner.</small></p>


<br />
            <h4 class="text-warning">TRADEMARK INFORMATION</h4>
<hr />
            <p><small>You herein acknowledge, understand and agree that all of the BETROLL trademarks, copyright, trade name, service marks, and other BETROLL logos and any brand features, and/or product and service names are trademarks and as such, are and shall remain the property of BETROLL. You herein agree not to display and/or use in any manner the BETROLL logo or marks.</small></p>


<br />
            <h4 class="text-warning">COPYRIGHT OR INTELLECTUAL PROPERTY INFRINGEMENT CLAIMS NOTICE &amp; PROCEDURES</h4>
<hr />


            <p><small>BETROLL will always respect the intellectual property of others, and we ask that all of our users to the same. With regards to appropriate circumstances and at its sole discretion. BETROLL may disable and/or terminate the accounts of any user who repeatedly violates our TOS and/or infringes the rights of others. If you feel that your work has been duplicated in such a way that would constitute copyright infringement, or if you believe your intellectual property rights have been otherwise violated, you should provide to us the following information:</small></p>



            <blockquote >
                <p><small>a) The electronic or the physical signature of the individual that is authorized on behalf of the owner of the copyright or other intellectual property interest;</small></p>

                <p><small>b) A description of the copyrighted work or other intellectual property that you believe has been infringed upon;</small></p>

                <p><small>c) A description of the location of the site which you allege has been infringing upon your work;</small></p>

                <p><small>d) The physical address, telephone number, and email address;</small></p>

                <p><small>e) A statement, in which you state that the alleged and disputed use of your work is not authorized by the copyright owner, its agents or the law;</small></p>

                <p><small>f) And finally, a statement, made under penalty of perjury, that the aforementioned information in your notice is the truth and accurate, and that you are the copyright or intellectual property owner, representative or agent authorized to act on the copyright or intellectual property owner's behalf.</small></p>
            </blockquote>

<br /><hr />

            <p><small>The BETROLL Agent for notice of claims of copyright or other intellectual property infringement can be contacted as follows</small></p>

        <p><small>E-Mail Address: <code>info</code><code>@</code><code>betroll.net</code></small></p>



<br />

            <h4 class="text-warning">VIOLATIONS</h4>
<hr />
            <p><small>Please report any and all violations of this TOS to BETROLL as follows:</small></p>



            <p><small>E-Mail Address: <code>info</code><code>@</code><code>betroll.net</code></small></p>


        <br />
        <hr />
        <p>ALTHOUGH THE SITE BASED ON SHARING BETTING PREDICTIONS DOES NOT RECOMMEND GAMBLING. DO NOT FORGET GAMBLING CAN BE ADDICTIVE, PLEASE BE RESPONSIBLY. THE RECOMMENDATIONS SHARE ON THIS SITE, ESTIMATES, REPORTS AND SO ON, BETROLL DOES NOT GUARANTEE THE ACCURACY OF ANY INFORMATION LIKE THOSE. BETROLL DOES NOT RECOMMEND BETTING ON SUCH INFORMATION. NO LIABILITY CAN BE ACCEPTED. BEING A MEMBER OF THE SITE, YOU AGREE THAT YOU GIVE YOURSELF YOUR OWN DECISIONS.</p>
</div></div>
</section>
