.content {
	margin-top: 45px;
}
.undecorated-link:hover {
	text-decoration: none;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}
.ng-invalid.ng-dirty{
	border-color:#FA787E;
}
.ng-valid.ng-dirty{
	border-color:#78FA89;
}

.games-select {

	max-height: 320px !important;
	overflow: auto !important;
}

.header-profile-image {
	border-radius: 20%;
	height: 18px;
}

.header-lang {
	height: 16px;
}

a:hover{
	text-decoration: none;
}

.open  .header-profile-image,
a:hover .header-profile-image {
	opacity: 0.7;
}



.label-quote {
	font-size: 1em !important;
	line-height: 1.9em !important;
	overflow: visible;
	max-width: 300px;
}


.section-title {
	font-size: 2em;
	padding-left: 5px;
}

.post-img {
	width: 100%;
	height: auto;
}

.textarea-grow {
	height: auto;
	min-height: 64px;
	max-height: 360px;
	overflow: hidden;
	transition: height 0.5s ease;
}

.post-image {
	width: 100%;
	border: none !important;
}


.post-hr {
	margin-top: 4px;
	margin-bottom: 10px;
}

/* remove spacing between middle columns */
.row.no-gutter [class*='col-']:not(:first-child):not(:last-child) {
	padding-right: 5px;
	padding-left: 5px;
}
/* remove right padding from first column */
.row.no-gutter [class*='col-']:first-child {
	padding-right: 5px;
	padding-left: 5px;
}
/* remove left padding from first column */
.row.no-gutter [class*='col-']:last-child {
	padding-left: 5px;
	padding-right: 5px;
}
.post-box-hr {
	margin-left: -14px;
	margin-right: -14px;
	margin-top: 3px;
	margin-bottom: 10px;
}
.post-box-fix {
	position: fixed;
	width: 380px;
	overflow:auto;
	padding-right: 0;
}

.send-button {
	width: 150px;
}

.alert {
	position: relative;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}

.anchor {
	display: block; position: relative; top: -70px; visibility: hidden;
}

.sideCoupon {
	font-size: 85% !important;
	padding-bottom: 2px;
}
.betslip .list-group-item {
	padding: 0.5em !important;
}
.post-text {
	white-space: pre-wrap;
}

.post-text-box {
	max-width: 100% !important;
	overflow: hidden !important;
}
.list-group {
	margin-bottom: 7px !important;
}
.inverted{
	color: white;
}
.inverted .text-muted {
	color: #f5f5f5;
}

.dark-bg {
	background-color: black !important;
	color: #fff;
	text-shadow: 0 2px 3px #666;
}

.signup {
	background-color: white !important;
	color: #000;
}
.tos {
	background-color: white !important;
	padding: 10px;
}


.no-bg {
	background-color: transparent !important;
	color: #fff;
}

.langs {
	padding-right: 0 !important;
}
.ticker {
	position: relative;
	margin-right: -23px;
	top: 6px !important;
	z-index: 1;
}


textarea {
	resize: none;
}


.flag {
	height: 64px;
}

.btn {
	margin-left: 1px !important;
}

.notif-list {
	overflow: hidden !important;
}

.bg-pattern {
	/*background-image: url('/modules/core/img/bg/footer_lodyas.png');*/
	background-color: #BDC3C7;
}

.ng-aside {
	background-color: rgba(16, 22, 44, 0.3);
}
.ng-aside.horizontal .modal-dialog {
	top: 60px;
	min-width: 320px;
	height: auto;
}
.modalimiz {
	background-color: rgba(16, 22, 44, 0.3);
}
.minute {
	margin-left: 4px;
	padding-left: 3px;
	border-left: dotted 1px;
}

.highlight {
	border-bottom: 1px solid #CBEEFA;
	box-shadow: 0 -4px 0 #CBEEFA inset;
}

.responsive-object {
	position: relative;
	padding-bottom: 67.5%;
	height: 0;
	margin: 10px 0;
	overflow: hidden;
}
.responsive-object iframe,
.responsive-object object,
.responsive-object embed
.responsive-object {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.embedded {
	color: #000;
	border-color: #ddd !important;
	border: 1px solid;
	padding-left: 5px;
	padding-right: 5px;
	overflow: hidden;

}
a-post {
	overflow: hidden;
}

.navbar-default {
	background-color: #8e44ad;
	border-color: #5d3f6a;
}
.navbar-default .navbar-brand {
	color: #ffffff;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
	color: #be90d4;
}
.navbar-default .navbar-text {
	color: #ffffff;
}
.navbar-default .navbar-nav > li > a {
	color: #ffffff;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
	color: #be90d4;
}
.navbar-default .navbar-nav > li > .dropdown-menu {
	background-color: #8e44ad;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
	color: #ffffff;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
	color: #be90d4;
	background-color: #5d3f6a;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > .divider {
	background-color: #8e44ad;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	color: #be90d4;
	background-color: #5d3f6a;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
	color: #be90d4;
	background-color: #5d3f6a;
}
.navbar-default .navbar-toggle {
	border-color: #5d3f6a;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	background-color: #5d3f6a;
}
.navbar-default .navbar-toggle .icon-bar {
	background-color: #ffffff;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
	border-color: #ffffff;
}
.navbar-default .navbar-link {
	color: #ffffff;
}
.navbar-default .navbar-link:hover {
	color: #be90d4;
}

@media (max-width: 767px) {
	.navbar-default .navbar-nav .open .dropdown-menu > li > a {
		color: #ffffff;
	}
	.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
		color: #be90d4;
	}
	.navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
		color: #be90d4;
		background-color: #5d3f6a;
	}
}

select#language option[value="tr"] { background: url('/modules/core/img/brand/tr_flag.png') no-repeat left; }
select#language option[value="en"] { background: url('/modules/core/img/brand/uk_flag.png') no-repeat left; }
select#language option[value="de"] { background: url('/modules/core/img/brand/de_flag.png') no-repeat left; }
select#language option[value="ru"] { background: url('/modules/core/img/brand/ru_flag.png') no-repeat left; }

select#language option {
	padding-left: 50px;
	height: 32px;
	line-height: 30px;
	padding-top: 8px;
}

.blink {
	animation: blink 1s steps(5, start) infinite;
	-webkit-animation: blink 1s steps(5, start) infinite;
}

@keyframes blink {
	to {
		visibility: hidden;
	}
}
@-webkit-keyframes blink {
	to {
		visibility: hidden;
	}
}

.modal-backdrop {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1040;
	background-color: #333;
}

.modal-backdrop.fade {
	opacity: 0;
}

.modal-backdrop, .modal-backdrop.fade.in {
	opacity: 0.8;
	filter: alpha(opacity=80);
}

.jump-to-top {
	opacity: 0.3;
	filter: alpha(opacity=30);
	position: fixed;
	right:    10px;
	bottom:   10px;
	z-index: 1;
}
.jump-to-top:hover {
	opacity: 0.8;
	filter: alpha(opacity=80);
}
.thread-active {
	opacity: 0.9;
	filter: alpha(opacity=90);
	margin-right: 6px;
	margin-bottom: 12px;
	-webkit-box-shadow: 6px 0 6px #5d3f6a;
	-moz-box-shadow: 6px 6px 0 #5d3f6a;
	box-shadow: 6px 6px 0 #5d3f6a;
}

.notif-post {
	font-size: 85% !important;
	opacity: 0.9;
	filter: alpha(opacity=90);
	margin-top: 10px;
	margin-left: 10%;
	margin-right: 10%;
	-webkit-box-shadow: 4px 0 4px #5d3f6a;
	-moz-box-shadow: 4px 4px 0 #5d3f6a;
	box-shadow: 4px 4px 0 #5d3f6a;
}

.winner {
	opacity: 0.8;
	filter: alpha(opacity=80);
	border-bottom: solid 6px;
	border-color: green;
}

.my-animation.ng-enter {
	transition: 0.5s linear all;
	opacity:0;
}
.my-animation.ng-enter-stagger {
	transition-delay: 0.1s;
	transition-duration: 0s;
}
.my-animation.ng-enter.ng-enter-active {
	opacity:1;
}
.my-animation.ng-leave {
	transition: 0.5s linear all;
	opacity:1;
}
.my-animation.ng-leave-stagger {
	transition-delay: 0.1s;
	transition-duration: 0s;
}
.my-animation.ng-leave.ng-leave-active {
	opacity:0;
}

.front-animation.ng-enter {
	transition: 1s linear all;
	opacity:0;
}
.front-animation.ng-enter-stagger {
	transition-delay: 0.1s;
	transition-duration: 0s;
}
.front-animation.ng-enter.ng-enter-active {
	opacity:1;
}
#toast-container > div {
	-webkit-box-shadow: 2px 0 2px #5d3f6a;
	-moz-box-shadow: 2px 2px 0 #5d3f6a;
	box-shadow: 2px 2px 0 #5d3f6a;
}
#toast-container > :hover {
	-webkit-box-shadow: 2px 0 2px #5d3f6a;
	-moz-box-shadow: 2px 2px 0 #5d3f6a;
	box-shadow: 2px 4px 0 #5d3f6a;
}

.twitter:hover {
	color: #4099FF;
}

.logo {
	padding-right: 10px;
}

.score-side-table {
	width: 100%;
}

.skor {
	width: 30px;
	text-align: center;
}

.btn-bet {
	border: none;
}

.btn-profile {
	margin-bottom: 3px;
}
.half-transparent {
	opacity: 0.5;
}

.forty-transparent {
	opacity: 0.4;
}

.eighty-transparent {
	opacity: 0.85;
}

.half-transparent:hover, .forty-transparent:hover, .eighty-transparent:hover {
	opacity: 1;
}




.timeandplace {
	opacity: 0.75;
}

.game-list-item {
	padding: 20px 24px 16px 24px;
}
.person-list-item {
	padding: 20px 20px 0 20px;
}

.post-game-list-item {
	padding: 6px;
}

.liveskor {
	font-weight: bold;
	margin-right: 10px;
}

.text-maincolor {
	color: #8e44ad;
}

.text-fav {
	color: #F9690E !important;
}

.text-share {
	color: #26A65B !important;
}
.text-mention {
	color: #F9690E !important;
}
.text-del {
	color: #DC3023 !important;
}

.btn-post {
	color: grey;
	border: none;
	width: 100%;
}

.profile-image {
	width: 100%;
	border: solid 1px #eee;
	margin: -10px 10px 10px -5px;
	padding: 0;
	opacity: 0.9;
	border-bottom-right-radius: 20%;
}

.profile-page-profile-image {
	width: 100%;
	border: solid 1px #eee;
	margin: -11px 10px 10px -21px;
	padding: 0;
	opacity: 0.9;
	border-bottom-right-radius: 20%;
}

.people-profile-image {
	width: 100%;
	border: solid 1px #eee;
	margin: 0 10px 10px -5px;
	padding: 0;
	opacity: 0.9;
	border-bottom-right-radius: 20%;
}

.profile-background {
	background: url('/modules/core/img/bg/brillant.png');
}

.btn-transparent {
	background: transparent;
}

.profile-pills {
	width: 100%;
	margin-top: 10px;
	margin-bottom: -20px;
}

.post-buttons {
	margin-top: 10px;
	margin-bottom: -5px;
}

.panel-post {
	margin-bottom: 0;
}

.home-animated {
	margin-right: 6px;
	margin-bottom: 12px;
	-webkit-box-shadow: 6px 0 6px #5d3f6a;
	-moz-box-shadow: 6px 6px 0 #5d3f6a;
	box-shadow: 6px 6px 0 #5d3f6a;
}
.bg-full {
	position: fixed;
	top: -50%;
	left: -50%;
	width: 200%;
	height: 200%;
}
.bg-full img {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	min-width: 50%;
	min-height: 50%;
}


@-webkit-keyframes panning {
	0% {
		background-position: 0% 0%;
	}
	25% {
		background-position: 100% 100%;
	}
	50% {
		background-position: 100% 0%;
	}
	75% {
		background-position: 0 100%;
	}
	200% {
		background-position: 0 0;
	}
}

@keyframes panning {
	0% {
		background-position: 0% 0%;
	}
	25% {
		background-position: 100% 100%;
	}
	50% {
		background-position: 100% 0%;
	}
	75% {
		background-position: 0 100%;
	}
	200% {
		background-position: 0 0;
	}
}

.home-bg-pan {
	position: relative;
	height: 100%;
	width: 100%;
	background: black url('/modules/core/img/bg/8.jpg');
	background-size: 200%;
	-webkit-animation: panning 200s infinite linear;
	animation: panning 200s infinite linear;
}

.home-bg-pan-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.5);
}
